[2021-06-20 17:27] montagsmodell opened #828 "[v3.18.4] distance, time, speed, and geolocation values flicker between two values very fast (and shown data is incorrect)"
I am currently trying to add Moofit Cadence + Speed sensors to the app but it did not work so far. Currently, only the cadence value is displayed correctly. The speed value is way too low (like 3 km/h). Yesterday I saw that a new version of the app was available via f-droid. Version number is v3.18.4-9234da49.
After download I tried to pair both sensors again but it still doesn't work. Additionall

[2021-06-20 19:46] sebastianha commented on #828
Same here, the latest version 3.18.4 behaves wird on the main screen while recording. 3.18.3 was fine.

[2021-06-20 20:06] rgmf commented on #828
@dennisguse we introduce this bug here: https://github.com/OpenTracksApp/OpenTracks/commit/2f0449c4209633417d798b7b0f108a99f46956ad

I remember I tested OT before last version 3.18.4 and I don't understand how didn't I stumble upon this bug?

@sebastianha @montagsmodell thank you so much for open/comment it.

[2021-06-20 20:33] montagsmodell commented on #828
happy to help! regarding the cadence + speed sensor issue: Do you know if it is possible to pair the two moofit sensors at once?

[2021-06-20 21:14] dennisguse commented on #826
PS: If a sensor (like heart rate) is connected, we ignore the `Recording distance interval` and store the most recent measurement on each GPS measurement.

[2021-06-20 21:14] #826 closed

[2021-06-20 21:22] dennisguse commented on #828
Good news it only affects the UI while recording; the actual data is okay.

@rgmf you are right and we both overlooked it ;)
I introduced this issue while working on the speed sensor (and tested without using GPS at all).
The problem is that we sent different data to the UI when a GPS point is received and for the every 1s update.
This is already fixed (but not released): https://github.com/OpenTr

[2021-06-21 19:06] vsevjednom-cz commented on #825
Hmm, Optimizer deletes empty directories maybe. There is Settings -> Auto-clean junk files. Your app can limit this weird function.

[2021-06-21 19:45] dennisguse commented on #825
@vsevjednom-cz Can you check that this is not specific to your Android variant?
I have never seen such an option and I am reluctant to add workarounds for such things.
We have enough trouble with complexity already and adding more complexity is more like an anti-feature.

[2021-06-21 19:53] dennisguse commented on #814
I can also reproduce it on a LineageOS 17.1: the icon in the share menu is too small (within a large white circle).

[2021-06-21 20:09] dennisguse opened #832 "KMLTrackExporter should format numbers"
Data is just exported by using the `toString()` method.
GPXTrackExporter using formatters for this.

Relevant code:
[code]

[2021-06-21 20:11] dennisguse opened #833 "Cycling speed and distance sensor: returned weird value (way too large)"
Looks like an overflow issue.
Problematic data:
[code]

Device: Garmin Sensor Speed 2 (software revision unknown).
Wheel circumference: 2135mm

[2021-06-21 20:56] dennisguse commented on #833
Hypotheses:
* (A) Overflow issue (distance from sensor).
* (B) Sensor provided broken data (distance from sensor)
* (C) Distance was computed by GPS
  => previous TrackPoints were recorded every 1s; but this one was took 10s

For (A)
[code]

Just checked the sensor data (raw rotation count):
2021-06-13: 381,616
2021-06-21: 457,371

For the time interval the following would be expected: 10s at ca.

[2021-06-22 11:26] vsevjednom-cz commented on #825
You're right. It's weird function of my Android 9.1.0 EMUI. I enabled it earlier maybe.

[2021-06-22 11:26] #825 closed

[2021-06-22 15:19] #777 closed

[2021-06-22 15:26] dennisguse commented on #783
@gordonel I should have some time in July.
Can you get me such a sensor?

[2021-06-22 15:49] gordonel commented on #783
@dennisguse I think this can be de-prioritised for now. CGMs have been banned by UCI, and there seems to be little demand for it amongst non-cyclists

[2021-06-22 15:54] dennisguse commented on #783
Works for me; would have been a nice exercise ;)

Info: https://road.cc/content/tech-news/uci-bans-blood-glucose-monitoring-devices-races-283891

[2021-06-22 16:13] gordonel commented on #783
I'm thinking of buying a Supersapiens trial pack, but haven't decided yet

[2021-06-22 21:47] mega-stoffel opened #835 "wrong Kilometer and Time values (2x)"
**Describe the bug**
recording a track shows wrong values on the "track view" page.
I have twice the kilometers and twice the time of my current workout.

**To Reproduce**
1. start a recording
2. move around for some minutes
3. look at the screen, where all the data of this track is shown
4. You see the double amount of kilometers moved and time spent, as it really was
5. After you stop the record

[2021-06-22 22:01] vsevjednom-cz opened #836 "Avg moving speed is over/under Avg speed"
**Describe the bug**
I'm a little confused.
"Avg speed" is over "Avg moving speed" when GPS tracking is active.
But: "Avg speed" is under "Avg moving speed"  when I view older activity.

Is possible to unify it? For example "Avg moving speed" over "Avg speed".

[2021-06-23 00:58] SlidingHorn opened #837 "Should OT work with a Garmin Vivosmart 4?"
I'm looking into getting a wearable, and the Vivosmart 4 is standing out to me. I'm wondering if you knew/had any confidence as to whether it would work with OpenTracks in terms of sharing heart rate?

I'm also looking at the Forerunner models (would the built in GPS be helpful in more accurate GPS readings?)

[2021-06-23 04:21] dennisguse commented on #835
Introduced in v3.18.4;
And yes duplicate of #828.

Recorded data is okay, "just" an UI issue.
Fix is #831; you may compile yourself.
Release is upcoming.

PS: Nice trip!

[2021-06-23 04:21] #835 closed

[2021-06-23 04:29] dennisguse commented on #837
Nope and the device is not supported by Gadgetbridge.

Regarding HR: we support everything that provides the BLE profile for continuous measurement.
Some of the smartwatches like Miband can do this.
I can recommend to getting in contact with the Gadgetbridge team.
Smartwatches is (sadly) a hell of proprietary solutions.

Regarding GPS (for recording): not so far.
We can only use the internal GPS.

[2021-06-23 04:37] dennisguse commented on #837
And the Vivosmart4 only supports ANT+ for continuous HR.
https://de.manuals.plus/garmin/vivosmart-4-Handbuch/amp#bluetooth_settings

And that would require adding closed source libraries and is therefore not an option.
So, that is not going to work...

[2021-06-23 04:53] dennisguse commented on #775
Works already.
TrackImporter computes the speed if not imported by either GPX/KML.

[2021-06-23 04:53] #775 closed

[2021-06-23 04:59] dennisguse commented on #761
Todo:
* [ ] mock time for TrackRecordingService (i.e., the LocationHandler)
      I guess, the time is even generated by TrackPoint; would be good to replace it.
* [ ] unify TrackPoint assert over all tests
* [ ] use deterministic time

[2021-06-23 05:26] rgmf commented on #836
I'm working on #820 and I think #820 would fix this one, right?

[2021-06-23 06:36] vsevjednom-cz commented on #836
Yes, it looks like fix. Will be the same layout for tracking and not tracking..?

[2021-06-23 10:27] rgmf commented on #836
They cannot be the same because Current Speed wouldn't make sense for recorded tracks, for example.

[2021-06-23 12:52] vsevjednom-cz commented on #836
I mean only the same layout of average speed 🙃.

[2021-06-23 15:28] nutpantz opened #839 "testing and stable releases"
I love open tracks, but some times serious bugs happen which can really ruin a ride, run etc
Please b consider a stable branch and a testing branch so those who really need it to work have the fewest issues while giving those who want the bleeding edge the ability to test and report bugs the ability to do so.

 your feature request related to a problem? Please describe.**
A clear and concise descr

[2021-06-23 16:07] gdt opened #840 "Change pause/stop vibration feature"
OpenTracks causes vibration way too much, and it's hard to pause and stop.
I am up to date via f-droid, 3.18.4.

To reproduce,  start a track, and then hit pause or stop.  Notice that it buzzes once, leading you to think it did what you asked.  Then realize it didn't, and push/hold and endure a long period of buzzing before it takes.

I realize there is a need to avoid falsing, but it seems far be

[2021-06-23 17:26] dennisguse commented on #840
Yes, that was intended.
We implemented this in https://github.com/OpenTracksApp/OpenTracks/issues/241

What would be your actual suggestion?

PS: PR welcome

[2021-06-23 17:26] dennisguse commented on #840
@gdt Please be careful with labeling issues with `(potential) bug`.
This indicates something is really broken and usually kind of urgent.

[2021-06-23 17:34] gdt commented on #840
As a user, this made me almost think about uninstalling.  But I see your point that this is preference.

Reading over that linked issue, I think what's really wrong in the current scheme is abuse  of vibration.   In my view vibration should only be used as a component of a notification, or very very brief as a confirmation tone.

So my two concrete suggestions are:

  * Add a preference for "use v

[2021-06-23 18:09] dennisguse commented on #839
Suggestions and resources are welcome.

TL;DR

I couldn't agree more.
We had some stability incidents so far and, you are right, most recently some ugly ones were introduced as we started working on ancient parts (and most of them were introduced by @dennisguse).

If you have resource to spare, feel free to contribute by:
* manual testing (individual PRs and before releases)
* provide nightly buil

[2021-06-24 01:51] SlidingHorn commented on #837
I'm looking for a wearable that allows me to track my rides and my overall fitness. I've looked at Gadgetbridge to see what would be compatible, so I've refocused my search toward those devices.

I guess my remaining question would be: If I end up getting a watch with GPS, would OpenTracks use that as well as the GPS on my phone or is it one or the other (and which of the two would likely be more

[2021-06-24 06:12] dennisguse commented on #837
No.

TL;DR
Not directly. You may use the smartwatch to record your tracks (if it has a GPS) and then export the data via Gadgetbridge (if supported). Then you can import these tracks into OpenTracks, but I don't see the benefit.
OpenTracks only supports internal GPS.

I am not even sure if there are smartwatches out there that support this in some standardized (aka non proprietary way.

[2021-06-24 10:02] #828 closed

[2021-06-24 14:32] vsevjednom-cz opened #841 "Inaccuracy in Czech translation"
**Describe the bug**
`Obnovit skladbu` in czech translation means something like "restore song". The Czech language is one of the most difficult languages in the world 😋.
Look at the Google translator: https://translate.google.cz/?sl=cs&tl=en&text=Obnovit%20skladbu

**To Reproduce**
Tap to menu 📱.

**Technical information**
`<string name="menu_resume_track">Obnovit skladbu</string>` in `cs/strings

[2021-06-24 14:54] rgmf commented on #841
@vsevjednom-cz thank you for open it.

If you want you can fix it and open a PR. Although the best for translations is enter here and write/change the strings: https://weblate.bubu1.eu/engage/OpenTracks/

It would be great ;)

[2021-06-24 16:00] vkbellis opened #843 "Shared Track - vertex height attribute"
**Is your feature request related to a problem? Please describe.**
No, not exactly.

**Describe the solution you'd like**
I'm just curious if the exported line feature from OpenTracks (KMZ format) and in particular, the vertices, if the Elevation attribute is supposed to be ellipsoid height?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions o

[2021-06-24 16:25] dennisguse commented on #843
Elevation is in  Height Above Ellipsoid (i.e., WGS84) for all exported formats.
For the UI, we compute EGM2008.

[2021-06-24 16:25] #843 closed

[2021-06-24 16:29] #814 closed

[2021-06-24 16:30] dennisguse commented on #814
@Altonss Please re-open, if this does not solve the issue.

[2021-06-24 16:34] Altonss commented on #814
Thanks a lot, I will wait for the next release to be available on F-Droid and give you my feedback :)

[2021-06-24 16:39] dennisguse commented on #814
@Altonss if you have a sec you can also try it directly ;)

[OpenTracksUpstream-releasePlayStore.zip](https://github.com/OpenTracksApp/OpenTracks/files/6710836/OpenTracksUpstream-releasePlayStore.zip)

[2021-06-24 16:49] #837 closed

[2021-06-24 16:53] Altonss commented on #814
On the left the icon before the bugfix and on the right with the bugfix, I think it's better now :)
![image](https://user-images.githubusercontent.com/66519591/123302553-1b141180-d51d-11eb-84ce-7674aabf138f.png)

But I noticed this bug also on both versions, that should be addressed in another issue. Thats the screen when opening the app:
![image](https://user-images.githubusercontent.com/66519591

[2021-06-24 17:19] dennisguse commented on #814
Thanks for testing and great that it works.
Always cool to fix something that one cannot test :)

PS: The splashscreen will stay that way.
Android (<6.0; <API23) renders the image to small and then upscales.
It is not nice, but not that bad.
Adding a version differentiation adds (IMHO) too much complexity.

[2021-06-24 17:20] Altonss commented on #814
Thanks for the info ;)

[2021-06-24 17:30] vkbellis commented on #843
What is the best way for the user to capture ortho heights (H) from OpenTracks?

[2021-06-24 17:32] dennisguse commented on #843
Don't know what that means.
Do you mean height above ground?

[2021-06-24 17:53] vkbellis commented on #843
EGM2008 is the gravity model (geoidal separation) that you mentioned using which allows orthometric heights to be calculated. Are those heights able to be saved or captured in a file?

[2021-06-24 18:00] dennisguse commented on #843
That would be possible, but you can also add this info in post-processing.
For the UI, we are using the data from GeographicLib (and hopefully the same implementation): https://geographiclib.sourceforge.io/html/geoid.html

Adding export is not too complicated, but it adds additional complexity.

What is the problem you want to solve?

[2021-06-24 19:04] vsevjednom-cz commented on #841
I tried to edit translation of `Resume track`. I hope you see it. I'll fix other inaccuracies of translations in future 🙃.

[2021-06-24 19:23] vkbellis commented on #843
_Would be_ sounds like it isn't currently, and that's fine, I was just asking.

The reason for my asking is because the Samsung Galaxy SM-A716U has erroneous geoidal separation values. Somebody mentioned that OpenTracks uses the geoid model EGM2008 and I wondered if an exported file would support that claim.

[2021-06-24 20:26] dennisguse commented on #843
Now I would be interested in a link :)

OpenTracks just uses Android's LocationManager and that should provide altitude in WGS84.
Whatever the actual hardware/driver does is beyond our control.
We are also not parsing the NMEA response (as GPSTest does).

And OpenTracks stores and exports, what it gets from the LocationManager (we assume WGS84) and then we correct this value using EGM2008 correcti

[2021-06-25 06:08] dennisguse commented on #841
@vsevjednom-cz I just checked and I saw the translation - not yet in OpenTracks as Weblate has a grace period for translations (to not commit every single change).
Before every release (at least) I pull the localization updates.

[2021-06-25 06:08] #841 closed

[2021-06-25 10:59] smu55 opened #844 "Altitude gain and loss not available"
Hi
As you can see in the screenshots the gain and loss of altitude/elevation are not shown, neither live nor in the stats, although the actual altitude is measured. So it must be simply a calculation issue. I use a Samsung Galaxy a51 with German translation.
Thanks for looking into it.

![Screenshot_20210625-124900_OpenTracks](https://user-images.githubusercontent.com/26635954/123414772-996fc280-d

[2021-06-25 11:41] smu55 opened #845 "Gear calculation"
Hi,
If I have a cadence and speed sensor, knowing the wheel circumference (ex 622/25) and the tooth numbers of my cassette (ex 12-25) and chainring (ex 50/35, all manually inserted data), it should be possible to live calculate the actual gear I am using in every situation. This data could also help evaluate in post the usage of gears. Theoretically one could even calculate the actual estimated po

[2021-06-25 14:25] rgmf commented on #844
I suppose your smartphone doesn't have barometric sensor, right? Maybe this can help you: https://github.com/OpenTracksApp/OpenTracks/issues/756

[2021-06-25 14:29] vkbellis commented on #843
I'm unsure which link you might be referring to, but maybe this was what you wanted(?)
https://github.com/barbeau/gpstest/issues/530

The exported KMZ contains ellipsoid heights (h). Consider option to export orthometric heights (H); e.g., EGM2008.

Red dots are OpenTracks ellipsoid heights. Green is terrain model from lidar.
![OpenTracks KMZ and Terrain Model](https://user-images.githubuserconten

[2021-06-25 17:13] dennisguse commented on #844
@rgmf I checked: the a50 does not have a barometric sensor and thus no data is shown.
Deriving gain/loss from GPS (kind of noisy elevation data) is not easy as summing a noisy signal is a bad idea.

* Workaround aka hide the missing data: https://github.com/OpenTracksApp/OpenTracks/issues/791
* Actual fix (do some magic math): https://github.com/OpenTracksApp/OpenTracks/issues/619

PS: The German

[2021-06-25 17:13] #844 closed

[2021-06-25 17:20] dennisguse commented on #845
In theory yes: but why?
And you could do this in post-processing if you wanted to.

TL;DR
And the cadence does not tell you how much power was actually applied and thus computing some kind of wear gets difficult.
And the actual wear is created by the stretching the chain over time, so it affects the wear of all gears.
And changing individual parts of the cassette is (in my price range) actually no

[2021-06-25 17:31] dennisguse commented on #843
@vkbellis Now I am confused :)

1. Do you have a link for "Samsung Galaxy SM-A716U has erroneous geoidal separation values."?
2. We are exporting to GPX WGS84 as defined in the standard:  `Height (in meters) of geoid (mean sea level) above WGS84 earth ellipsoid. As defined in NMEA GGA message. ` (https://www.topografix.com/gpx/1/1/gpx.xsd)
3. We are exporting to KML/KMZ WGS84 aka `h`. But I do not

[2021-06-25 18:50] vkbellis commented on #843
Samsung's erroneous value is given in the NMEA sentences, for example:
GPSTest v3.9.12 (18089-google), Manufacturer: samsung, Model: SM-A716U, GNSS HW Year: 2019, Platform: 11, API Level: 30
`$GNGGA,215300.00,4432.673982,N,06825.027815,W,1,12,0.6,66.7,M,-45.0,M,,*7B`

44.5445663667, -68.41713025
[GeoidEval](https://geographiclib.sourceforge.io/cgi-bin/GeoidEval?input=44.5445663667+-68.41713025+&op

[2021-06-25 19:10] dennisguse commented on #843
Now I understood it ;)

@vkbellis this is not a programming issue - more an information retrieval problem.
I did not find any definitive answer for KML/KMZ to which reference model the altitude should be encoded.
I just have limited to time read through all these standard documents.

So (for now), OpenTracks export WGS84 HAE for both formats.
For KML/KMZ, this might not be correct and we may be ab

[2021-06-25 19:29] rgmf commented on #844
I opened a PR with the workaround.

A word with 17 letters and only 4 vowels!!!! It blows up spanish people mind :rofl: :rofl:

[2021-06-25 21:26] vsevjednom-cz opened #847 "FATAL EXCEPTION: AsyncTask 🤪"
**Describe the bug**
I found this bug accidentally 🙃. It's not an important error. But it can happen sometimes 🤖.

**To Reproduce**
1. Start tracking.
2. Go to the list.
3. Mark current activity.
4. Tap to the menu and to the `Delete` (`menu_delete`).
5. Confirm it.
6. `FATAL EXCEPTION`

**Technical information**
 - Device: Honor KSA-LX9
 - OS: Android 9.1.0

[code]

[2021-06-27 11:36] rgmf commented on #847
Yes, I can reproduce it. With post-export option on when you delete the current recording track OT crashes.
Good catch @vsevjednom-cz

[2021-06-27 17:18] #847 closed

[2021-06-27 18:14] vkbellis opened #850 "[Android/GPS driver] Orthometric heights (H) being reported as geoid EGM2008 appear skewed"
**Describe the bug**
Orthometric heights (H) being reported as geoid EGM2008 appear to actually be ellipsoid heights (h).

**To Reproduce**
Examine the displayed height on Stats_screen under the heading 'ELEVATION', or any of the vertex elevations in the exported GPX or KML files, and then compare with actual surveyed values.

**Technical information**
 - Device: Samsung Galaxy SM-A716U
 - OS: And

[2021-06-27 20:24] dennisguse commented on #850
Let me rephrase this:
1. You took a hike and walkted by BBBF03
2. You took a screenshot showing EGM2008 with -16m
3. You exported the full track as GPX and figured out that vertex 399 is the closest trackpoint to BBBF03
4. for BBBF03: the WGS84 ellipsoid height is -22.665m
5. for BBBF03: the EGM2008 ortho height is 2.645m

And you expected OpenTracks to show 2.645m + 1.1m (height of the device abo

[2021-06-28 08:51] vkbellis commented on #850
@dennisguse - Yes. Spot on.

Kind regards,

Kelly

[2021-06-28 14:59] dennisguse commented on #850
Next (bad) question: any suggestions?

My thoughts:
1. Phone is broken (that's the "some else's  fault" excuse)
2. GPS returned invalid height values?
    Might have been inaccurate - usually only a problem in dense areas + fast moving (aka cycling).
    Could you just wait for some time and see what happens at this location?
3. EGM2008 adjustment is broken
    Good thing: I implemented it myself,

[2021-06-28 15:01] dennisguse commented on #850
Next step for me: check a local GPS reference point.
https://de.zxc.wiki/wiki/Liste_geod%C3%A4tischer_Referenzpunkte_in_Deutschland

[2021-06-28 15:30] vkbellis commented on #850
@dennisguse - 1. No question is bad
2. No, the ellipsoid (h) values are consistently in a reasonable range of values (given smartphone's GNSS receiver and poor GNSS antenna).
3. Implementation of geoid model needs examination. Consider a small separate app for only testing geoid models. Nothing fancy, just bare bones, and focused on static observations over known (published) vertical benchmarks. E

[2021-06-28 15:55] #791 closed

[2021-06-28 16:22] ytc-1 opened #853 "Display while recording doubles values, but flips momentarily to correct ones"
**Describe the bug**
When recording trip date the display is showing double everything (time, average speed, moving speed etc).
If I watch it while cycling (not safe :-)) I note that every 15 seconds it flips back to the true readings.

When the recording has finished, the actual/true readings are given.

**To Reproduce**
Start recording
Start moving
Get confused by output telling you you have rid

[2021-06-28 17:35] vkbellis commented on #850
@dennisguse  - After looking at your link for public geodetic reference points and then mapping the ones listed in the greater Berlin area, I see they're quite sparse.

[Public Geodetic Reference Points.zip](https://github.com/OpenTracksApp/OpenTracks/files/6728209/Public.Geodetic.Reference.Points.zip) contains KML file for Google Earth, GIS, etc.

![(4) Public Geodetic Reference Points - Berlin](

[2021-06-28 19:23] vsevjednom-cz commented on #763
My `Voice frequency` is in gray colour. Tap isn't possible. So is possible to enable some clink announcement in this case?

[2021-06-28 20:43] dennisguse commented on #850
@vkbellis I am planning to check the one close to Berlin main station.
And Berlin is kind of flat, so I guess there is not that much need to for GPS reference points ;)

By the way: I have a Etrex 30.
Do you know, if there is something I need to know about the reported altitude?
So far, I did not care too much :)

[2021-06-28 20:54] dennisguse commented on #853
Duplicate of #828 and fixed in v3.18.5 (not yet on F-Droid).

TL;DR
Was a fuck up on my side while testing only with a cycling sensor indoors.
Sorry for the inconvenience and thanks for reporting it!

The problem now is that v3.18.5 is not yet build/distributed via F-Droid.
... and they seem to have some build issues again - last run on there side was on the 25th of June.
So, it may take at least

[2021-06-28 20:54] #853 closed

[2021-06-28 20:56] dennisguse commented on #840
Let's see what we can do (aka other stuff is more important).

So, far we display a tiny message informing the users that they need to keep the button pressed (and we vibrate).

[2021-06-28 21:18] dennisguse commented on #763
@vsevjednom-cz Yes, it will the settings are deactivated, if not TTS is available.
What do you mean by "clink announcement"?

PS: moving this to a new issue might be a good idea.

[2021-06-29 08:34] ytc-1 commented on #853
On 28/06/2021 21:54, Dennis Guse wrote:

Sorry, I'd read the bug list and and didn't see this as a duplicate.
Maybe I should have gone to the forum chat 1st?

--

Bruce D Porter
http://www.ytc1.co.uk

"The internet is a huge and diverse community, who are mainly friendly"

[2021-06-29 10:03] dennisguse commented on #853
@ytc-1 Don't worry; I forgot (again) about delay for F-Droid - I should have pinned the issue, so people can find it easily.
Creating an issue was fine as it is a real problem.
Github's discussion is more for QA question, but we have not really used it that much - you can also create an issue for this :)

Have a nice day!

[2021-06-29 15:00] vkbellis commented on #850
@dennisguse
I thought that you would be using your Android smartphone, not your Garmin.

Regarding your currently chosen control point for tests and the information pamphlet that I downloaded from your provided link:
https://de.zxc.wiki/wiki/Liste_geod%C3%A4tischer_Referenzpunkte_in_Deutschland

_(I'm using Google to help translate)_
Reference point Berlin-Mitte
Ludwig-Erhard Shore, Spreebogenpark

[2021-06-30 18:25] SlidingHorn opened #854 "Version 3.18.5 Still Not on F-Droid"
I've been anxiously waiting for 3.18.5 to come across on F-Droid due to issue #828, and it still hasn't come across.  I know it usually takes a couple days for an update to be found & built, but I feel like we're outside the normal time window.

Was there something weird with the latest release?

[2021-06-30 19:42] SlidingHorn commented on #854
Okay, so I bugged the nice people in the F-Droid matrix chat room and had someone (slowly) explain to me how the build process works, and it turns out, the previous build (which kicked off just a few hours before 3.18.5 was released) had been in limbo until  awaiting signing and publishing until today.

That kicked off another build cycle today, in which OpenTracks was included.

[2021-06-30 19:42] #854 closed

[2021-06-30 19:59] dennisguse commented on #854
Sometimes it (sadly) just takes time.
Thanks for taking care!

... and usually I am not careful enough when drafting releases.
"Works for me"-style...

[2021-07-01 16:37] matrixik opened #860 "Replace UUID with ULID"
**Is your feature request related to a problem? Please describe.**
Replace UUID with [ULID](https://github.com/ulid/spec) so exported names can be sorted lexicographically.

**Describe the solution you'd like**
It would fix people complains about wrong order of exported files (like https://github.com/OpenTracksApp/OpenTracks/issues/512#issuecomment-817359415) and still provide unique identifier fo

[2021-07-01 17:02] dennisguse commented on #860
If those are binary compatible and solve a problem - why not.

Some things to consider:
* Gadgetbridge also needs to be changed as they nowadays generate `opentracks:uuid` as well.
* `opentracks:uuid` in the export/imports is required to be backward compatible

And I am (personally) not a fan of adding external dependencies to OpenTracks as it complicates long-term maintenance.
So, far we managed

[2021-07-01 18:55] vsevjednom-cz opened #861 "Question: where/how can I get activity ID?"
I want to update activity name/desc (`TrackUtils.updateTrack`) in my own `AbstractActivity`. But I see only `opentracks:trackid` in XML (`e03aa77a-a7d6-40ad-9fe2-af436247d0ef` for example). But `TrackEditActivity` uses some id of activity (258 for example) instead of `opentracks:trackid`.

Where/how can I get this activity id?

[2021-07-01 19:07] vsevjednom-cz opened #862 "Clink announcement 🔉 for phones without TTS"
**Is your feature request related to a problem? Please describe.**
Phones without TTS can't use voice announcement. #763

**Describe the solution you'd like**
Some sound like sms notification every kilometer for example?

**Additional context**
Something like this: https://www.youtube.com/watch?v=TCMg0J8mfuE

[2021-07-01 20:14] dennisguse commented on #861
What you are looking for is `Track.getId()` vs. `Track.getUuid()`.
And you may take a look at: `ContentProviderUtils.getTrack(uuid vs. TrackId)`

Internally, we always use `Track.getId()` and for import `Track.getUuid()` as `Track.getId()` is specific to the database.

[2021-07-01 20:44] dennisguse opened #863 "TrackStatisticsUpdater might not set startTime correctly"
Don't know if this is really need.

Problem might be that TrackStatisticsUpdater cannot be initialized with:
[code]

Introduced in: 2f0449c4209633417d798b7b0f108a99f46956ad
Remedation: check if ExportImportTests set the startTime correctly.

If everything works: simplify code by removing this attribute.

[2021-07-01 21:31] vsevjednom-cz commented on #861
Thank you, nice! But how to call `ContentProviderUtils.getTrack`? I know UUID from the GPX.

I tried something like this:
[code]
But there's `FATAL EXCEPTION`:
`java.lang.NullPointerException: Attempt to invoke virtual method '...' on a null object reference}`

😥 😓

[2021-07-02 19:30] dennisguse commented on #850
Today I went to:
[code]

with four devices:
* etrex 30
* Nexus 7 2013 / LTE
* GT-I9505
* Pixel 1

with the following results using Openacks (v3.19.5 slightly modified):
* original GPS altitude ca. 75-85m
* EGM2008 corrected: ca 35-45m

Modifications to OpenTracks:
* altitude with one decimal point
* _as the displayed altitude_ is only updated when a new location is stored: the minimum required dis

[2021-07-02 19:45] dennisguse opened #866 "UI: update altitude when not moving"
When someone is stationary, the GPS might provide better estimations for the altitude.
However, we use the "min recording distance interval" and ignore all GPS measurements if this threshold is not reached (except if a BLE sensor reports data).

A mitigation is this: https://github.com/OpenTracksApp/OpenTracks/pull/865
... but that requires manual effort by the user and is not really intuitive.

[2021-07-02 20:06] dennisguse opened #867 "[lint] Potential Plurals: files"
[code]

TODO
* [x] files
* [x] voiceHours
* [x] voiceMinutes
* [x] voiceSeconds
* [x] voiceSpeedKilometersPerHour
* [x] voiceSpeedMilesPerHour
* [x] voiceTotalDistanceKilometers
* [x] voiceTotalDistanceMiles
* [x] remove OpenTracks (or old JyTracks) prefix from voice_template

[2021-07-02 21:27] dennisguse commented on #861
For trying it out: just hardcode the UUID.

[2021-07-02 21:28] dennisguse commented on #854
v3.19.5 is now also on F-Droid :partying_face:

[2021-07-02 21:35] SlidingHorn commented on #854
Grabbed it this morning!  I'd been refreshing the buid page regularly lol

[2021-07-02 22:01] dennisguse commented on #854
I know this feeling :)

[2021-07-03 09:33] vsevjednom-cz commented on #861
🤪 But where? I'm trying it again and again without success 😟. Or do you mean hardcode in `TrackEditActivity`? I don't want to edit code of OpenTracks... so... my problem is solved. I'll not to do anything 😋.

[2021-07-03 09:35] dennisguse commented on #861
Yes.

Posting a stacktrace usually helps + I would rather move this into the discussion section.

[2021-07-03 09:49] dennisguse commented on #861
Here: https://github.com/OpenTracksApp/OpenTracks/discussions

PS: and do you have your code in branch?
I am not sure where you get the NPE.

Regarding stacktrace: usually, the last three lines are the most helpful (message + 2x `at`)

[2021-07-03 13:05] vkbellis commented on #850
@dennisguse - Thank you for sharing.

Based on these observations, it appears my original idea was wrong; i.e., "_Orthometric heights (H) being reported as geoid EGM2008 appear to actually be ellipsoid heights (h)_",  I'm therefore revising the title of this issue to: **_Orthometric heights (H) being reported as geoid EGM2008 appear skewed_**

To help in discussing, I've named your photos A and B.

[2021-07-03 15:52] dennisguse commented on #863
This is not an issue; it is just leftover code.

[2021-07-03 16:03] dennisguse commented on #850
On the one hand, great that this is not an issue regarding the EGM2008 implementation.
On the other hand, well that somehow sucks - as we cannot really account for this kind of

The upcoming version of OpenTracks will add the functionality to record all reported GPS locations (https://github.com/OpenTracksApp/OpenTracks/pull/865), so if one can remain stationary to give the GPS time to improve acc

[2021-07-03 18:06] vsevjednom-cz commented on #861
I don't want to edit OpenTracks code - how you advised me earlier. So another idea: is possible to add id of activity into GPX export? Into tag named `opentracks:activityid` for example.

[2021-07-03 19:12] dennisguse commented on #861
What do you mean by activityId?
* the internal database id aka `Track.Id`,
* the exported `opentracks:trackid` aka UUID, or
* some id for the so-called category (e.g., cycling, hiking etc), or
* something else?

And what is your use-case?

[2021-07-03 19:19] vsevjednom-cz commented on #861
I mean `Track.Id`. I'll save this `Track.id` into my MySQL and later I can update the name and description of the activity in my `AbstractActivity`.

[2021-07-04 06:38] dennisguse commented on #861
Track.Id: is local to the device's sqlite database
Track.getUuid() / opentracks:trackid: is (almost) guaranteed to be global unique

Internally, OpenTracks uses `Track.Id` (as it is faster to handle for the database), but we do lookups also via `uuid` (on import to prevent duplicated imports).

TL;DR

I would advise against storing the `Track.Id` into your MySQL.
This identifier is _local_ to the

[2021-07-04 06:55] dennisguse opened #868 "Translations: use Android default if available"
We have a lot of "standard" translations that can be replaced, e.g.,
* R.string.generic_no -> android.R.string.cancel
* R.string.generic_yes -> android.R.string.ok

This will reduce the effort to maintain the translations.

[2021-07-04 08:36] vsevjednom-cz commented on #861
Ok, I'll write you more about my app 🙃.

I created these AbstractActivities and another classes:
`LoginActivity` - for login (HTTP POST). It returns a token.
`UploadActivity`, `UploadAsync`, `UploadInputStream` - for upload GPX files. This is the place where I find `Uuid` from GPX and I can save it to the MySQL at my server.
`WebActvity` - for view activities of user and of people which user follo

[2021-07-04 11:59] dennisguse commented on #861
Understood.
You want to use TrackEditActivity and this only accepts Track.Id, right?

If so, just extend TrackEditActivity to be able to use UUID as well - that is something we can integrate.
Just check if a Track.Id was passed or a TrackUUID using different parameter names.

[2021-07-04 13:12] vsevjednom-cz commented on #861
Just check if a Track.Id was passed or a TrackUUID using different parameter names.

Yes, yes, yes! 🥳
Extend of TrackEditActivity to be able to use UUID - sounds amazing 🤩.

To make works something like this:
[code]

[2021-07-04 14:53] #863 closed

[2021-07-04 17:47] dennisguse commented on #861
Or you just do something like this:
[code]

[2021-07-04 20:28] vsevjednom-cz commented on #861
`Cannot resolve method 'getTrack(java.lang.String)'` 🤪
But I need update name/desc/type automatically 🙃.

[2021-07-05 06:32] underr-ua commented on #840
When i start recording a track and then short press on stop recording (something in the middle between really short press and hold the button, recording doesn't stop) i get constant vibration. I see such behavior  in all latest versions.

[2021-07-05 10:03] #868 closed

[2021-07-05 10:05] dennisguse commented on #861
@vsevjednom-cz Please share some of your code.
I am good at guessing, but not that good :zany_face:

[2021-07-05 10:06] dennisguse commented on #840
@underr-ua That sounds like another issue can you a create a new one for this (incl. some more details like phone etc)?

[2021-07-05 10:09] dennisguse commented on #861
[code]

You will have to convert the String to an actual UUID.

[2021-07-05 10:23] underr-ua commented on #840
Ok, I'll create another ticket.

[2021-07-05 11:05] vsevjednom-cz commented on #861
🙃 🙃 🙃

I want to update name/desc/type from my website for the last synchronized activity: `getNameFromWeb(token);`
`token` is user's token from my `LoginActivity`.

Method `getNameFromWeb` looks like this:
[code]
It probably works with Track.id but I don't know Track.id from GPX file 🤪.

[2021-07-05 14:56] vkbellis commented on #850
Adding a tool to record stationary (static) observations will be very helpful indeed! See my comments at: https://github.com/OpenTracksApp/OpenTracks/pull/865#issuecomment-874151185

1. It's worth the effort if there are users are comparing OpenTracks display of orthometric heights (H) with published or known elevations at mountain summits, benchmarks, etc. Yes, it would be very helpful for testin

[2021-07-05 14:59] dennisguse commented on #861
Change:
[code]
                UUID trackId = UUID.fromString(response);  // but I guess your response contains more than the UUID, right?
[code]

[2021-07-05 15:55] dennisguse commented on #867
Holy shit - that will a long day of copy and paste.
We need to copy the plurals.xml into every strings.xml and then resolve the string reference manually.
And also remove unused plurals for each language.

[2021-07-05 16:42] dennisguse opened #873 "Make WGS84/EGM2008 configurable by user"
... just do it.

[2021-07-05 19:39] vsevjednom-cz commented on #861
Wow, it works!!! 🙃 🙃 🙃
Yes, I've got more things in `response`. This is only example.

You're right. Java is new for me. This was only my misunderstanding. I'm reading and reading about Java.

So... Solved. Extend of TrackEditActivity is not necessary.

[2021-07-05 19:39] #861 closed

[2021-07-05 20:47] dennisguse commented on #861
Awesome!

Here you can find some trainings: https://developer.android.com/courses
(don't know how good they are ><)

PS: Java in itself is okay, but the combination with Android's lifecycle can be very painful.

PPS: I prefer Java and there is no plan to migrate to Kotlin.
I just don't see the benefit of this language (although we use it at sometimes work :shrug:).

[2021-07-06 13:00] vkbellis commented on #873
Please let us know when testing becomes available.

[2021-07-06 14:50] dennisguse commented on #873
@vkbellis Will do; probably next week.
I am just fixing some annoying stuff regarding translations: "copy and paste"-hell :man_shrugging:

One further question: I would implement this as a setting aka you have to go to the settings page and set it there.
Does this work you?

[2021-07-06 15:29] dennisguse opened #876 "Improve accessbility for TTS"
For accessibility (and probably better pronunciation as well), we should use: https://developer.android.com/reference/android/text/style/TtsSpan

[2021-07-06 19:11] vkbellis commented on #873
Makes sense to me :)

[2021-07-06 19:23] vkbellis commented on #850
![3-Tracks-20210703](https://user-images.githubusercontent.com/82275968/124604233-bb7d0680-de38-11eb-9549-de30771f1f78.jpg)

I had originally planned on repeating this experiment on all 3 Android devices using Andrzej Bieniek's [Mapit Spatial](https://play.google.com/store/apps/details?id=com.mapitgis.spatial&hl=en_US&gl=US); however, as best as I could determine, his app doesn't record orthometri

[2021-07-08 18:36] dennisguse commented on #867
These commits also fix a lot of plural issues (e.g., quantity incorrectly used) that were not shown prior by the linter.
Also invalid TTS strings were removed.

[2021-07-08 20:57] #867 closed

[2021-07-08 20:57] dennisguse commented on #867
We saved about 140k.

[2021-07-11 07:38] dennisguse commented on #611
@StefanKley Any news on this one?

[2021-07-11 08:00] andrearicci commented on #611
Hi, in v.3.18.4 4151 the effect was still there. Now my xiaomi is dead an I got a new phone so I can't check it any more.

[2021-07-11 08:09] andrearicci opened #879 "small typo in italian interface"
**Describe the bug**
there' a typo in italian translation:
in any track record screen, top-right corner "PEDISTANZA" I guess it should be "PER DISTANZA" (by distance?)
![opentrack-typo](https://user-images.githubusercontent.com/1193266/125187429-e64bce00-e22f-11eb-9a8d-e5f1ac800f27.jpeg)

(I wanted to fix it but I couldn't find the right file)

[2021-07-11 10:18] Zugschlus opened #880 "ignore implausible GPS data"
I am always frustrated when the GPS part of my phone delivers implausible data (for example one sample of latitude 0 and longitude 0 inside a run in german) and Opentracks writes out a trace file containing this implausible sample, causing the maps app to log a run that goes over thousands of miles to the equator and back. I cannot walk so large distances, and I cannot walk at the place lat 0 long

[2021-07-11 11:57] StefanKley commented on #611
Hi Dennis,

sorry I lost track of this since my build worked and I could use it without troubles...
I checked the currently available version "v3.18.5-823dc1c12- Code 4176" (f-Droid app store) and the problem persists.

I also did a build of the current code "v3.18.5". (Without any changes the ongoing vibration kicks in as expected.)
When changing "DEFAULT_ALL" to "DEFAULT_LIGHTS" as described in

[2021-07-11 14:52] dennisguse commented on #880
@Zugschlus Are you sure these are GPS locations?
We also have TrackPoints that have _no location_ - more details: https://github.com/OpenTracksApp/OpenTracks/issues/639

How are you exporting?
KML/KMZ contain nowadays empty  locations aka `<gx:coords />` if those were created by the user (i.e., start recording, pausing, stop).
GPX does not contain these as a coordinate is required.

[2021-07-11 14:54] #879 closed

[2021-07-11 14:55] dennisguse commented on #879
Thanks - it was in `src/main/res/values-it/strings.xml`.

You can also use our weblate setup to work translations: https://weblate.bubu1.eu/projects/OpenTracks/

[2021-07-11 15:18] dennisguse opened #882 "Downsize TrackRecordingService."
For a lot of reasons, we need to migrate a lot of functionality into other places (behind HanderServer).

Some reasons:
* #761
* #873
* #500
* #800
* #866

[2021-07-11 18:09] vanous commented on #860
Let us know how you decide to proceed @dennisguse , so we can follow as necessary.

[2021-07-11 18:18] vanous commented on #597
Let me use this issue for a quick question @dennisguse please. Is there a way to export a single/multiple GPX from OT?

Background: we allow exporting GPX from [Gadgetbridge](https://codeberg.org/Freeyourgadget/Gadgetbridge/), but importing and using it was not really possible... but now it will be [easier/possible](https://codeberg.org/Freeyourgadget/Gadgetbridge/pulls/2341) to import and link a

[2021-07-11 18:21] dennisguse commented on #597
@vanous Yes, but only manually via the settings.
Or using the automatic export after a finishing a recording.

[2021-07-11 18:22] dennisguse commented on #860
@vanous Not my problem - if somebody wants it, they have to built it.
Being backward compatible will be kind of painful though.
:man_shrugging:

@vanous Thanks ;)

[2021-07-11 18:26] vanous commented on #597
This is interesting, do you mean the `Settings → Tracks → Export all`?
The automatic export is also very interesting. I will explore it and document to our wiki :)
Thank you very much!

[2021-07-11 21:05] #611 closed

[2021-07-12 15:19] Zugschlus commented on #880
Nö, that was just a (probably incorrect) conclusion coming from the fact that the GPS on my Nokia 7.2 Phone sometimes reports absurd "fixes" even in other Apps.

Ah, interesting. i use Osmand+, currently Version 3,9.10.

I call up the track and click on the map icon (top right side, left of the share icon) and then select Osmand+ in the "Open as KMZ" dialog. My 25 minute run of this morning shows

[2021-07-12 15:50] dennisguse commented on #880
We do not include these points in GPX -> thus, the data cannot be exactly restored in OpenTracks.
So, if you have 0,0 in GPX, then something is broken with your GPS.

And OSMAnd was adjusted in March: https://github.com/osmandapp/OsmAnd/commit/80ea50ff963c7a0fc74a64612c8c4b2cf97c8b0d#diff-b0eaf9bf1f548abf17eba642d9ed3e88ce157c6506881587a919918366a95ede
So, it should understand `<gx:coords />`
But

[2021-07-12 16:56] Zugschlus commented on #880
Can you recommend a different mapping app that does correctly handle OpenTracks' output so that I can see whether the export is indeed ok?

As to the "something broken with your GPS", that's the reason why I am suggesting a plausibility check: Nokia is unlikely to even listen to a bug report, so the Apps need to work around. Filtering out implausible data is also a security feature.

Greetings
Mar

[2021-07-12 19:17] dennisguse commented on #880
Just try GPX - if you still see 0,0 then the GPS data is wrong.
If not, then OSMAnd does not handle `<gx:coords />` properly.

And you may use OSMDashboard.
The integration is also nicer with OpenTracks.

[2021-07-14 17:04] dennisguse commented on #639
Empty coordinates are now also support by OpenLayers 6.6.0: https://github.com/openlayers/openlayers/releases/tag/v6.6.0
Thanks @voegelas!

Great job!

[2021-07-14 17:04] #639 closed

[2021-07-15 16:12] dennisguse commented on #880
@Zugschlus did this work for you?

[2021-07-16 11:35] Zugschlus commented on #880
I select a track, click on the Map Icon, I get one "Complete action using OpenTracks" prompt and an alternative "OpenTracks Open as KMX". When i select "Open as KMX", I get an incorrectly mapped track. When I do this again, the alternative is "Open as GPX", but the result is equally incorrect. It is not nice that the actually used format does seem to be hidden away in the dialog.

I didn't know ab

[2021-07-17 05:15] dennisguse commented on #880
@Zugschlus If you also see this issues with GPX, then might still be a problem in OpenTracks.
Could you send me the track, so I can take a look? dennis.guse@alumni.tu-berlin.de

Just to be sure that is not us...

[2021-07-17 05:16] dennisguse commented on #803
Our CI cannot yet build API31.

[2021-07-17 14:01] dennisguse opened #886 "Removal of AdaptiveLocationListenerPolicy?"
OpenTracks has the functionality to reduce the sampling rate of GPS locations if the device is stationary.
This can be activated in the `Settings -> Recording time interval` and provides the two flavors `Adapt for battery live` and `Adapt for accuracy`.
The alternative is to use a fixed time interval (actual default is `0s` aka as fast as Android provides location).

Relevant class: `AdaptiveLocat

[2021-07-18 13:09] vanous commented on #597
Hi @dennisguse

﻿based on some current work to make smoother integration between Gadgetbridge and other apps, i wrote a manual on how to integrate better with FitoTrack and OpenTracks.

Here is a blog post that describes it in a nutshell https://blog.freeyourgadget.org/add_gps_track_to_any_sports_activity.html

And here is the manual on how to do this: https://codeberg.org/Freeyourgadget/Gadgetbri

[2021-07-18 19:31] dennisguse commented on #597
@vanous Looks great!

Only two suggestion:
* wiki: splitting the page into sub-pages per application might make it easier to consume.
The structure is not that easy to understand as the headlines are not numbered
* blog: adding a caption to the images might help.
I was for example not sure, if the last screenshots are from Gadgetbridge or rather OSMAnd...

And another nitpick: it is usually better

[2021-07-18 20:07] vanous commented on #597
Added the labels, but have to think about the splitting, yes, the page is much too long but md is not good for this, `imports` are missing... And very sorry about not realizing there is the `Discussions` now in GH, my bad. Feel free to delete this from here, to clean it up, next time i will remember to use Discussions.

[2021-07-20 08:35] rgmf commented on #597
@vanous fantastic work, and very useful 👏 👏 👏

[2021-07-22 15:18] #866 closed

[2021-07-22 15:18] #882 closed

[2021-07-22 15:18] #761 closed

[2021-07-25 17:24] dennisguse opened #891 "Sensor: support shoe pod sensors (RSCS) for running (distance/ speed)"
Time to add another class of sensors :partying_face:

For testing, I will use a Polar Stride.

* [x] implement data parsing
* [x] implement settings
* [x] implement passing data to UI
* [x] actual testing

[2021-07-29 20:54] #803 closed

[2021-07-29 21:04] dennisguse commented on #251
It just works - no need to change anything :)

[2021-07-29 21:04] #251 closed

[2021-07-29 21:09] dennisguse commented on #463
We are adding support for BLE sensors for running.
Those estimate the distance properly on their own.

Superseded by #891.

[2021-07-29 21:09] #463 closed

[2021-07-29 21:11] dennisguse commented on #464
Nowadays, I would recommend using sensors (for cycling/ running) instead on relying on GPS.
Everything else is way too much effort (within OpenTracks) and data post-processing should take place in some other application.

[2021-07-29 21:11] #464 closed

[2021-07-29 21:13] dennisguse commented on #571
@pstorch Is this still an issue?

[2021-07-29 21:14] dennisguse commented on #574
We nowadays have some tests.
Also partly fixed via #761.

[2021-07-29 21:14] #574 closed

[2021-07-29 21:14] #599 closed

[2021-07-29 21:14] dennisguse commented on #599
Seems to work now :)

[2021-07-29 21:15] dennisguse commented on #880
@Zugschlus is this still an issue?

[2021-07-29 21:16] dennisguse commented on #845
@smu55 would you invest time to build this?

[2021-07-29 21:19] dennisguse opened #894 "Build nightlies via Github Actions."
* [ ] add a new build variant: `.nightly` (so it can be installed separately)
* [ ] create new signing key and put into Github Actions secretsmanager
* [ ] upload artifact after build

[2021-07-29 21:20] dennisguse commented on #839
Superseded by #894.

[2021-07-29 21:20] #839 closed

[2021-07-29 21:32] pstorch commented on #571
It's happening very seldom, so not an issue for me. If you want to do some housekeeping, feel free to close it.

[2021-07-29 21:33] #571 closed

[2021-07-29 21:34] dennisguse commented on #845
@smu55 Please re-open if you want to work on this.

[2021-07-29 21:34] #845 closed

[2021-07-30 08:41] dfessor commented on #886
I personally don't use this functionality, but don't see a reason to remove it, if it's already built and working.
Thank you for maintaining this great piece of software. I use it with almost all of my rides!

[2021-07-30 10:41] dennisguse commented on #886
@dfessor
Reducing complexity is pretty important.
Keeping a feature is expansive (in terms of maintenance) and it often prevents (makes it more complicated) implementing new features.
And it also it makes it makes it more difficult for new engineers to get into the code base.

Regarding this feature: I am not even sure that it is still working...
But nobody complaint, right :)

PS: nice that you l

[2021-07-30 11:17] Zugschlus commented on #880
I havent seen that behavior in a while, but I also stopped direct track opening with Osmand+. Going through the Opentracks Dashboard works fine, including just stopping the track when the GPS is bad. I think this issue can be closed. Thanks for helping.

[2021-07-30 15:55] christfried commented on #463
Maybe I am not the right target group for this because I always want to use and carry as little technology as possible and as I see it: The more gadgets you take with you the more you can mess up in the way of not having charged everything, not having configured it the right way or in not getting / loosing bluetooth connection etc.
Still, thank you for considering.

[2021-07-30 17:18] dfessor commented on #886
I see, thank you for explaining!
Putting this into account it's probably better to remove it and see if someone complains :-D.

[2021-07-31 16:42] dennisguse opened #896 "Some cleanups."
Follow-up to #891.

* [x] (optional) add value object for `Cadence`
* [x] (optional) add value object for `Power`
* [x] (optional) add value object for `Heartrate`
* [x] (optional) check generics in Bluetooth classes
* [x] (optional) check data types for SensorDataXXX

[2021-07-31 16:44] #891 closed

[2021-07-31 16:45] dennisguse commented on #880
@Zugschlus :+1:
Please re-open if you see this issue again!

[2021-07-31 16:45] #880 closed

[2021-08-01 16:22] #363 closed

[2021-08-02 17:44] vsevjednom-cz opened #898 "Cannot change a type of an activity while pause"
**Describe the bug**
Cannot change a type of an activity while tracking is paused.

**To Reproduce**
1. Start tracking.
2. Tap to the pause.
3. Try to change a type of an activity (from walk to run for example).
4. The icon of activity doesn't change until you tap to the continue.

**Technical information**
 - Device: Honor KSA-LX9
 - OS: Android
 - Version 9.1.0

[2021-08-02 20:31] dennisguse commented on #898
This UI is going to be replaced soonish: https://github.com/OpenTracksApp/OpenTracks/pull/842
So, no need to fix this....

PS: Thanks for the report!

PPS: Version is for the OpenTracks version ;)

[2021-08-02 20:31] #898 closed

[2021-08-03 21:24] rgmf opened #901 "v3.19.0: Null Pointer Exception: BluetoothRemoteSensorManager.reset()"
**Describe the bug**
I stumble upon this error testing current main branch. It's triggered when you Resume a recorded Track.

[code]

**To Reproduce**
1. Go to list of tracks.
2. Click on a track.
3. Click on menu and select "Resume track".
4. See errorr.

**Technical information**
 - Device: any.
 - OS: any.
 - Version: on current main branch.

[2021-08-05 15:25] rgmf opened #902 "v3.19.0: Null Pointer Exception in ExportActivity."
**Describe the bug**
I found this issue:

[code]

PS/ Looks like we have an issue in the Layout because Activity cannot inflate the Layout. If I comment these lines from export_activity.xml then it works:

[code]

But I have no idea how to fix it :(

**To Reproduce**
1. Go to Settings -> Export All.
2. Select a folder.
3. See the error.

**Technical information**
 - Device: any
 - OS: any
 - Versi

[2021-08-05 15:29] rgmf commented on #902
I just found that it works if I remove the `id` but in this case we cannot set a title in the toolbar:

[code]

So, looks something strange with <merge> ¿?¿?¿?

[2021-08-05 15:59] dennisguse commented on #901
Also reported via PlayStore.

[2021-08-05 16:01] #902 closed

[2021-08-05 17:07] vsevjednom-cz opened #905 "Bindings in red color in Android Studio"
**Describe the bug**
Android Studio shows `*Binding` in red color. Everything still works without problem 🤪.

**To Reproduce**
1. Get project version: https://github.com/OpenTracksApp/OpenTracks
2. Click to the `AboutActivity` for example.
3. `de.dennisguse.opentracks.databinding` and `AboutBinding` are in red color with  this error: `Package not found: de.dennisguse.opentracks.databinding`
4. But

[2021-08-05 19:01] dennisguse commented on #905
I don't know/
Somehow AndroidStudio is not figuring (somtimes) that this code is autogenerated...

You can try to Build -> Rebuild Project.

I also have this sometime :man_shrugging:

[2021-08-05 19:01] #905 closed

[2021-08-05 22:01] barbeau commented on #850
FYI, for anyone who wants to see a reliable first-class Android API to get the `H` and `N` values directly from the platform (vs parsing NMEA sentences or bundling your own geoid model), please star my feature request to Google here:
https://issuetracker.google.com/issues/195660815

[2021-08-06 19:13] vsevjednom-cz opened #907 "App crashes and cannot resume track"
**Describe the bug**
App crashes when tracking after tap to "desktop" and take the photo. I can reproduce app crash again and again with phone connected to the PC. Only in activity where was first crash. So I can see the error fortunately:
[code]
I don't use Bluetooth. And I can't stop this activity (and save GPX).

**To Reproduce**
It happens sometimes. I can't reproduce it.
1. Start tracking.
2.

[2021-08-06 19:25] vsevjednom-cz commented on #907
`Export all` crashes too 🤪.

[code]

[2021-08-06 20:46] dennisguse commented on #907
@vsevjednom-cz could you test this?

1. Duplicate of #901?
Should be fixed by #904; can you test this?

2. Duplicate of #902?
Regarding: is this happening with v3.19.0 or most recent main - as on main it should be fixed.

PS: Just open another new issue if you find different problems - they don't cost anything. ;)

[2021-08-07 11:25] vsevjednom-cz commented on #907
Yes! [Bugfix: reset TrackRecordingManager properly. #904](https://github.com/OpenTracksApp/OpenTracks/pull/904) fixes it! 🙃

[2021-08-07 11:26] #907 closed

[2021-08-07 17:37] #901 closed

[2021-08-12 15:28] dobey opened #908 "Crash when attempting to export all tracks from settings"
When attempting to export my tracks from Settings, the following crash happens upon clicking the _Export All_ button. The export path is configured and exists, but remains empty due to the crash.

[code]

**Technical information**
 - Device: Pixel 2 (walleye)
 - OS: Lineage+microG 17.1
 - Version v3.19.0 via F-Droid

[2021-08-12 20:11] rgmf commented on #908
It's already fixed but we have to wait for the next release. Sorry.
Thank you for your report and opening this issue ;)
PS/ Here you have more information (it's an already closed issue): https://github.com/OpenTracksApp/OpenTracks/issues/902

[2021-08-12 20:33] dobey commented on #908
Ah, I missed seeing that somehow when I was looking to see if it had been fixed yet. Thanks.

[2021-08-12 20:33] #908 closed

[2021-08-14 17:00] excodger opened #909 "Crash on GPX export"
**Bug description**
With the latest version of OpenTracks from F-droid, everytime I attempt to export tracks the app crashes. No settings were changed before this bug occurred.

**To Reproduce**
1. Start OpenTracks
2. Go to Settings and scroll down to Tracks section
3. Tap "Export all"
4. App crashes and restarts

I've restarted the device and tried the steps above. Also cleared cache and repeated

[2021-08-14 18:07] rgmf commented on #909
This bug is already fixed but we have to wait for the next release.

Anyway, thank you for opening this issue ;)

[2021-08-15 10:37] mega-stoffel opened #911 ""Continue" recording only works after second time"
**Describe the bug**
Restarting / continuing a stopped track doesn't continue the recording. But it falls back to the list of all existing tracks.
Opening the track a second time and continue it again - then it works.

**To Reproduce**
1. Start recording, record some time and then stop your recording.
2. On the list of all available tracks select this track
3. On the detail view of this track, cli

[2021-08-15 12:05] rgmf commented on #911
@mega-stoffel it's already fixed. De have to wait for the next release.

Anyway, thank you so much to inform about it ;)

[2021-08-15 17:56] dennisguse commented on #911
@rgmf Anything that prevents us from releasing v3.19.1 (aka fixing this and #901)?
i pushed a fix for a race condition (occurred on CI) due to unregistering delayed unregistering from LocationManager.

[2021-08-15 17:58] rgmf commented on #911
@dennisguse for me it's ready for v3.19.1 (I've been using main branch for a week and all looks work well).

[2021-08-15 18:04] dennisguse commented on #911
@rgmf Do you want to release it? :partying_face:
Everything should be in `RELEASE.sh`.

[2021-08-15 18:07] rgmf commented on #911
Okay, here I go :blush:

[2021-08-15 18:22] rgmf commented on #911
@dennisguse I think it's done ;)

[2021-08-16 07:26] vsevjednom-cz commented on #905
This is some problem in Android studio with Java 11: https://issuetracker.google.com/issues/180946610 🤪

[2021-08-16 07:52] rgmf commented on #905
Same issue with Android Studio Arctic Fox 2020.3.1... so waiting for a new Studio release. It's not a problem for developing but an it's a little bit uncomfortable.

[2021-08-16 18:49] dennisguse commented on #911
Fixed in v3.19.1

[2021-08-16 18:49] #911 closed

[2021-08-16 18:49] dennisguse commented on #909
Fixed in v3.19.1

[2021-08-16 18:49] #909 closed

[2021-08-17 07:38] vsevjednom-cz commented on #824
I've got improvement of my idea. Update of the name of activity in GPX file sounds unnecessary. Better would be: export for each activity individually. Sometimes I need export of only one activity, not all. For example if here is some error (#907). Individual export is better and easier than resume and stop tracking.

[2021-08-21 17:21] rgmf opened #916 "Edit track while recording is not working."
I think this issue was fixed some time ago so we should fix it again and add tests cover.

**To Reproduce**
1. Start a new recording.
2. While recording go to menu (three dots) and select edit.
3. Change name and activity type, for example.
4. Save the changes and back to recording layout.
5. Stop recording.
6. Name and activity is not the edited one.

**Technical information**
 - Device: any
 - O

[2021-08-21 17:40] #302 closed

[2021-08-21 17:40] #659 closed

[2021-08-21 17:40] #820 closed

[2021-08-21 18:19] dennisguse commented on #916
Interestingly, while recording, the UI is showing the updated info.
And those should be loaded from the db, so we are overwriting it while finishing the recording?

[2021-08-21 18:49] rgmf commented on #916
Yes, it seems like this.

[2021-08-21 19:11] dennisguse commented on #916
The bug is in TrackRecordingManager as this one now caches the Track instead of loading it every time from the database.
The track is only loaded when it is resumed or when it is pushed to the UI....
I did this "performance improvement"...

[2021-08-21 19:19] rgmf commented on #916
I got this for tomorrow but it you can and want go ahead and fix it ;)

[2021-08-22 18:01] #916 closed

[2021-08-23 18:39] dennisguse commented on #782
@gordonel Please re-open, if you are starting to work on this again.

[2021-08-23 18:39] #782 closed

[2021-08-23 18:39] dennisguse commented on #824
Could you use the share action for this?

[2021-08-23 18:40] dennisguse commented on #709
There has been too much refactoring since April - this is likely not an issue anymore.

[2021-08-23 18:40] #709 closed

[2021-08-23 18:59] dennisguse opened #920 "EspressoDeleteTrackTest fails"
... the tests is disabled for this reason; somehow it waits for a resource becoming idle.
This sadly never happens.

[2021-08-23 19:18] vsevjednom-cz commented on #824
Yes, it works. But it's weird a little bit. Share to the email is ok but share via Messenger (FB) sends only `ic_logo_24dp` image without another attachment. Individual export would be cute improvement.

[2021-08-23 21:01] dennisguse commented on #833
Did not happen again.
Closing for now.

[2021-08-24 04:47] dennisguse opened #921 "Voice announcements: trigger on both time and distance frequency"
So far voice announcements are either triggered by time or distance but not both.
Would be great to make this possible.

[2021-08-24 16:26] #886 closed

[2021-08-25 09:53] badger40 opened #924 "CooSpo Bluetooth sensor no longer detected."
CooSpo cadence and speed sensor (model: BK467) is no longer detected when scanning for Bluetooth sensor in the app.
Go to:
settings -
Bluetooth -
Cycling distance and speed -
Scan for sensor and it's not found.

Used nRF toolbox app to test in sensor is faulty or dead battery.  Sensor is picked up and working fine. I've not used opentracks for a while so not sure when this issue started.

Open Tra

[2021-08-25 16:31] dennisguse commented on #924
I just tested using LineageOS 17.1 with main (v3.20.+; not yet released) and it works.
Recent changes:
* added new sensor: https://github.com/OpenTracksApp/OpenTracks/commit/242147e49122563d35eaf0105fbc6bf79f75edc3
* upgrade for Android12 (changing Bluetooth permissions):
  * https://github.com/OpenTracksApp/OpenTracks/commit/26414b0c7ccfe322db7e49183260e31aa4440635
  * https://github.com/OpenTrac

[2021-08-25 16:43] dennisguse commented on #924
@badger40 can you test with v3.18.5 as this was before these changes?

[2021-08-25 17:28] slackline opened #925 "Distance based voice annoucements not being made on v3.19.*"
**Describe the bug**
Voice announcements do not occur when distance based option of 1km selected.

I noticed this first with v3.19.0 but it persists with v3.19.1.

To investigate I set it to announce every 1 minute and was told statistics for the first two minutes, I then stopped cycling and switched to 1km and didn't hear any announcements after roughly 2km (regular route so I know the distance),

[2021-08-28 16:33] dennisguse commented on #500
IMHO: the code base is now ready for this.
After merging #922, we will have only one handler running within TrackRecordingService.
It handles the data updates for UI and voice announcements.
We can then extend it to create time interval-based Trackpoints (i.e., if no GPS-Trackpoint was created a certain period of time and there are sensors sending data, then create a sensor-based TrackPoint; repea

[2021-08-28 18:12] dennisguse opened #928 "While recording: selecting notification opens TrackRecordingActivity and then press back closes OpenTracks"
**Describe the bug**
While recording: selecting notification opens TrackRecordingActivity and then press back closes OpenTracks

**To Reproduce**
1. Start a recording
2. Go to home screen
3. Open notification drawer
4. Select OpenTracks notification -> TrackRecordingActivity opens
5. Press back -> OpenTracks closes and goes to home screen

Desired behavior: show TrackListActivity

**Technical info

[2021-08-30 15:24] #862 closed

[2021-08-30 15:24] #921 closed

[2021-08-30 15:26] dennisguse commented on #925
I reworked the whole voice announcements part in #922 (just merged into main).
Happy using it :)

[2021-08-30 15:26] #925 closed

[2021-08-30 15:33] rgmf opened #930 "Speed sensor: speed is never 0km/h"
**Describe the bug**
When you are recording a track with a cycling sensor speed and you stop at a semaphore, for example, the speed data never is 0km/h so moving time go on.

I guess the speed I see in this field is the last the sensor send to OT.

**To Reproduce**
1. Start a new recording with a speed sensor.
2. Go ahead and stop.
3. You'll see the speed going down until some speed like 4km/h, fo

[2021-08-30 15:36] rgmf opened #931 "Cadence sensor: 0rpm instead of None"
**Is your feature request related to a problem? Please describe.**
I'd prefer to see 0rpm instead of None when I stop pedaling my bike.

**Describe the solution you'd like**
When cadence sensor is connected never shows "None" like a value but "0 rpm".

[2021-08-30 15:39] dennisguse commented on #930
Nice finding - I never noticed that.
I thought we use SensorData.isRecent() to determine if we got "fresh" data (Default timeout is 5s; don't know why I came up with 5s. It was for HR sensors).
Afterwards we do some computation in TrackStatisticsUpdater to smoothen the speed (only done when new data arrives).
So, this might be the reason (best guess, did not check).

[2021-08-30 15:41] dennisguse commented on #931
Should it be value_unknown?

[2021-08-30 15:43] rgmf commented on #930
I see.

This will be a great issue for me so I can look into this part of OT that is unknown for me 😄

[2021-08-30 15:47] rgmf commented on #931
IMHO I should be value_unknown when cadence sensor is not connected and 0rpm if it's connected.

But I don't know very well how sensors work. Does cadence sensor send 0 when cyclist is not pedaling? If so, I don't understand where None value comes from.

[2021-08-30 15:48] #832 closed

[2021-08-30 15:51] dennisguse commented on #931
You are right that are two cases.

Regarding the data: those sensors only send data when they measured something (like the wheel rotated).
If nothing is happening, then they don't send data.
So, the timeout occurs OpenTrack invalidates the data (5s timeout) and then the data is null resulting and `StringUtils.formatCadence()` returns None.

So, the invalidation should actually set them 0 and on di

[2021-08-30 16:13] dennisguse commented on #930
It is not the TrackStatisticsUpdater, but I guess StatisticDataBuilder.
It checks the SensorData.isRecent() and if not uses the GPS value (and that is already old likely containing movement).

I guess, SensorData.isRecent() should be removed and should be handled internally by SensorData.getValue() aka return default value if the data is too old.

[2021-08-30 16:44] slackline commented on #925
Brilliant, thank you, look forward to giving it a whirl :+1:

[2021-09-02 11:32] pkienzle opened #935 "swap date and uuid in export file name so that gpx files are sorted"
Please swap the track name and uuid so that the files are sorted by trackname rather than uuid.

The following code builds a filename for export:
https://github.com/OpenTracksApp/OpenTracks/blob/017eee8b68c25fd9815c0bcc0b458458f36f50c1/src/main/java/de/dennisguse/opentracks/util/ExportUtils.java#L104

However, UUID appears to be random so gpx files in the export directory look like:
[code]
This me

[2021-09-02 16:28] dave-kennedy commented on #375
Is this feasible now that #192 is closed?

[2021-09-02 19:53] dennisguse commented on #375
@dave-kennedy Yes, the internal data structures would support this.
The complicated part is actually the UI...

[2021-09-02 19:55] #894 closed

[2021-09-03 19:13] JochenLutz opened #936 "Multi-column stats"
**Is your feature request related to a problem? Please describe.**
When cycling, the most important stat for me is current speed. While the new customizable layout really helps to quickly capture the current speed, having the speed value span all columns (with increase font size), would further improve cycling safety.

**Describe the solution you'd like**
In the “Customize your recording layout“,

[2021-09-03 19:24] rgmf commented on #936
It looks like a feasible improvement and I think it'd be nice.

Only for clarification: you expect three sizes for data fields, don't you?:
- Small for secondary.
- Big for primary.
- Extra-big for spanned.

[2021-09-03 19:54] JochenLutz commented on #936
Exactly.

[2021-09-04 10:59] vsevjednom-cz commented on #905
It's fixed in version 2020.3.1.24~focal+0 in Ubuntu 🥳.

[2021-09-04 17:30] vsevjednom-cz commented on #862
I tested it while ride my mountain bike today at `Android 9.1.0`.

Voice announcement plays every 60 seconds when I set 60 minutes.

And what type of sound I must to amplify to hear voice announcement?

[2021-09-05 16:13] dennisguse commented on #862
@vsevjednom-cz by time works for me as expected. Tested with 1 and 2min. Regarding channel: the beep is played as MEDIA. Don't know if this is the best choice.

[2021-09-05 16:53] rgmf commented on #862
@vsevjednom-cz @dennisguse I think time interval settings are in seconds not in minutes, altough you can see minutes like a unit:

![Screenshot_20210905-181815_OpenTracks_(Debug)](https://user-images.githubusercontent.com/4819612/132134043-4f440cb2-0009-4512-8190-22d0c5a4440a.png)

[2021-09-05 18:16] convolutionbbs opened #937 "Feature Request: manually enter total distance"
I was wondering if anybody else would be interested in using opentracks to log treadmill runs.  I would like to use it to log my HR via BT and have the ability to edit the distance after the recording.  This would allow the stats to be included in total metrics.

[2021-09-05 20:07] dennisguse commented on #937
To log sensor data without GPS is handled by #500. Should be ready in October.
Adding data by hand is not yet on the roadmap.

Does the treadmill provide data via Bluetooth?

[2021-09-05 20:08] dennisguse commented on #862
That's my fault...

[2021-09-05 20:09] slackline opened #938 "Include option for changing workout that is being recorded."
**Is your feature request related to a problem? Please describe.**

I like the new customisable layout when recording tracks, however I could not see the ability to add a button/cell that allows you to choose what activity you are recording. That is now only accessible via the menus.

**Describe the solution you'd like**

Restore the button that allows the user to choose what activity they are rec

[2021-09-05 23:23] convolutionbbs commented on #937
Thanks for the reply.  No, my treadmill doesn't have bluetooth.  I have a HR monitor that is bluetooth and it works really well with OpenTracks.  I was thinking that the user would connect the HR monitor and begin and log a workout just like if I ran outside.  After I was done, I could hit the edit button and manually type in how long the treadmill thought I ran.  That way I could see the HR data

[2021-09-06 08:14] dennisguse commented on #937
That's doable.
What must be done is to set the total distance as the distance of the final TrackPoint and then re-create the TrackStatistics.

And it could be done for recordings for which 0 distance was recorded.

Intermediate solution: use of a shoe-based running sensor.
Then the overall distance will taken from that there.
Until #500 is resolved only the one TrackPoint is stored (ie. no interme

[2021-09-06 20:08] rgmf commented on #862
Fixed and push into main. You can see the commit here:

https://github.com/OpenTracksApp/OpenTracks/commit/40aab9444a9410860e3ef647b013bf8b5cf375d4

[2021-09-07 16:40] dennisguse opened #940 "PlayStore reported crash for v3.20.1"
java.lang.ArithmeticException:
  at de.dennisguse.opentracks.services.tasks.VoiceAnnouncementManager.calculateNextDuration (VoiceAnnouncementManager.java:132)
  at de.dennisguse.opentracks.services.tasks.VoiceAnnouncementManager.update (VoiceAnnouncementManager.java:88)
  at de.dennisguse.opentracks.services.TrackRecordingService.updateRecordingDataWhileRecording (TrackRecordingService.java:450)

[2021-09-07 18:46] dennisguse opened #942 "Android12: request BLE scan permission before scanning in SettingsActivity"
I don't have any devices to connect to, but I noticed that the app does not ask for the BLUETOOTH_SCAN permission. It crashes here https://github.com/OpenTracksApp/OpenTracks/blob/main/src/main/java/de/dennisguse/opentracks/settings/bluetooth/BluetoothLeSensorPreference.java#L161 if you don't manually give permission in the settings.

__Originally posted by @timoschwarzer in https://github.com/Ope

[2021-09-08 08:35] vsevjednom-cz commented on #862
It's too quiet. I have set the maximum volume. I've got my mobile on my back when I ride my bike. Is possible to set more louder announcement? I use it as a check of turned on application.

And another idea: is possible to set announcement of autopause starts and autopause ends? I used this few years ago in Sports Tracker app.

[2021-09-08 17:44] dennisguse commented on #862
@vsevjednom-cz No clue. I guess, you need to experiment here yourself. It was literally the first time I used Android's media subsystem. Also the audio file might not be loud enough itself or it might be device dependent...

[2021-09-09 15:33] vsevjednom-cz commented on #862
I also think that the low volume of sound is because the media file is not loud. How can I select another sound file?

[2021-09-09 20:34] edern-appere commented on #820
I would like to send you a big thank you for your hard work (coding, reviewing the code, exchanging ideas and suggestions) during this summer to make it possible to customize the recording screen ! Congrats to @rgmf and @dennisguse !!

I've had a great opportunity to try it out last weekend as I went for a two day ride in the Schwarzwald with students and colleagues from the university I'm working

[2021-09-10 11:46] dennisguse commented on #862
It is the only mp3 that is in OpenTracks.

[2021-09-10 12:16] ph818 commented on #776
Would it be possible to show the user a warning if a lot of points are being discarded due to location inaccuracy? Inaccurate location signal and overzealous power saving can both lead to gaps in the recorded track and as a user it's hard to tell what's happening

[2021-09-10 12:41] vsevjednom-cz commented on #862
Wow, amazing! I already see the file `tts_fallback.mp3`. It's normalized sound but too quiet. So I "normalized" it with Waves L3 Multimaximizer. I worked in radio as presenter/DJ few years ago - so I still use some plugins for nice normalize.

You can download "normalized" version [here](https://jedu.vsevjednom.cz/tts_fallback_15db.mp3). Try to replace this file.

[2021-09-10 16:18] dennisguse commented on #776
@ph818 good idea!
This was not a high priority so far though.

[2021-09-11 15:16] dennisguse opened #950 "V3.20.+: no trackpoint recorded if running sensor set but not connected"
If a running sensor is selected, but not connected no trackpoints are recorded.

**To Reproduce**
1. Select a running sensor in settings (make sure it cannot be connected to afterwards)
2. Start a recording
3. Elevation and gain/loss are updated, all other stats remain 0.
4. Open OSMDashboard: no trackpoints are shown.

Expected: like cycling sensors: if there is none connected use GPS data.

[2021-09-12 06:34] dennisguse commented on #862
@vsevjednom-cz just open a PR 😀
Have you also tested if it sounds good if you listen to music on the phone using the new announcements?

[2021-09-12 07:03] vsevjednom-cz commented on #862
Yes, of course. But better is "normalize" with `Waves L2`, maybe. It's [here](jedu.vsevjednom.cz/tts_fallback_l2.mp3). Don't worry, it normalizes up to 0 db all. Mobile devices plays it without problem.
I can't open PR: `There isn’t anything to compare.`.

[2021-09-12 07:04] vsevjednom-cz commented on #862
Yes, of course. But better is "normalize" with `Waves L2`, maybe. It's [here](jedu.vsevjednom.cz/tts_fallback_l2.mp3). Don't worry, it normalizes up to 0 db all. Mobile devices play it without problem.
I can't open PR: `There isn’t anything to compare.`.

[2021-09-12 07:04] vsevjednom-cz commented on #862
Yes, of course. But better is "normalize" with `Waves L2`, maybe. It's [here](jedu.vsevjednom.cz/tts_fallback_l2.mp3). Don't worry, it normalizes up to 0 db all. Mobile devices play it without problem.
I can't open PR: `There isn’t anything to compare.`

[2021-09-12 17:51] vsevjednom-cz commented on #862
I tried out today at my mountain bike. It's much better but it wants a little bit more volume. [Here is "normalized normalized" sound](https://jedu.vsevjednom.cz/tts_fallback.mp3) 🙃.

[2021-09-12 18:01] vsevjednom-cz commented on #862
I tested it out today at my mountain bike. It's much better but it wants a little bit more volume. [Here is "normalized normalized" sound](https://jedu.vsevjednom.cz/tts_fallback.mp3) 🙃.

[2021-09-12 18:05] rgmf commented on #833
I get 4.5374991E9 value as a cadence while working on #931.

I can reproduce it and I did it with main branch.

To reproduce (I did it several times):
- Start a recording with a cadence sensor.
- Stop pedaling for more than 20 minutes (I don't know where threshold is).
- Restart pedaling and you'll see a big value for cadence.

I can see the following values for `crankRevolutionsCount` from the be

[2021-09-12 18:48] dennisguse commented on #833
Amazing work!
I did not know that the counter reset.

[2021-09-14 04:33] midros opened #951 "gps on/off/fix icon"
I think it is better to have a gps icon to turn the gps on / off as well as a clear gps fix indication
It used to be like this in the previous versions but now is removed.
The way it is right now without gps fix indication you may start recording but there is no purpose if the gps position is not ready

[2021-09-14 05:45] dennisguse commented on #951
Can you share a screenshot about what you mean?

[2021-09-14 06:15] midros commented on #951
![opentracks screenshot ed](https://user-images.githubusercontent.com/32762300/133204387-d6cb5a51-7068-4257-8f9d-cf3c6227cd96.png)
![opentracks screenshot2  ed](https://user-images.githubusercontent.com/32762300/133204418-deca4610-b8b2-44bb-9712-3094eb61c96d.png)
these are screenshots from a previous version
the arrow shows the icon for turning the gps on-off
and the icon changes when the gps is f

[2021-09-14 16:41] dennisguse commented on #951
Mhhhh.... I just tested with v3.21.1 and the icon works as expected (as in previous versions). Do you have some more details?

[2021-09-14 17:25] midros commented on #951
ok now I see why the confusion

I have the f-droid version 3.20.1 and there is no gps icon, so I thought it was removed for some reason, but obviously this is not the case. (a bug maybe?)

here is a real screenshot of my app

![Screenshot_20210914-200955_OpenTracks](https://user-images.githubusercontent.com/32762300/133304222-bf89c683-3a39-4adb-83b3-49bf51f5e925.jpg)

[2021-09-14 17:53] dennisguse commented on #951
I see :)
If the icon is shown or not is managed by android depending on the available space (e.g., screen size and desired object size depending on the zoom level of the user). If there is not enough space the remaining icons are moved into the menu (max 3 icons are shown).

Long story short: if the icon is hidden, try to change androids zoom level (don't know how it is actually called, it is some

[2021-09-14 18:02] midros commented on #951
and of course you are right but how could I know?

I changed the zoom level and the icon is back

so the change happened after last android update and not opentracks update

thanks a lot

[2021-09-14 18:19] dennisguse commented on #951
Don't worry. Cool that ist works again :)

[2021-09-14 18:20] #951 closed

[2021-09-15 15:11] arjan-s commented on #671
I second this feature request! I've worked on Fossil Hybrid HR support in [Gadgetbridge](https://www.gadgetbridge.org/), and would love to add support for GPS tracking starting/stopping from my watch. Intents seem to be the way to go, both for my use case and the original one above.

[2021-09-15 19:23] dennisguse commented on #671
@arjan-s go ahead.
One limitation: TrackRecordingService should not be exported to other applications.

Current implementation: TrackRecordingService is started and OpenTracks activities bind to this service and start/pause/stop recordings.

Anti-goals: expose any information about OpenTracks state (e.g., is a recording running) to any other application.

We may need to add another component that

[2021-09-15 19:59] dennisguse commented on #671
We may be able to use TrackRecordingActivity to start recordings via external intent - almost everything is in place for this.

Another anti-goal: resuming a track.

[2021-09-17 18:12] dennisguse opened #952 "Nightly improvements"
* [ ] install git
* [x] use black icon background
* [ ] (also for debug) change background Color of splash screen
* [x] append nightly to app name

[2021-09-18 13:23] rgmf commented on #930
2021-09-18 Update:

Same issue with Speed GPS... When you are using GPS for speed and distance (not sensors connected) and you stop pedaling GPS speed is the last GPS valid speed but it should be 0.

[2021-09-21 16:07] #833 closed

[2021-09-21 16:07] #930 closed

[2021-09-21 16:07] #931 closed

[2021-09-22 19:10] dennisguse commented on #833
@rgmf do you think, we should create another release for these changes? No new feature, but a lot of bug fixes :)

[2021-09-22 19:36] rgmf commented on #833
Yes, I'd do it. Bug fixes are always welcome :D So, go ahead.

[2021-09-22 19:52] dennisguse commented on #833
@rgmf Do you think, we should also include #943 in the upcoming (bugfix) release? From my side: looks okay, and we can do some fine tuning later.
In any case, it is just a settings dialog :D

PS: I have only a phone at hand, so you would need to create the release ;)

[2021-09-22 20:04] timoschwarzer commented on #833
@dennisguse I'll not be able to update the PR for at least two weeks, so yeah go for it :)

[2021-09-22 20:11] rgmf commented on #833
@dennisguse Yes, I'd also include #943. Like you say we can improve it later.

So, I'm going to rebase and merge #943 and I create the release ;)

[2021-09-23 19:54] vsevjednom-cz opened #955 "Show gradient of uphill/downhill"
**Is your feature request related to a problem? Please describe.**
My friend has good idea: show current gradient of uphill/downhill.

**Describe the solution you'd like**
Calculation while recording. It's similar like speed count. I'm using for calculation something like this in PHP: round(100*($altitude-$lastaltitude)/$distance)
Result is 10 % for example - it's hard uphill for bike 🚲 but I love

[2021-09-23 20:11] dennisguse commented on #955
Nice idea!

One disclaimer: absolute altitude via GPS is not that precise (contains quite some noise).
It might be better to use the barometric sensor (or some combination).

The good old MyTracks contained some max/min grade, but I don't remember how this was derived - might be by PlayServices API.
Could be worth checking the old code.

[2021-09-23 20:20] dennisguse commented on #955
One more thing: barometric data is already relative to the previous stored location (as the counter is set to 0m on storing it).

But it may contain values for DESCENT and ASCENT at the same time as both counters are stored to track changes in both directions between stored locations/TrackPoints.
And we do not store the order in which ascent/descent occurred (so far).
It's more of an edge case :)

[2021-09-23 20:21] dennisguse opened #956 "Move help to overflow menu"
The help entry can be moved to the overflow menu from the settings.

[2021-09-24 06:29] rgmf commented on #955
I love this feature and it'd great to see it in OpenTracks.

It also looks a good challenge :smile:

[2021-09-24 08:08] vsevjednom-cz commented on #955
Yep, altitude data via GPS are not precise I know. You can use barometric sensor of course. But my mobile phone doesn't have barometric sensor as you know from my issue #756 (gain and loss still now works 🙄). Some combination sounds good 😋!

[2021-09-24 08:57] vsevjednom-cz commented on #955
Yep, altitude data via GPS are not precise I know. You can use barometric sensor of course. But my mobile phone doesn't have barometric sensor as you know from my issue #756 (gain and loss still not works 🙄). Some combination sounds good 😋!

[2021-09-24 10:32] dennisguse commented on #619
Well then let's build this one first (before grade/slope #955).
I can prepare something next month.
My problem is a severe lack of mountains (60m above ground doesn't count :) )and thus test data.
@vsevjednom-cz could you then take care about the testing and fine tuning?

https://github.com/OpenTracksApp/OpenTracks/issues/955#issuecomment-926464206

[2021-09-24 10:42] vsevjednom-cz commented on #619
Of course 🤩. There aren't many mountains here around Brno, but I know all of existing ones 🚲.

[2021-09-24 10:50] rgmf commented on #619
@dennisguse @vsevjednom-cz I can help testing it too.

[2021-09-24 15:07] dennisguse opened #957 "Optimisations for OLED/AMOLED"
**Is your feature request related to a problem? Please describe.**
OLED screens do not consume energy when presenting black content (thus they can be used for always on displays).

Thus, we could implement a theme for OpenTracks that uses black as background colour. We may be able to optimise out further by and hiding non-necessary elements (e.g., icons).

**Describe the solution you'd like**
Impl

[2021-09-24 15:12] dennisguse opened #958 "Hide pause/stop button on Lock Screen"
**Is your feature request related to a problem? Please describe.**
While recording OpenTracks can be shown on the lock screen (TrackRecordingActivity), the pause and stop buttons could be hidden.
Especially while cycling it feels like a waste of screen space.

**Describe the solution you'd like**
Hide the two buttons on the lock screen and show them when the device is unlocked.
This might also pre

[2021-09-26 06:33] dennisguse opened #960 "Reorganize settings page"
Over time, the settings page grew longer and longer.
It would be good to structure the settings into some folder structure (e.g., sensors together).

[2021-09-26 06:37] dennisguse opened #961 "Refactor use of SharedPreferences"
SharedPreferences can be referenced as a static field.
This would simplify the handling them, as we don't need to pass the sharedpreferences that we got from each individual context.

The solution is to just keep the sharedpreferences as a static field in PreferencesUtils and init it if it is null.
Sharedpreferences can then be removed everywhere.

For OSMDashboard it was done a while ago: https:/

[2021-09-26 06:51] dennisguse opened #962 "Order a Stryd for testing the BLE stack"
I got in contact with Stryd (they produce shoe-based running sensor with power meter): https://www.stryd.com/
They provided information on how to connect to the Stryd (everything that does not require a NDA).
It supports the following BLE services:
* 0x1814 RSC: running cadence and speed
* 0x1818 Cycling Power Measurement
* 0x180F Battery
* 0x180A Device Information

Stryd support told me I can or

[2021-09-26 08:38] dennisguse opened #963 "Package structure: could it be cleaner?"
Our current package structure was just taken over from MyTracks and, since then, was not really modified.
It seems to be organized by the technical functionalities (e.g., `.adapters` and `.fragment`).

From a maintenance perspective, it might be easier to handle if we create something like features packages.

Some examples:
* move everything that is settings related into `.settings`: activities, f

[2021-09-26 10:41] rgmf commented on #960
Great idea. I like how AntennaPod has their Settings organized. Something like that would be great.

[2021-09-26 18:33] dennisguse commented on #960
... and we can also add icons - got the idea by looking at the AntennaPod settings page :D

[2021-09-27 09:21] vsevjednom-cz commented on #955
I tried gradient/slope calculation in PHP. GPS elevation values are sometimes weird 🤪. Better will be check gradient/slope for current elevation versus previous 3 (or 5) values for example. It could eliminate bounces.

Like this:
`round(100*($altitude-$lastaltitude3)/($distance+$lastdistance1+$lastdistance2+$lastdistance3)`

(I wrote this code from my mind, it's makes sense I hope.)

[2021-09-28 18:30] dennisguse commented on #955
@vsevjednom-cz You may take a look at https://www.gpsvisualizer.com/tutorials/elevation_gain.html
They explain nicely how to filter/ smooth GPS elevation values to compute gain/ loss.
And if we have gain/ loss, the gradient will available almost out of the box.

[2021-09-28 18:31] dennisguse commented on #942
Fixed by @timoschwarzer and included in v3.20.1

[2021-09-28 18:31] #942 closed

[2021-09-28 21:33] dennisguse commented on #961
@rgmf I am working on this and I should be done until Thursday.
But the changeset is rather large - I hope you don't have too many changes on your machine...

[2021-09-29 05:36] dennisguse commented on #963
* one package per activity (if the activity uses exclusively other classes)
* splitting up StringUtils by package (check other Util classes as well)

[2021-09-29 08:42] rgmf commented on #961
No problem, I've not done anything for now (still a little busy). In a few days I'll be more free and I'm thinking what to do: profiles for customization layout or re-organize settings (#960)... What shall we do? What do you think is more important?

[2021-09-29 19:37] dennisguse commented on #961
@rgmf Whatever you is more interesting for you ;)

[2021-10-02 19:31] sjvudp opened #967 "Track recording stops when screen is locked (it seems)"
**Describe the bug**
This problem is the same as described in https://github.com/mendhak/gpslogger/issues/916:

Recording positions stops when the screen is locked.
As I carry my phone in a pocket or a backpack, the screen is locked to avoid random input.

**To Reproduce**
1. Start track recording
2. Activate lock screen
3. Move...
4. Stop recording

The track being recorded has only one or two tr

[2021-10-02 21:23] dennisguse commented on #967
It is the power saving. Huawei is doing very ugly things here.
You can check if this helps: https://dontkillmyapp.com/huawei

Bad thing: We cannot do anything about this.

PS/ Huawei is the worst in this domain :shrug:

[2021-10-02 21:23] #967 closed

[2021-10-03 03:37] vlmendz opened #968 "Filter locations using GPS speed"
**Is your feature request related to a problem? Please describe.**
The app does not always respect the specified distance interval to discard locations. I use the default value (10 m) and frequently the app record locations at a shorter distance, especially when I am not moving

**Describe the solution you'd like**
Optionally use GPS speed to filter locations with a speed lower than a value specif

[2021-10-03 09:35] dennisguse commented on #968
@vlmendz Could you share some test data (the shorter the better) to show the problem?

PS/ Speed is only estimated by GPS and might not be that useful.
It has the tendency to overestimate it - that's we filter the speed for showing in the UI.

[2021-10-03 09:44] dennisguse opened #969 "Sensor data not sometimes ignored (when using GPS in addition)"
Yesterday, I participated in a cycling event with known elevation gain and distance.
As I had the impression that the sensor data handling is dropping data (initial assumption distance only), I started OpenTracks on the same smartphone twice (Fdroid version + most recent build from main; and Komoot for verification).

Used sensor: Garmin Bike Sensor 2

Observations:
* (only GPS)  altitude gain/los

[2021-10-03 14:02] vlmendz commented on #968
![IMG_20211002_224157](https://user-images.githubusercontent.com/91810638/135755941-a49ac005-8bc3-43cc-9edd-6e768a011728.jpg)
Example of long stop (aprox 30 minutes)☝️

![Screenshot_2021-10-02-22-35-08-311_de storchp opentracks osmplugin offline_1](https://user-images.githubusercontent.com/91810638/135756020-64ce1c53-fc14-4f3e-b1b4-7800f318fcd0.jpg)
Example of a short stop at a traffic light☝️

In

[2021-10-03 19:11] rgmf commented on #969
Does cycling sensor have an impact on barometric sensor (gain and loss)?

[2021-10-03 20:47] dennisguse commented on #969
@rgmf Yes, the data provided by the cycling sensor determines if a TrackPoint is stored or not (min recording distance).
And we always reset the sensor data to 0 ignoring if the data was stored.

[2021-10-04 06:36] dennisguse commented on #968
I see and I have seen this pattern quite often while testing at home (indoors with really limited accuracy).
Could you check that the speed would be an indicator for outliers?

The other workaround for now are:
* require stricter accuracy (default 50m)
* increase recording distance (default 10m)

[2021-10-04 13:03] vlmendz commented on #968
Yes, importing the track of the first screenshot into the GPXSee program and using a GPS speed filter with a value of 3 km/h was enough to eliminate unwanted locations and improve track statistics (the length of the track (approx 10 km in total) was reduced by around 200 m and the average speed in motion was increased by 1.5 km/h by decreasing the time in motion by a few minutes).

I tried with a

[2021-10-04 17:38] vlmendz commented on #968
With my current device and for my use of OpenTracks (riding bike in the city), a suitable value would be around 3 km/h (0.833 m/s). I see from your comment that the speed filter is already programmed, it would be excellent to add in Settings>Advanced options the possibility to modify the filter value.

[2021-10-04 17:44] dennisguse commented on #968
@vlmendz Could you do this yourself?

[2021-10-04 19:34] ristello commented on #143
Hi,
is this issue still relevant?
I executed the instrumented tests on my phone. The tracks in the DB of the app had not been changed.
It seems that the instrumented tests only change the DB of the debug-app.

[2021-10-04 19:47] dennisguse commented on #143
@ristello exactly :)
I usually use the debug build and then it is quite annoying that the data is gone.
But it is not the most important thing todo.

[2021-10-04 20:38] vlmendz commented on #968
I don't have any software to develop apps for Android, besides 0 experience with Java and programming for Android.
Perhaps I could try to find the problem with the distance filter if you tell me in which file(s) it is done and which function is used to calculate the distance between points.

[2021-10-04 20:40] dennisguse commented on #968
Then don't worry; I might have some time the upcoming weekend.
Takes me about 30min :)

[2021-10-04 21:05] vlmendz commented on #968
Ok, I'll be watching for updates :)

[2021-10-05 07:26] sjvudp commented on #967
It's not so easy: I've allowed "background activity", and I've enabled a warning if the app needs too much power (but I got none). Still when the app stops recording, it is still running (I'd say it was not terminated by the OS).

[2021-10-05 15:12] dennisguse commented on #967
Still running just means that was not killed, but the application could be in a hibernated state in which it is not woken up.
This might, for example, be applied if the battery saver is active (or the vendor modified Android so it would save more battery like Huawei).
Usually applications get only killed if not enough memory is available - but that rarely happens.

For me, it is difficult to check

[2021-10-05 17:49] vlmendz commented on #968
I download the source code and examining the TrackRecordingManager.onNewTrackPoint() function I think here's the cause of the erratic operation of the distance filter.
I propose you to analyze or test this modified version of the function:

    void onNewTrackPoint(TrackPoint trackPoint, Distance thresholdHorizontalAccuracy) {

        //TODO Figure out how to avoid loading the lastValidTrackPoint

[2021-10-05 18:06] dennisguse commented on #968
@vlmendz Yes, you found the code.
The problem is: I don't know why it was built this way, so modifying is in such cases slightly risky.
It is kind of a guessing game ;)

So, if we have good arguments why it should be removed (aka it is of no good), then we can remove it. Finding the arguments is usually the tricky part....

[2021-10-05 20:18] rgmf commented on #968
@dennisguse I've never understood very well that piece of code.

Okay, I'm going to re-reading and look into this in the following days so I hope I can help on this.

[2021-10-05 20:53] dennisguse commented on #962
Seems to be working quite nicely with OpenTracks:
* [x] settings: power sensor
* [x] settings: running sensor
* [x] while recording: power
* [x] while recording: speed and distance
* [ ] (seems like a general bug) while recording cadence is not shown

Also we can connect to two GATTs on the same devices.
Android handles everything nicely.

[2021-10-05 21:09] dennisguse opened #970 "Running speed sensors name is not shown"
Found while working on #962.

The sensor name is only taken for cycling sensors, but not for running sensors.
For running sensor, the speed is taken from the TrackPoint and then it is assumed it would be from the GPS.
For cycling sensors, the speed is taken from the SensorDataSet.

Relevant code:
[code]

[2021-10-05 21:11] dennisguse commented on #970
Same isssue for cadence from running sensors.
Here, NONE is shown even although data should be present.

[code]

[2021-10-06 06:49] sjvudp commented on #967
I'm no developer, and I haven't looked closely at the app, but I had the impression that an app doing background things needs special programming and metadata saying that it wants a permission for background processing. I could be wrong, but maybe check.
Some sources I found:
https://developer.android.com/training/location/request-updates#request-background-location
https://developers.google.com/l

[2021-10-06 16:20] dennisguse commented on #967
We have this in place - just that Huawei does not respect it:
* we start a Foreground Service (incl. notification)
* we get a WakeLock
And we have the required configuration in the manifest.

Just some vendors believe that fine-tuning is a good idea :shrug:

[2021-10-06 17:02] rgmf commented on #968
@dennisguse @vlmendz I've gone to ride my bike with two smartphones: one with the code deleted and the other one with the last code in main branch and these are the results:

| (A) Phone with changes proposed by @vlmendz | (B) Phone with main branch |
|-|-|
|44,86km|44,75km|
|Moving time: 1:39:02|Moving time: 1:34:31|

I stopped riding about 5 minutes and (B) behaved better than (A). Moving time i

[2021-10-07 08:18] rgmf commented on #968
@vlmendz I've just found out an error in my coding. I wrote this:

[code]

Instead of:

[code]

:sob: :sob: :sob:

So, everything I said doesn't have any sense... Sorry!

[2021-10-07 19:03] rgmf commented on #968
Here it is: #972

[2021-10-07 19:55] dennisguse commented on #968
I did some cleanup on the #971 in the `TrackRecordingManager` (contained too many TODOs).
I anyhow needed to simplify it to finally fix #969 completely.
TLDR: for actual changes I would recommend using #971 and apply the fixes of #972 there.
(@rgmf sorry for the duplicate work; I was trying to find a "nice" solution for the distance sensor problem)

[2021-10-08 21:11] mega-stoffel opened #975 ""Bad characters" in file name"
Hej there!
Just today I tried to sync all my tracks to my Windows laptop.
But Windows can't work with colons (:) in the file name, which is used to divide hours:minutes.

Would it be possible to avoid such "bad" characters in file names?

Thanks. :-)

[2021-10-09 08:52] dennisguse commented on #975
Duplicate of #254.

[2021-10-09 08:52] #975 closed

[2021-10-09 12:21] dennisguse commented on #975
@mega-stoffel PS/ would you would have some time to look into this that would be awesome!

[2021-10-09 12:24] #950 closed

[2021-10-09 14:13] vlmendz commented on #968
To check filtering behavior, I recorded a track with the Cruiser app, following the same route as the one shown above and using the same device (Redmi Note 7).

Signal reception conditions:
Not the best. Urban area with many buildings and large trees.

👇Values used in Cruiser filters:
![IMG_20211008_190257](https://user-images.githubusercontent.com/91810638/136659124-d0a47d58-45bd-4bc0-a5b6-7694a4

[2021-10-10 14:07] vlmendz commented on #968
I imported in OpenTracks the track recorded with Cruiser and noticed that the calculation of the moving time fails:

![Screenshot_2021-10-10-08-44-25-017_de dennisguse opentracks_1](https://user-images.githubusercontent.com/91810638/136698932-905f2c2f-a2f9-44ca-9f5e-71724f10845b.jpg)

Importing the same track into other apps I got the following:

Total time: 1:28:40
Moving time:
OsmAnd: 38:02
Orux

[2021-10-10 20:13] dennisguse commented on #968
Besides https://github.com/OpenTracksApp/OpenTracks/issues/968#issuecomment-939537053, OpenTracks does create new segments if:
* pause/resume triggered by the user
* or distance to previous TrackPoint > max distance
If the user remains stationary for some time, nothing happens.
To take care about proper statistics, the additional TrackPoints are stored.

[2021-10-12 03:47] vlmendz commented on #968
Sounds good to me 👌

Regard to import, I will try to prepare an example. In my opinion, the import feature in OpenTracks is not that important (in fact I would not have used it if there were not the problems in the recording for which opened this issue) but since an error appeared it is worth fixing.

[2021-10-12 20:28] ristello commented on #143
@dennisguse I have filed a PR which would solve that issue. The approach is described in the PR.

[2021-10-13 19:12] dennisguse commented on #500
@dennisguse
Note to myself - hasSensorData should not be used in TrackRecordingManager if this is implemented.
[code]

[2021-10-14 03:54] vlmendz opened #982 "KML/KMZ/GPX Import: Moving Time and Maximum Speed not computed (but stored in TrackPoints)"
**Describe the bug**
After import a track recorded with the Cruiser app, OpenTracks does not display the moving time and maximum speed. It was tested by exporting the track as GPX version 1.0 and 1.1 with the same result.

**To Reproduce**
Import GPX files similar to fragments shown here:

	<?xml version='1.0' encoding='UTF-8' standalone='yes' ?>
	<gpx version="1.0" creator="Cruiser" xmlns="http:/

[2021-10-14 04:03] vlmendz opened #983 "Allow track creation without starting recording"
**Is your feature request related to a problem? Please describe.**
I use the automatic track export feature at the end of the recording. If I forget to edit the track during the recording (put the name, type of activity, etc.) it is exported without this data.

**Describe the solution you'd like**
Add in the menu an alternative option to the current one to create a track (it could be called "New T

[2021-10-14 13:17] rgmf opened #985 "Activity type in settings: icon does not change."
**Describe the bug**
When user change default activity type in Settings, it changes but icon does not update.

**To Reproduce**
1. Go to Settings -> Default activity type.
2. Change activity type: for example from running to bike.
3. It changes but icon remains in the same than before (running instead of bike).

You can see here: activity type was changed to biking but running icon remains:

![ima

[2021-10-15 05:57] #962 closed

[2021-10-15 20:16] #985 closed

[2021-10-15 20:37] rgmf commented on #500
I didn't realize this.

That sounds like a great idea. With cycling sensors we could do what you say so we can turn GPS off and save battery even for outdoor activities.

On the other hand, I don't know how much effort this will imply: more code, more logic, more maintenance... will it worth? will you use this feature? I think I won't use such a thing because getting locations (trackpoints with GP

[2021-10-16 18:16] dennisguse commented on #718
I don't see this happening; I got about 150USD in Bitcoin and actually costs me more time to get it transferred than it is worth.
It will take some effort to accept different coins and that is just too distracting.

@rgmf @pstorch If you see this differently, feel free to have fun in this domain.

[2021-10-16 18:16] #718 closed

[2021-10-16 18:18] dennisguse commented on #143
This is fixed - thanks to @ristello!

[2021-10-16 18:28] dennisguse commented on #983
#824 describes a different solution for the same problem.

[2021-10-16 19:20] pstorch commented on #718
Actually I'm not a fan of cryptocurrency. From an environmental point of view.
Recently I've removed the Bitcoin donation link from the OSMDashboard fdroid metadata.

[2021-10-16 19:53] G-i-o commented on #718
Hi. I respect your decisions but in my view it's a
pity that you guys throw a bunch of inaccurate
info just before closing the discussion instead of
asking first what solutions could be there for the
half-non existent issues you mentioned.

1) Actually, by using a payment gateway, like
Coinpaymens just to mention one, you don't need to
do anything. You would receive your FIAT money in
your bank ac

[2021-10-16 21:37] dennisguse commented on #982
DAMN, you are a really good tester!
Kudos!

First of all: speed is not imported from these GPX files due to #744.

BUT it should then be computed (using the previous TrackPoint in the current segment).
It happens in the TrackImporter and that works (at least something :sunglasses:).

BUT the computation of speed happens AFTER we compute the TrackStatistics (and here speed is still `null`).
So, mov

[2021-10-17 03:43] G-i-o commented on #718
Apologies for my long replies but there are a
number of inaccuracies that I feel to address.

The bullets below follow roughly the order of the
critiques made above.

∙ One contribution type does not deny the other.
One can make contributions in multiple ways. Just
because I want to make a donation does not mean
that I would stop also reporting bugs etc.

∙ I agree, the  best would be to use
cryto

[2021-10-17 10:39] rgmf commented on #982
If you remove that if then moving time never stop (and going on and on) that's because I added that if to update or not the moving time (it only must be update when moving is detected, right?).

[2021-10-17 10:43] dennisguse commented on #982
@rgmf I see - because we add the time between lastTrackPoint and currentTrackPoint, we have to check if lastTrackPoint was considered moving and not only if currentTrackPoint was moving.
Then we have indirect test coverage for this now :sunglasses:

[2021-10-18 16:41] #982 closed, assigned to nobody

[2021-10-19 15:53] #970 closed

[2021-10-19 16:38] dennisguse opened #989 "UI: show - if sensor is connected and send data at least once"
If a sensor was connected and send data at least once the default value should be shown. If the sensor is not connected `-` should be shown.

Some refactoring:
* pass SensorData to UI via interface, so that data is not extracted into data classes (easier debugging especially for sensor that have cumulative values)

_Originally posted by @rgmf in https://github.com/OpenTracksApp/OpenTracks/pull/984

[2021-10-20 17:29] kurihoro opened #990 "Error in pace shown while running"
While running, the actual pace shown in the statistics is always wrong. It jumps to any value between 4:00 and 8:00 min/Km while I know I'm running at 4:30 - 4:50 min/Km all the time. The value shown is usually higher than my real pace. After the run, the values shown in the intervals tab are right.
I've been using OpenTracks since its beginning (more or less) and this didn't use to happen. I noti

[2021-10-20 17:42] dennisguse commented on #990
That is kind of expected (on how we compute the pace currently).
While recording, we use the speed from reported by the GPS to compute the pace.
The GPS reported speed is very noise and we apply some filtering, but that only helps so much.

Later in the intervals tab, we use the actual distance vs time to compute the speed.
And here the noise is already canceled out as the minimal interval is 1km.

[2021-10-21 17:20] dennisguse commented on #500
@rgmf Hopefully, it won't be that bad - basically, we can consider GPS just another sensor :)
Almost everything is in place for this, except the actual timer that needs to be triggered - implementing it as push would be another option, but would produce more data if multiple sensors are connected.

Another thing that would be great to do for this is #652 (so can we can at least export the stats to

[2021-10-26 16:14] magicdoc423 opened #995 "Setting to switch off miliseconds in recorded GPS-data"
The apps and programs I'm using (Osmand and gpxview i.e.) cannot handle the recorded gpx-tracks when there are miliseconds in timestamp.

So it would be nice to have an option to switch these off in settings menu.

Meanwhile I'm using command
`sed -e 's#\.[0-9][0-9][0-9]Z</time>#Z</time>#g' -i <gpx-file>`
to remove the miliseconds timestamp.

[2021-10-28 11:26] FTno opened #996 "Crashes on Intervals tab"
I installed OpenTracks on an old Samsung phone (Galaxy S7) with Android 7 and here the app crashes when opening a saved track and pressing the Intervals tab.

v3.20.2

[2021-10-28 14:07] #995 closed, assigned to nobody

[2021-10-29 18:20] dennisguse opened #999 "Export track to CSV"
Mainly for analytics purpose and debugging: it would be great to export the trackpoints into a really simple CSV format.

Import is optional.

[2021-10-29 19:03] pstorch commented on #999
Just curios: is it for your own development purposes? You know you can directly access the database via the AppInspector from AndroidStudio, while you debug the app, query the trackpoints table of with a trackid and export as CSV.

[2021-10-29 19:16] dennisguse commented on #999
Yes it is - sometimes AppInspector is just not enough:
* I have some devices with development mode disabled (for reasons)
* I don't always carry my development machine with me

For weird cases, I often use a spreadsheet program and then CSV is choice to go.
That would even work on the phone itself :sunglasses:

[2021-10-29 19:49] pstorch commented on #999
Ah yes, I already guessed that you have a special usecase for this. Just wanted to make sure you know that AppInspector DB access. Because I found out rather late 😉

[2021-10-29 20:23] FTno commented on #996
Exported both tracks (old and new), deleted them from the list, imported them. The new is fine, the old same issue.

Crash report:

[code]

[2021-10-29 20:56] rgmf commented on #996
Seems that there is elevation gain but not loss. The code seems buggy in that case 🤔

@dennisguse if you don't mind and you are busy with other things I'll look into this.

[2021-10-30 07:18] dennisguse commented on #996
@rgmf That would be great!

[2021-10-30 07:20] dennisguse commented on #999
@pstorch +1
actually, I did not use the AppInspector that often so far :)

[2021-10-30 18:57] ElongatedVeggie opened #1000 "OT does not detect Amazfit Bip paired to GB as a HR sensor on Android 6"
**Describe the bug**
After enabling all the required toggles for Amazfit Bip on GadgetBridge to be used by 3rd party apps ("Visible while connected" and according to GB wiki, `You can enable this feature in the Device specific settings: 3rd party realtime HR access. Do note, that some devices seem to have this actually ON all the time and it cannot be disabled`, which they listed "Amazfit Bip" as

[2021-10-30 21:55] dennisguse commented on #1000
Sounds like an issue with Android's BLE subsystem on Android 6 (it was still kind of new back then).

For the device selection, we tell Android to look for devices that announce HR capability in their announcement packets.
However, the announcement information might not contain this information (not the case here as we have a workaround for Amazfit in place and works for you on Android 8) or the a

[2021-10-30 22:13] ElongatedVeggie commented on #1000
I will test it out in the morning. Will it ever be merged to the main branch as a regular feature where you can select between those 2 filter modes?
Thanks.

[2021-10-30 22:17] dennisguse commented on #1000
From my perspective, I would rather not as it is quite some effort to maintain - the number of tiny details quickly add up.
Let's see if it helps first :)

[2021-10-31 03:36] Yoon455 opened #1001 "Chanchai"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

If applicable:
* add screenshots
* add logcat output

**Technical information**
 - Device: [e.g. Nexus 7 (2013)]
 - OS: [e.g. LineageOS 15.1]
 - Version [e.g. v3.2.4]

[2021-10-31 06:43] dennisguse commented on #1001
SPAM?

[2021-10-31 06:43] #1001 closed

[2021-10-31 09:34] ElongatedVeggie commented on #1000
Yes. After a painful Android Studio experience, it does work. It shows the device and it gives the heart rate data.

I understand. I guess I could hack it each release myself because I am the one of the only users with this problem it seems.

[2021-10-31 09:37] rgmf commented on #996
@FTno I think is fixed. You can check that https://github.com/OpenTracksApp/OpenTracks/pull/1002 fixes your issue or wait for a new release.

Thank you so much for your issue ;)

[2021-10-31 13:49] vlmendz opened #1003 "Proposal to obtain better GPS speed values"
**Is your feature request related to a problem? Please describe.**
Using OpenTracks I have noticed some problems with the GPS speed (for example, maximum speed lower than the current one). Other people have reported related problems (e.g. #978, #990).

**Describe the solution you'd like**
Modify the way OpenTracks processes GPS speed. The proposed changes are:

On TrackStatisticsUpdater:

1) Disca

[2021-10-31 14:47] vlmendz opened #1004 "Allow the modification of the speed value using for movement detection"
**Is your feature request related to a problem? Please describe.**
Currently, the speed value using for movement detection is prefixed in the OpenTracks code.

This value is not enough high (0 224 m/s) and allows OpenTracks to register some locations even if it is stopped due to GPS imprecision.

**Describe the solution you'd like**
Allow modification by the user of this value in Settings> GPS, as

[2021-10-31 17:12] #996 closed

[2021-10-31 21:10] dennisguse commented on #1000
Cool!

If you want to create a PR for this; go ahead.
Yesterday, I realized that this code is not touched that often anymore.
Adding such an option would be okay from a maintenance perspective ;)

A really cool solution would to enhance the BLE search dialog by adding a button to search without the filter (in case nothing is found).

[2021-10-31 21:10] dennisguse commented on #1003
Follow up to https://github.com/OpenTracksApp/OpenTracks/discussions/994

[2021-10-31 23:11] ElongatedVeggie commented on #1000
I wish I could, but I do not know how to do it. I would be a tester for that feature though, of course.

This is all from me. Thanks for the hack!
I will leave closing the issue to you, in case there is something to add.

[2021-11-01 21:36] #1004 closed

[2021-11-01 21:38] dennisguse commented on #1000
Not that much to add - every now and then you can just apply the change and that's it.
That should not be too much of an issue :D

[2021-11-01 21:38] #1000 closed

[2021-11-01 21:40] dennisguse opened #1006 "NPE; first reported with v3.21.0"
Reported via Google Play; don't know how to reproduce.

[code]

[2021-11-01 21:46] dennisguse commented on #1006
I don't get it. This should not be happening :man_shrugging:

[2021-11-02 04:43] vlmendz opened #1007 "Recording of points without meeting the conditions of the distance and speed filters"
**Describe the bug**
These unnecessary points are recorded following a pattern:

Before each point that meets the conditions of the filters, the previous point received is recorded (see images):

![Captura_cs_ot_5m_0s](https://user-images.githubusercontent.com/91810638/139786965-5d261485-57cd-479f-974f-879bdd20d761.PNG)
![Captura_qgis_ot_5m_0s](https://user-images.githubusercontent.com/91810638/13

[2021-11-02 07:39] rgmf commented on #1006
I don't understand. The NPE cannot be there :thinking:

When I fixed #996 I got errors in several parts of the code but the error was in IntervalStatistics.Interval.add

I'd bet this issue is the same one. We'll see when new release was launched.

[2021-11-02 17:45] dennisguse commented on #1006
It occurred for v3.20.1.... the installation was not yet updated to v3.21.0

[2021-11-02 17:45] #1006 closed

[2021-11-02 17:47] dennisguse commented on #1007
The pasted code is not the most recent version.

@vlmendz In any case: creating a PR makes our discussions way easier :)

[2021-11-03 12:26] vlmendz commented on #1007
The pasted code is not the most recent version.

I see 🤦

    @vlmendz In any case: creating a PR makes our discussions way easier :)

How I create it? (sorry for my GitHub shortcomings)

[2021-11-08 21:38] #1007 closed

[2021-11-10 08:36] vsevjednom-cz opened #1015 "Current time field"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to see the current time when I'm going somewhere. It's annoying to look on the small clock at the top right of the phone.

**Describe the solution you'd like**
New field called "Hours". It can only display the current time.

[2021-11-12 20:10] dennisguse opened #1017 "NPE on v3.21.0 (Reported via PlayStore)"
I don't know how to reproduce those NPEs, but they seem related.
All started occuring with v3.21.0

Best guess: some kind of race condition in the activity lifecycle (i.e., transition to another activity).
[code]

[code]

[code]

[2021-11-13 17:49] dennisguse commented on #940
It seems totalTimeFrequency was zero.
Best guess to reproduce:
1. enable time-based voice announcements
2. start a recording
3. go to settings and disable time-based voice announcements
Crash on next announcement

[2021-11-13 19:10] #940 closed

[2021-11-14 15:27] #1015 closed

[2021-11-14 18:11] pstorch commented on #952
I've got the build to run on my little vserver and setup a cronjob for 1 a.m. to check for new commits and build a new nightly apk.
Let's see if it is working.
In case someone has already installed the first test nightly from my repo, you need to uninstall it first. I had to change the signing key.

Repo (still beta): https://fdroid.storchp.de/fdroid/repo/

[2021-11-14 20:45] dennisguse commented on #952
@pstorch :heart_eyes:
Just installed the nightly on my phone (in parallel the other two installations ><).
Now I am curiously waiting for the next just released version...

[2021-11-15 11:30] vsevjednom-cz opened #1020 "PreferencesUtils.getSharedPreferences"
Where is `PreferencesUtils.getSharedPreferences` in `v3.22.0`? I can't find it.
Class `PreferencesUtils` is in settings right now but `public static SharedPreferences getSharedPreferences(Context context) {`is missing. I need set and get some variables.

And you probably forgot replace sound annoucement: https://github.com/OpenTracksApp/OpenTracks/issues/862#issuecomment-917682202_

[2021-11-15 11:42] dennisguse commented on #1020
It getSharedPreferences got deleted and replaced by a global static variable: https://github.com/OpenTracksApp/OpenTracks/issues/961
See for the actual changes: https://github.com/OpenTracksApp/OpenTracks/commit/eac3d4b3dbfa2cc565301237539d106504e95965

Regarding: https://github.com/OpenTracksApp/OpenTracks/issues/862#issuecomment-917682202
Can you create a PR?

[2021-11-15 11:49] vsevjednom-cz commented on #1020
Hmm, solved, I hope.

Original code:
[code]

New code:
[code]

And:
From this:
[code]

To this:
`DocumentFile dir = PreferencesUtils.getDefaultExportDirectoryUri(getApplicationContext());`

Of course. This evening.

Thanks!

[2021-11-15 11:49] #1020 closed

[2021-11-15 12:19] vsevjednom-cz commented on #1020
I'm trying to create PR but create button is still inactive. I don't understand branches 👽.

[2021-11-15 16:46] dennisguse commented on #1020
@vsevjednom-cz You can do this, but this is better:
[code]

or use this (if you really need the sharedPreferences object).
[code]

Then sharedPreferences are only instantiated once and we always yse them in the same way.

[2021-11-15 17:51] dennisguse commented on #1020
@vsevjednom-cz just create a branch locally + commit, push it to your fork, and then open the PR via Github.com

[2021-11-15 19:25] vsevjednom-cz commented on #1020
But what is `int keyId`? My preference names are strings, for example: `String nick = sharedPref.getString(getString(R.string.nick), "");`

`'sharedPreferences' has private access in 'de.dennisguse.opentracks.settings.PreferencesUtils'`

My solution above works. So I don't need to change it I hope.

Looks good 🤩.

[2021-11-15 21:08] dennisguse commented on #1020
`keyId` would be in this case `R.string.nick`; it looks like you also extracted the actual preference names into one xml file.
This has the advantage that one can later rename the variables in the code without needing to modify the actual preferences stored on the phones.

PS/ did you have any trouble so far with integrating your changes?

[2021-11-15 21:37] dennisguse commented on #1003
Did I got it right?

*  use the covered distance from the previously stored location to the current one to derive the speed?
and then ignore the GPS provided speed (2.; and then removing speedBuffer_mps [I really like this idea])?
  I mean, speedBuffer_mps should not be required for BLE-based sensors...

* (regarding 4.) I am not sure as this is (more or less) specific for GPS.
   (my assumption)

[2021-11-16 05:57] pstorch commented on #952
First successful build via cronjob last night 🎉

[2021-11-16 16:34] vlmendz commented on #1003
(regarding 4.) I am not sure as this is (more or less) specific for GPS.
All of the above is specific to GPS (not to other types of sensors that determine speed "mechanically").

The idea is to directly use GPS speed, using a minimum value for stop detection (already fully implemented in 3.22.0 and working very well) and a maximum acceleration value to exclude "peaks" and positions probably determ

[2021-11-16 17:04] dennisguse commented on #952
@pstorch Got the update in the morning!
Nice work;

[2021-11-16 21:42] #952 closed

[2021-11-16 21:45] dennisguse commented on #952
Now we have a black background for the launcher icon, so I distinguish all three variants :D
Staying tuned for the new nightly build :partying_face:

[2021-11-17 06:11] pstorch commented on #952
I got a black icon 🎉

[2021-11-17 21:52] dennisguse commented on #1003
One question: why (4)?
What is the benefit of filtering by acceleration before storing a location?
I mean storing it is basically is almost cost-free and it could be removed in post-processing.
And why should it be better than the estimation acceleration?

@vlmendz  similar proposal to last time: want to create a PR and we can iterate on it?

Regarding unwanted locations: Great to hear!

[2021-11-17 21:54] dennisguse opened #1022 "Crash in v3.22.0"
Reported via Google Play Store.

Seemingly the lifecycle handling of the settings with submenus has a problem.
[code]

[2021-11-18 07:01] rgmf commented on #1022
@dennisguse I'll look into this.

[2021-11-18 15:10] vlmendz commented on #1003
What is the benefit of filtering by acceleration...
The benefit is to get a more reliable track and statistics (especially the maximum speed). For example, if you are recording a track riding a bike and the acceleration calculated in the last position is more than 1g, it can be assumed that at least the speed of that position is wrong (and that the position in general is not very reliable).

You c

[2021-11-18 16:15] #1022 closed

[2021-11-18 18:06] mega-stoffel opened #1025 "Export is sometimes (very rarely) not working"
Hej there!
My tour from yesterday, November 17th, is somehow not able to export.

**Describe the bug**
I usually commute in the morning, stop this track (in the underground parking without any connection). This works fine. In the afternoon I just select this track and click on "continue track" and ride home. This works fine, almost every time. Also all my other recordings work fine.
Just a few wee

[2021-11-18 19:24] dennisguse commented on #1025
Any chance to get a logcat?

The error messages states that the folder could not be accessed (not sure if we just catch all errors and just print this message).
When you set in the settings, we acquired write permissions.
My first thought was that this permission was revoked as it was granted long ago.

[2021-11-18 19:26] dennisguse opened #1027 "Ignore locations if distance to previous location is too close (even when using a distance sensor)"
i was running with a shoe-based running sensor that disconnected while running.
And we store way too many points in between (as long as the sensor is connected).
Not useful for anything.

Other aspects:
* [ ] sensor did not reconnect (needed to stop the track and start a new one)
* [ ] after sensor disconnected, distance and speed were NOT taken from GPS although they should have been, right?

![S

[2021-11-19 23:04] dennisguse opened #1029 "Sensor data: compute and store average for each trackpoint"
**Is your feature request related to a problem? Please describe.**
We are storing the latest reported data from a sensor, whenever a new TrackPoint is created (i.e., a new GPS location reported) [except for distance, which is summed].
Storing data this way is not entirely correct.

**Describe the solution you'd like**
Compute and store the average.
For example, compute the average of reported cade

[2021-11-19 23:11] dennisguse commented on #952
@pstorch PR for the webpage welcome :D

[2021-11-20 10:24] rgmf commented on #1025
@mega-stoffel It happened to me with a track. I cannot be exported to a nextcloud folder but it does in others folders. Is that your case?

I know where the issue is but I don't know if we can do anything, because it's in `DocumentFile.createFile` or in `DocumentFile.getUri`.

[2021-11-20 18:43] #1027 closed

[2021-11-20 19:03] mega-stoffel commented on #1025
it might be related to nextcloud, yes. That's where my files end up.
And @dennisguse: I doubt it is a general issue, because usually it's working. Just today I successfully recorded a new track (as on most of the days since I use OpenTracks). How can I get such a "logcat"?

[2021-11-20 21:38] dennisguse commented on #1025
@mega-stoffel This can be done via AndroidStudio: https://developer.android.com/studio/debug/am-logcat
Requires enabling developer options on your phone.
And the logs are stored for some time - so the phone does not need to be connected to the computer when it happens.
You filter by "OpenTracks" in the logs.

[2021-11-20 21:46] dennisguse commented on #1003
Another though: we would still store the GPS reported speed for each TrackPoint, but just compute the TrackStatistics differently.

[2021-11-21 06:39] slackline commented on #925
Bit late reporting back but I tried distance based announcements again recently and was pleased to find they are working fine again. Thank you for all the work done on this app its great.

[2021-11-21 12:34] dennisguse commented on #925
Great to hear and thanks for the feedback :D

[2021-11-23 01:48] mega-stoffel commented on #1025
I think I have some logcat output via the LogcatReader app (https://github.com/darshanparajuli/LogcatReader).
Is it ok to share it here? Or should I send it somewhere else?

[2021-11-23 06:12] pstorch commented on #1025
This is the error I get when exporting tracks to a Nextcloud directory:

[code]

[2021-11-24 17:45] dennisguse opened #1035 "NPE reported via Google Play for v3.22.0"
Seemingly, the button delay in controller fragment should check if should still handle the event (is activity still in running)?

[code]

[2021-11-24 21:38] dennisguse commented on #1025
@pstorch Anything suggestion what to do in this case?

@mega-stoffel Does it look the same as the one from @pstorch?
You can just search for `Caused by: java.io.FileNotFoundException: File could not be created`

If it is different, you can either share the relevant part here __or__ send it by mail to me: opentracks-play@dennisguse.de

PS/ a logcat may contain sensitive information, so sharing it w

[2021-11-28 05:46] ae5960e8-a6fc-491f-b252-898ecf59af95 opened #1038 "[Feature Request] AMOLED Dark Theme (pure black)"
Please consider adding an option for a pure black/AMOLED black UI theme to the app. Thank you!

[2021-11-28 22:03] dennisguse commented on #1038
Duplicate of  #1038.

Sadly, I didn't have the time to look into this, but it shouldn't be too difficult.
The F-Droid app has support for this, and we might be able to use the same approach.
@ae5960e8-a6fc-491f-b252-898ecf59af95 If you have time for this kind of research, it would be great.
Adding it to OpenTracks should be relatively simple (I hope)...

[2021-11-28 22:03] #1038 closed

[2021-11-28 22:46] ae5960e8-a6fc-491f-b252-898ecf59af95 commented on #1038
I'm not experienced in Android development, but recently another app implemented a pure black/AMOLED dark theme. Here's how Currencies (FOSS app) did it:
https://github.com/sal0max/currencies/commit/9b8cb791b5550d17edbf8cc7d8053eff7ebc63be

[2021-11-29 07:15] #1025 closed

[2021-11-29 07:15] #254 closed

[2021-11-29 07:44] dennisguse commented on #957
An example showing use of setTheme in every activity is referenced here: https://github.com/OpenTracksApp/OpenTracks/issues/1038#issuecomment-981166777

[2021-11-29 09:50] pstorch commented on #1025
It's closed by my commit message, but I'm not 100% sure if it is solved completely. Should we keep it open for a while?

[2021-12-03 10:14] pil-in-a opened #1039 "Feature request: Export all/selected tracks to CSV"
Hello.

It would be great to have possibility to export all/selected tracks to simple CSV, which will contain basic info of the track (date, distance, avg speed, description, etc.). Every track as a line.

As a biker, sometimes I need some quick info, how many kilometers I've ridden since some exact date (e.g. for maintenace - how many km I have with new chain etc,).
Or maybe do some other simple

[2021-12-03 15:56] dennisguse commented on #1039
CSV: related to #999.
Kind of easily doable; as usual the UI/UX is a problem.
@pil-in-a Any suggestions?

@rgmf Or could we extend the aggregated stats page for this?

[2021-12-03 16:54] pil-in-a commented on #1039
For aggregated stats, the icon could stay in top bar after selection but it will lead to agg. stats for selected tracks.

For export CSV, there could be "Export stats CSV" in hamburger menu after selection. It will generate CSV (named by date and time?) and export it to default export folder.
The other option could be a button "Export stats CSV" on the aggregated stats page, which will export that

[2021-12-03 17:48] rgmf commented on #1039
@dennisguse @pil-in-a Aggregated Stats could have a between dates filter. That way, it would be more general and I think it covers what @pil-in-a needs, isn't it?

About CSV export option: I'd integrate it with GPX, KML... options. Otherwise, it'd be a little confusing. We could do what @pil-in-a point out about the burger menu but for all kind of formats.

[2021-12-03 21:18] pil-in-a commented on #1039
@rgmf I think aggregated stats from selection would be more general in my opinion because all tracks between dates suits only in one specific case (for my purpose good enough). But I can imagine, someone would like to pick up only some training route performed once in a while and leave all the commuting between. Although the exported CSV will handle this task very easily.

[2021-12-04 21:23] #1035 closed

[2021-12-04 22:19] dennisguse commented on #1039
This issue is also related: https://github.com/OpenTracksApp/OpenTracks/issues/395

[2021-12-06 22:18] dennisguse commented on #301
And it get's slightly more complicated; just storing the offset for the Track would be possible, but would introduce some hacks.
Both KML and GPX export timestamps _per_ location (in our case TrackPoint) with a timestamp: so on export would need to write the proper timezone everywhere.
And import compute back to the one timezone.

There are two edge cases:
* what happens if a user changes timezone

[2021-12-06 22:32] dennisguse opened #1041 "Do we still need the Wakelock?"
While recording, TrackRecordingService grabs a Wakelock.
It seems to be a leftover from ancient times as GPS locations are reported using a callback and for the rest, we use handlers.

Note: We might get some problems after for BLE sensor data only (i.e., after merging #1033).

Documentation: https://developer.android.com/training/scheduling/wakelock

Got the idea from here: https://gpslogger.app/

[2021-12-07 06:18] pstorch commented on #301
Tricky problem. I try to avoid 😉

Oldie but goldie: https://youtu.be/-5wpm-gesOY

[2021-12-07 17:07] #938 closed

[2021-12-07 17:16] dennisguse commented on #938
@rgmf :partying_face:

[2021-12-07 18:20] dennisguse commented on #301
t9@pstorch Awesome!!!!!
That's what exactly what I needed - long story short: we should only store the zone offset once (aka in the Track).
And we will use this everytime, we render an Instant for the user (i.e., UI + export); during import, we just get the first one and normalize the other one's accordingly.

All internal handling will stay at epoch.

One night sleep + a video can change it all :

[2021-12-07 19:31] rgmf commented on #301
@pstorch great video :+1:

[2021-12-07 21:39] dennisguse commented on #301
* [x] add offset column to Track table
* [x] add field to Track
* [ ] add check in ExportImportTest
* [ ] use offset for UI renderings

[2021-12-12 12:42] rgmf opened #1046 "[v3.22.0]: Moving time is not working (everything is counted to moving time)"
**Describe the bug**
Using nightly version I've figured out that moving time is not working. When you stopped the moving time stopped too, but then moving time jump forward all the time you was stopped.

For example:
- Start an activity and stopped after 30 minutes.
- Take a 5 minutes rest (moving time remains in 30 minutes).
- Resume the activity and then moving time jump to 35 minutes instead of

[2021-12-12 19:04] dennisguse commented on #1046
Damn; sounds like a regression due to our recent changes in `TrackRecordingManager.onNewTrackPoint`: i.e., the removal of idle/non-idle code.

@rgmf Could you check how the actual recorded TrackPoints look like (mainly there TYPE)?
Best guess: they will be of TYPE=TRACKPOINT and then the TrackStatisticsUpdater has trouble to determine if it is just a lot of time between TrackPoints or if you were

[2021-12-12 19:11] dennisguse commented on #1046
Finally in `TrackStatisticsUpdater`:
[code]

It is a regression:
1. Record TrackPoints while moving: type TRACKPOINT with speed > moving threshold
2. Then stop moving (almost immediately): nothing will be recorded (here is the issue: we do not record a non-moving TrackPoint here anymore; but we don't anymore).
2. Wait
3. Then start moving again will create new TrackPoints:  type TRACKPOINT with sp

[2021-12-12 19:12] dennisguse commented on #1046
Change was released with v3.22.0

[2021-12-12 20:32] rgmf commented on #1046
Yes, you are right. I see three TrackPoints of type -2 (SEGMENT_START_MANUAL) and three more of type 1 (SEGMENT_END_MANUAL) because I paused and then resumed the track exactly three times. The rest of the TrackPoints are type 0 (TRACKPOINT).

[2021-12-12 20:35] rgmf commented on #1046
That's right. The issue is in the second point. There have should be a segment there, right?

[2021-12-12 21:27] dennisguse commented on #1046
Not really, OpenTracks creates segments only on distance to previous location.
For moving time, we just use `TrackPoint.isMoving()`, but we only store TrackPoints __if__ they were considered moving.
From `TrackRecordingManager`:
[code]

Basically: moving time is broken.
It might only be working if an automatic segment was created (due to segment distance).

[2021-12-16 18:36] JaniKe74 opened #1050 "Wahoo blue SC sensor"
This sensor has speed/distance sensor and also cadence sensor. The problem is that information from cadence is coming to speed/distance fields and speed info is coming to cadence field. Cadense field is still showing value in rpm, but it's following tyre rotation. If I stop rotating cranks, speed goes to zero.

[2021-12-16 20:34] dennisguse commented on #1050
Interesting!
Link to the sensor: https://de-eu.wahoofitness.com/devices/bike-sensors/wahoo-blue-sc-speed-and-cadence-sensor

I had some trouble with cadence as well as speed sensors that provided the wrong kind of data aka a cadence sensor providing speed and vice versa.
So, for check first for one and if it is not there check the other.

Relevant code:

https://github.com/OpenTracksApp/OpenTracks

[2021-12-16 21:12] JaniKe74 commented on #1050
I have tested also only one sensor at a time for both sensors and it's same situation, data goes to wrong field. If i use this same Wahoo sensor in Sports Tracker app it is working correctly, so the sensor should work correctly.

[2021-12-16 21:28] dennisguse commented on #1050
That sounds as if we parse the data in the wrong order and the implement workarounds just "fix" this.

Here is the spec: https://www.bluetooth.com/wp-content/uploads/Sitecore-Media-Library/Gatt/Xml/Characteristics/org.bluetooth.characteristic.csc_measurement.xml

The actual byte parsing is happening in BluetoothUtils.

@JaniKe74 It would be awesome if you could debug this.
The actual received payl

[2021-12-16 22:38] JaniKe74 commented on #1050
Well, I don't know what I need to do and how to do..

[2021-12-18 12:19] dennisguse commented on #1050
Depends on your Tech Skills :)
Option 1: can you compile and install OpenTracks (via AndroidStudio) on your phone?
If yes, then you can just put a break point and wait until you receive data.

Option 2: you can use a Android BLE application and try connect to the sensor manually.
(i.e., connect to the device and subscribe to the correct service).
This one should be able to do it:
https://play.goog

[2021-12-18 12:20] dennisguse opened #1052 "TrackRecordingService: service connection leaks"
I was able to reproduce again. Starting the track recording, push the power button, so the screen of you phone turns black and OT runs in the background. Wait until the first notification. Then unlock the phone again and stop the recording. Go back to the track list and you see that there is still a track recording running.

This is the logcat:

[code]

Hope you can make any sense out of it.

_Ori

[2021-12-19 16:57] JaniKe74 commented on #1050
I download that app what was in option 2. Then I connect to the Wahoo and took screenshot and dowloaded log file. I don't know have those information what you need, but you can give me more info what to do. ![Screenshot_20211219-182912.jpg](https://user-images.githubusercontent.com/96259413/146683345-9d04e140-d881-494d-b822-1cc2e7d6a3d4.jpg)![Screenshot_20211219-182923.jpg](https://user-images.git

[2021-12-19 20:47] dennisguse commented on #1050
@JaniKe74 Nice!
Just checked my sensor with the nRF connect app and it can export raw values!
For this, you were already in the right menu: just get a measurement from the 0x2A5B  service.
1. start your sensor
2. open the nRF connect app and connect to the sensor
3. go to 0x2A5B (CSC measurement)
4. either enable notification / or get one measurement only
  When it received data, it will show the

[2021-12-19 21:03] JaniKe74 opened #1054 "Wahoo sensor (0x2A5B)"
CSC Measurement
0x2A5B
Properties: NOTIFY
Parsed value: Wheel rev: 0,
Last wheel event time: 272 ms,
Crank rev: 33,
Last crank event time: 60358 ms
Raw value: (0x) 03-00-00-00-00-10-01-21-00-C6-EB

[2021-12-19 21:04] JaniKe74 commented on #1054
I rotate crank only and it shows revs in the crank.

[2021-12-19 21:06] #1054 closed

[2021-12-19 21:06] dennisguse commented on #1050
[code]

From https://github.com/OpenTracksApp/OpenTracks/issues/1054#issue-1084190726

[2021-12-19 21:06] JaniKe74 commented on #1050
Okay, I send the data already, but it is a new issue. I didn't know how to put it in this same issue.

[2021-12-19 21:53] dennisguse commented on #1050
I just checked the parsing and the data handling: looks okay.
At least I couldn't find anything wrong ;)

@JaniKe74 Can you try this APK?
I removed the swapping of wheel vs crank workaround: if we were looking for wheel and t was not present, we checked cadence as well and vice versa.
If there is a problem somewhere in OpenTracks you will not see any data using this variant.
Current hypothesis: th

[2021-12-19 22:11] JaniKe74 commented on #1050
Yeah, now it was working correctly. I tested one sensor at a time and both sensors together and it was working in all the situations.

[2021-12-20 07:27] dennisguse commented on #1050
@JaniKe74 I still don't know why this works, but YOLO.
I checked with my Garmin Speed 2 and this works as well (without the workaround).
During the week I (hopefully) will get my hands on two Wahoo sensors (again) for testing.
If everything works, then we can release this change.

It might just be that there was a bug in another place that was fixed by this workaround, but the bug got fixed ;)

PS

[2021-12-21 19:53] #1046 closed

[2021-12-21 20:01] dennisguse commented on #1050
@JaniKe74 Did you actually ever use your sensor with a pre-v3.22.0 version of OpenTracks?

[2021-12-21 20:09] JaniKe74 commented on #1050
No, only that last one v3.22.0.

[2021-12-21 20:58] dennisguse commented on #1050
@JaniKe74 then I don't get it :)
I introduced this issue likely in this commit: 35de5b6b264ad43b1c343a8323961db18b4874f4
I saw that the parsing of the data was (by me) implemented the wrong way around, but that change was not released with v3.22.0 as it happened afterwards.

But I tried to test using a Garmin Speed and the current main branch is not working anymore (likely due to this commit), but

[2021-12-21 21:46] JaniKe74 commented on #1050
I downloaded Open Tracks from F-Droid maybe year and half ago, but there was this problem with sensor. Later I tested it again, because it get update but problem was still there and then I make this issue. When you send that apk couple days ago, it was first time when sensor worked correctly. I'm not a coder, just user. But I like open source software and i'm using linux and so on, but i don't hav

[2021-12-21 21:57] dennisguse commented on #1050
@JaniKe74 Thanks for reporting this! Don't hesitate to tell us if something is broken or can be improved.
We will figure then out (somehow), how to get it done :)

PS/ I just released v3.23.0, but it does not contain this fix as I want to be sure that the unneeded workaround was the actual issue. My main motivation is understand if I understood how it works :)
Just keep using the one I sent you; I

[2021-12-21 22:47] JaniKe74 commented on #1050
Okay, good to know about that 3.23.0 version. It was interesting being  part of this and thanks for fixing it :).

[2021-12-22 21:29] #1050 closed

[2021-12-22 21:32] dennisguse commented on #1050
@JaniKe74 Changes are merged; tomorrows nightly build run will have this change: https://opentracksapp.com/#Nightlies
For F-Droid: we are waiting for some days after v3.23.0 becomes available on F-Droid before creating a new release.
So, it will be after X-Mas.

[2021-12-22 21:37] dennisguse opened #1057 "Add integration tests for Bluetooth sensors"
We have some unit tests for BLE sensors, but the whole internal data processing is not tested if Bluetooth is used.

[2021-12-22 21:39] dennisguse opened #1058 "Fix movingtime_with_pauses on API23"
Somehow, this integration test is failing on API23 (especially CI).
Did not figure out exactly why: the mocking of the Clock seems to be not be working properly.

@dennisguse here they are:

At the beginning of the test:

[code]

Just before  `expected: <PT19M> but was:<PT18M>` fail:

[code]

Only FYI: this is the code I wrote:

[code]

_Originally posted by @rgmf in https://github.com/OpenTracksA

[2021-12-22 21:44] dennisguse opened #1059 "Optimize idle/non-idle detection"
We detect idle/non-idle changes only using the GPS/ sensor-provided speed.
As the speed is inherently noisy (especially for GPS), this leads to creating to much TrackPoints due to idle/non-idle changes.

Some ideas:
* filter the speed (using the speedbuffer from TrackStatistics)
* require a certain time before switching between idle/non-idle
* require a certain amount of GPS locations switching be

[2021-12-22 21:44] dennisguse commented on #1059
@vlmendz Any other ideas?

[2021-12-23 04:39] vlmendz commented on #1059
@dennisguse As a starting point to experiment, I recommend you create a branch using version 3.22 as a base, and in this branch replace TrackRecordingManager.onNewTrackPoint() with the version I put below, compile and test outdoors.

If this modification works as I expect, it should record only the first and last position received at each stop (when moving, it should work as the 3.22 does). As I h

[2021-12-24 09:49] dennisguse commented on #1059
One additional challenge is that GPS locations are not provided at a fixed interval and this might also lead to some unwanted effects.

@vlmendz I need to finish the other things first (at least #1033 and #1042).

[2021-12-24 10:50] #1039 closed

[2021-12-24 10:56] rgmf commented on #1059
I have an explanation for this (and I think it could help here): https://github.com/OpenTracksApp/OpenTracks/pull/1047#issuecomment-994414826

When you stop then moving time stops too. If you resume your activity but you stop again before distance threshold then moving time back to the value of the last point. It makes sense but it's an strange behavior.

[2021-12-24 18:24] vsevjednom-cz opened #1060 "Slow tracking refresh"
Tracking is lazy sometimes. Distance is refreshing randomly. I've got set `10 m` in `recordingDistanceInterval` but sometimes it works faster (2-3 meters) and sometimes very slowly (100-200 meters). There's not any change when I set for example `1 m`.

**To Reproduce**
1. Start tracking.
2. Sometimes it works good but when I tap to pause and continue - there is a problem with tracking. Sometimes i

[2021-12-25 18:52] dennisguse commented on #1060
It depends on two things:
1. how often is your GPS providing updates?
   This might depend on a lot of factors, but largely device and surroundings.
2. how the reported speed is and how precise is it?
   In v3.22.0, we removed the storage of idle/non-idle TrackPoints and this broke the moving time.
   In v3.23.0 (also pre-v3.22.0), those are stored again.
   PS: depending on the surroundings GPS p

[2021-12-25 19:28] vsevjednom-cz commented on #1060
OMFG. I'm an idiot. Thank you, thank you, thank you! I set autopause speed to 5 km/h for testing few days ago.  But I forgot to bring it back. I searched problem in my Android studio 🤣. Thank you, thank you, thank you!

[2021-12-25 19:28] #1060 closed

[2021-12-25 19:32] dennisguse commented on #1060
PS/ autopause is quite problematic if you use GPS only.
It gets even worse, if the difference between your expected speed is quite low (like walking and using 5kmh).
Then OpenTracks will create a LOT of idle/non-idle changes - even using 2.5kmh for this case might be problematic depending on the GPS accuracy at the location.

PS/ don't worry :)
And happy X-mas!

[2021-12-26 20:47] dennisguse opened #1061 "Only request GPS permission if user wants to use GPS"
With #1033, users can use OpenTracks without using GPS at all.
Thus, the GPS permission becomes an optional feature and we only need to request if the user wants to actually use GPS.

Don't know yet how to implement this to provide a nice user experience.

[2021-12-27 07:41] JohanvdS opened #1063 "pine time"
I am using pine time watch but it is not connected when I asked for heart rate connection. It couldn't find the watch. Can this implemented? Gadgetbridge has no problem and also fittotrack can connect the watch. So if this is a problem ? Here it is or is the watch not included in the software? I hope it will be soon implemented.

Yours

Johan**Is your feature request related to a problem? Please d

[2021-12-27 08:52] dennisguse commented on #1063
Not a problem.
We are filtering devices based upon the services that they announce.
I guess it is not announcing itself as a heartrate device, right?
What UUID is the PineTime announcing?

We have a workaround for Mibands in place as they also don't do this.

[2021-12-27 10:21] JohanvdS commented on #1063
https://github.com/InfiniTimeOrg/InfiniTime/releases

You can find it here. I am not a developer in that case

Yours

Johan--
 Verzonden met Tutanota, de veilige en advertentievrije postbus.

27 dec. 2021 09:52 van ***@***.***:

[2021-12-27 11:34] dennisguse commented on #1063
@JohanvdS Can you coordinate it with them?
What we need is the UUID that the PineTime is announcing in it's BLE announcement package.
Just reference this issue.

[2021-12-27 22:38] dennisguse commented on #1058
Took me quite a while.

The problem is:
1. on API23 a new segment is created at second 17
2. because in a previous test the max recording distance interval is reduced from 200m to 50m (for testing)
3. and then this test fails.

Actual problem: ServiceTestRule is not restarting (i.e., onDestroy() + onCreate()) the service on API23.
Thus, the preferences in TrackRecordingManager are used in the subs

[2021-12-28 13:24] #500 closed

[2021-12-28 13:24] #652 closed

[2021-12-28 13:24] #1058 closed

[2021-12-28 14:44] dennisguse commented on #301
https://github.com/OpenTracksApp/OpenTracks/pull/1042#issue-797971470

Needs some more work for the UI:
* [ ] use offset for UI renderings: StatisticsRecordedFragment
* [ ] use offset for naming tracks (default name option)
* [ ] use offset for UI renderings: TrackListActivity
* [ ] use offset for UI renderings: MarkerListActivity

[2021-12-28 14:56] rgmf commented on #1058
@dennisguse awesome catch :tada: :tada: :tada:

[2021-12-28 15:00] dennisguse commented on #1058
But to be honest...... I really need to rework the status handling in TrackRecordingService.
Things must be created when needed and not in onCreate.
Took me some hours :)

[2021-12-28 21:48] dennisguse commented on #1000
I added an option to disable the filtering of services.
Can you check that the device is now discovered?
Changes will be in tomorrows nightly build.

[2021-12-28 21:57] dennisguse commented on #1063
I added an option to disable the filtering; will be in tomorrows nightly.
Should be working now.

https://github.com/OpenTracksApp/OpenTracks/pull/1064

[2021-12-28 21:57] #1063 closed

[2021-12-28 22:02] ElongatedVeggie commented on #1000
Tested, it does work as expected. Thanks for that!

[2021-12-28 22:03] dennisguse commented on #1000
Thanks for the quick feedback!
Have fun using it!

[2021-12-28 22:24] dennisguse commented on #1052
Should be fixed by reworking lifecycle of TrackRecordingService.

[2021-12-29 04:40] JohanvdS commented on #1063
Thanks, i couldn't finds the UUID directly. I love to seen the work by development as I am not one. I am coaching people's to get a job lol. So not much time for invest into other interest things.

--
 Verzonden met Tutanota, de veilige en advertentievrije postbus.

28 dec. 2021 22:57 van ***@***.***:

[2021-12-29 04:45] JohanvdS commented on #1063
Hi Denis, 
One thing more I am not using the Google play option but the f-droid. No google on my phone ( volla.online )

Yours

Jihan
--
 Verzonden met Tutanota, de veilige en advertentievrije postbus.

28 dec. 2021 22:57 van ***@***.***:

[2021-12-29 08:05] dennisguse commented on #1063
The F-Droid and the PlayStore built are identical: only difference the PlayStore is compiled on my machine.
PS/ don't worry; already reporting something helps :)

[2021-12-29 09:37] dennisguse commented on #475
@rgmf This is somehow implemented, right?
I mean the new filter option allows to do this...

[2021-12-29 16:17] rgmf commented on #475
@dennisguse you are right, I overlooked it. I've just closed it.

Closing issues makes me happy :rofl: :rofl:

[2021-12-29 16:17] #475 closed

[2021-12-29 16:32] JF002 commented on #1063
Hello! Thanks for considering adding support for the PineTime in OpenTracks!
When I implemented the heart rate sensor, I tried to follow the BLE specification of the Heart Rate service:
 - Heart Rate Service : 0x180D
 - Measurement characteristic : 0x2A37

Here's a screenshot of NRFConnect, which detects the heart rate service correctly:
![infinitime-hr](https://user-images.githubusercontent.com/2

[2021-12-29 16:54] JohanvdS commented on #1063
What Telegram can do for a litle help :)

[2021-12-29 16:55] dennisguse commented on #1063
@JF002 :)

The pine time should be working with the next release with one ugly nitpick.
I added an option to disable the filtering for supported devices.
Here is the problem for BLE discovery: upon initiating discovery nearby devices announce their presence.
This is just one package and contains the device name and (some) but not all service UUIDs.
For typical BLE sensors, those contain the useful

[2021-12-29 17:03] dennisguse commented on #475
@rgmf me too :)

[2021-12-29 18:11] dennisguse commented on #1063
@JohanvdS this is how nimble is configured to announce the supported service.
Don't know where this is actually configured in Infinitime...

https://mynewt.apache.org/latest/tutorials/ble/bleprph/bleprph-sections/bleprph-adv.html

PS/ https://github.com/InfiniTimeOrg/InfiniTime/blob/8ab959b4dcd0778c7637ba7934d24dbe59634327/doc/ble.md#heart-rate

BLE heartrate can be send either as UINT8 or UINT16

[2021-12-29 18:36] dennisguse commented on #1063
I guess I found it.

Relevant code is in NimbleController:162, i.e., `fields.uuid128 = &dfuServiceUuid`.
And Infinitime announces this UUID:
[code]

https://github.com/InfiniTimeOrg/InfiniTime/blob/3b0b48020d96353fc6cd114aa80fc2fec98363a3/src/components/ble/NimbleController.h#L123

@JF002 can you confirm this?
And would you have time to test an OpenTracks build that includes this as special heart

[2021-12-29 21:00] dennisguse commented on #1063
This should fix the issue: https://github.com/OpenTracksApp/OpenTracks/pull/1069
Alternative solution: InfiniTime also announces heartrate for advertisements (i.e., dfuServiceUuid).

[2021-12-30 14:31] dennisguse commented on #671
@arjan-s @chmduquesne Do you have time to test this?
https://github.com/OpenTracksApp/OpenTracks/pull/1072

[2021-12-30 15:29] JF002 commented on #1063
I confirm! The DFU service is advertised so that NRFConnect detects the PineTime as a DFU-capable device.

I guess I could add the UUID of the heart rate service. Is there any downside to add multiple UUID in the ADV packet?

[2021-12-30 15:39] chmduquesne commented on #671
@dennisguse is the feature is available on a prebuilt version of the app?

[2021-12-30 15:48] rgmf commented on #301
@dennisguse Shall we move android.text.format.DateUtils to DateTimeFormatter? If so, we can avoid to propagate Context object to StringUtils.

For example:

Move this:

[code]

To:

[code]

[2021-12-30 16:40] dennisguse commented on #301
@rgmf Looks good!

[2021-12-30 16:41] dennisguse commented on #301
PS: technically, we don't have the timezone - it is just the offset that was present at the time of recording.
So, we cannot really derive the timezone from anymore.

[2021-12-30 16:42] dennisguse commented on #671
@chmduquesne Yes, there is a build for each branch.
Can be downloaded here: https://github.com/OpenTracksApp/OpenTracks/actions/runs/1637768469

(just search for APK).

[2021-12-30 17:26] dennisguse commented on #1063
Moved to https://github.com/InfiniTimeOrg/InfiniTime/issues/895

[2021-12-30 19:57] arjan-s commented on #671
@dennisguse Hey, that's great! I can test it in a few days probably. Are you planning to add a `STOP_RECORDING` intent too? My goal is to allow certain wearables to start/stop OpenTracks recording via Gadgetbridge, but that would obviously require an intent to stop recording as well.

[2021-12-30 20:18] dennisguse commented on #671
Adding stop, won't be a problem.

Only limitations: we should not expose any information about OpenTracks current state.

@arjan-s If START_RECORDING works, STOP_RECORDING is just 2seconds copy and paste :)

[2021-12-30 20:27] arjan-s commented on #671
@dennisguse That would be great!! For my use case there isn't a real need for feedback. Just the possibility to start and stop recording would already be awesome to have!

Now I just need some time to write down all my settings, install the OpenTracks test build, and reselect all settings. :)

[2021-12-31 19:37] dennisguse opened #1073 "v3.23.0 (or earlier): share track functionality is broken"
Using LineageOS and K-Mail.

[code]

[2021-12-31 19:40] dennisguse opened #1074 "Nightly: distance is not computed correctly when using GPS only"
**Describe the bug**
This is  bug in the TrackStatisticsUpdater.
Was introduced while building #500.
Don't know yet what the exact problem is, but all locations were recorded correctly.

Problem is not in v3.23.0

This blocks any upcoming release!

[2021-12-31 19:47] dennisguse commented on #1074
The problem is that we are storing TrackPoints without a coordinate.
Don't know yet exactly why as no sensor was connected (although a cycling sensor was setup).
[code]

[2022-01-01 11:01] dennisguse commented on #1074
Seems to be we should only create SENSORPOINTS if sensor data is actually available.
And we should also move to event-driven handling instead of time-based.

And again: seems to be an effect of idle/non-idle.

[2022-01-01 13:33] dennisguse commented on #1074
@pstorch @rgmf  in case you are using the nightly for "real" recordings... don't (for now).

[2022-01-01 14:13] arjan-s commented on #671
@dennisguse I installed the linked nightly, which turned out to have a different package I'd, so I didn't have to uninstall the F-Droid version. 👍🏻
I didn't get  the intent to work though. I used Tasker to send it, which works fine for other apps. Changing the intent action to the nightly package name didn't work either. Any idea what I might be doing wrong?

[2022-01-01 16:35] dennisguse commented on #671
I tested it with Easer.
Best guess: I guess you used the wrong nightly (we have two: the F-Droid one and the Github one; while only the later is built per branch).

![Screenshot_20220101-155356_Easer](https://user-images.githubusercontent.com/2820825/147855237-7fa4cafc-3cd5-467f-b5d0-974c962b3329.png)

Here is a PlayStore build of this branch.
[OpenTracksUpstream-releasePlayStore.zip](https://gith

[2022-01-01 19:28] arjan-s commented on #671
Interesting... I apparently did the correct thing, but it simply has no effect. I'm sending the correct intent (tried with both Tasker and Easer), but I get no response at all from OpenTracks. Also uninstalled the official (f-droid) OpenTracks so I just have the nightly running. Btw I was running the correct GitHub nightly, but I just tried your new Play Store build and it doesn't do anything eith

[2022-01-01 20:01] arjan-s commented on #671
Tried running OpenTracks directly from source in debug mode with Android Studio, but still nothing. No logging at all about any received intent. Then I figured I could send the intent with `adb` as well, and that finally gave me some output:
[code]
Still no clue why, but apparently the intent is not registered in Android somehow.

[2022-01-01 20:05] dennisguse commented on #671
"Interesting" as it should be working.

https://github.com/OpenTracksApp/OpenTracks/blob/a5802bb24f3bb98bd853a3ce1100d1b013c12c73/src/main/AndroidManifest.xml#L77

I will try tomorrow with my 2nd device.

[2022-01-01 20:19] arjan-s commented on #671
Yeah, I don't understand it either. The manifest seems to be correct (although I'm not a very experienced Android developer).
If it helps, I'm running it on Android 11 from Samsung.

[2022-01-01 20:22] dennisguse commented on #671
I am running LineageOS 18.1 / Android 11 :D

PS/ me neither :sunglasses:

[2022-01-01 20:52] arjan-s commented on #671
Found it! Thanks to [this answer](https://stackoverflow.com/a/52110024). Add the following in the `<intent-filter>` to make it work:
[code]
I do have 3 issues with the current implementation though, of which the first two are blocking for my Gadgetbridge plans (sorry...):

1. Can't stop recording with an intent (already said this before and it's a todo in the PR I see)
2. Screen has to be on and u

[2022-01-01 20:54] dennisguse commented on #671
+1

Don't know how we can handle the 2nd: we may use an intermediate service that does all the handling and not an activity.

[2022-01-02 17:17] #795 closed

[2022-01-03 15:27] #301 closed

[2022-01-03 21:18] contrapunctus-1 opened #1078 "Move buttons to bottom bar"
**Is your feature request related to a problem? Please describe.**
Buttons being placed along the top make one-handed use difficult and require more hand movement than a bottom-bar-oriented design.

**Describe the solution you'd like**
Ideally, all buttons would be moved to a bottom bar. The ones that affect me the most (and are probably easiest to relocate) are "Show on map", "Share", and the ove

[2022-01-04 18:46] dennisguse commented on #1017
Got this while recording and opening OSMDashboard.
No clue why:

[code]

[2022-01-05 14:20] steinm opened #1079 "Send/export data to an external URL/Server"
I wonder if there is any convenient way to export the track data to an external server by e.g. send it as json via http to a well definded api? Opentracks does not access the internet by design, so currently the only feasable way is to share or save the track data and than forward it to whereever it is supposed to go. For  many users that is probably to difficult. Would it be an option to have som

[2022-01-05 16:53] pstorch commented on #1079
Yes, you can implement an app which uses the same API as OSM Dashboard and send your tracks to a URL of your choice.

[2022-01-05 17:13] dennisguse commented on #1078
Agreed.

@contrapunctus-1 Any suggestions on the how the final result should look like?

[2022-01-05 17:22] vsevjednom-cz commented on #1079
Yes! 😋

@steinm: you can use directory with gpx exports. I'm doing something like this:
[code]

There is not possible to do automatic upload because it depends on big edit of the original code of OpenTracks. I created UploadActivity and add upload icon to the `track_list.xml`. There's async upload at FTP. You must change manifest, of course. I'm using this:
[code]
I'm new in Java 😲, this code can

[2022-01-05 21:34] contrapunctus-1 commented on #1078
@dennisguse I made some quick and dirty mockups. Five buttons between the record and stop buttons looks a little cluttered, but there's enough space for them on my 5.5" screen phone. (That said, there are smaller screen phones too...) Alternatively, the stop button could be removed while no track is recording, since it does nothing at that time...

![opentracks mockup](https://user-images.githubus

[2022-01-05 22:04] rgmf commented on #1078
I was thinking in something similar to FOSS Browser. I mean, move bar from top to bottom.

What do you think?

[2022-01-05 22:38] mega-stoffel opened #1080 "still some issues with Export to NextCloud"
**Describe the bug**
As mentioned already in #1025, my export to a NextCloud shared directory is sometimes not working. Most of the tracks are exporting perfectly fine after I record them. But unfortunately sometimes not. I haven't found a pattern, yet.
I tried to get a logcat output and I guess, this might be the error message. It's maybe not even related to OpenTracks, but some misbehavior of Ne

[2022-01-06 07:21] pstorch commented on #1080
Thanks for the logcat. I'm still analyzing this.
What I see is that the directory gets not writable after some time. In the nightly you can now see an indication this is the case.

[2022-01-06 17:24] dennisguse commented on #1078
I am all for reworking the UI; just don't want to spent too much time on it ;)
Having these overflow menu spread out looks very promising!

[2022-01-06 21:12] #1074 closed

[2022-01-07 07:15] pstorch commented on #1080
It still happens: after updating the nightly the write permission is gone one the Nextcloud directory. So somehow the persistable permission is not working. I still don't know why.

[2022-01-07 11:42] dennisguse commented on #1080
@pstorch Could it be that we also need to request `FLAG_GRANT_PREFIX_URI_PERMISSION`?
For the export, we actually need to get access to URIs below the one we actually requested, right?

https://developer.android.com/reference/android/content/Intent#FLAG_GRANT_PREFIX_URI_PERMISSION

And are there differences between Android flavours?

PS/ I have no test setup available for this.

[2022-01-07 12:14] pstorch commented on #1080
Interesting flag. Didn't know about it. With local directories it works without. And actually the permission vanishes at the parent directory, which should be an exact match. But anyway, I can give it a try.

[2022-01-07 16:22] dennisguse opened #1082 "`StringUtilsTest.testFormatDateTime()` failing"
`StringUtilsTest.testFormatDateTime()`.

Using `DateTimeFormatter.FormatStyle.MEDIUM` appends if the time is before lunch (e.g., AM); it even does this for ES and DE.

Test fails on CI and my machine.

In addition, the default locale of the device is modified and thus subsequent tests may fail afterwards.

_Originally posted by @dennisguse in https://github.com/OpenTracksApp/OpenTracks/issues/1081

[2022-01-07 16:23] dennisguse commented on #1082
@rgmf Any ideas?

[2022-01-07 18:24] rgmf commented on #1082
In Spanish we never add AM and PM after time, in fact nobody knows what that mean 😅

I'd modify that test to be more flexible with that.

[2022-01-07 18:28] rgmf commented on #1082
PS/ in my local machine all tests passes (using AVD and real phones).

[2022-01-07 19:10] dennisguse commented on #1082
In German, we also don't ;)

I get:
For US: AM
For ES: a. m.
For DE: vorm.

Kind of weird; never seen this in German.
I got this consistently in the emulator as well as on a LineageOS device.

And my LineageOS device behaves differently than my emulator as it produces some commas differently.
I am mindblown...

PS/ the assert has the expectation first and as 2nd actual

[2022-01-07 19:12] dennisguse commented on #1082
Can we simplify the expectation by defining it as string and not creating it from LocaleDateTime?

[2022-01-08 18:19] #1082 closed

[2022-01-09 11:47] pstorch commented on #1080
Some other error I found in the logcat when opening the settings activity:

[code]

[2022-01-09 13:06] pstorch commented on #1080
Some more interesting reads:

https://github.com/nextcloud/android/issues/7821
https://github.com/nextcloud/android/issues/5702
https://github.com/nextcloud/android/issues/8336

But I still don't know if one of them is applicable to our problem.

[2022-01-09 17:46] dennisguse commented on #1050
This fix is now released with v3.24.0 - took quite a while, but happy cycling :D

[2022-01-09 18:11] dennisguse commented on #500
@ChristophWurst this feature got released with v3.24.0 today :partying_face:
Kudos for this feature request: it was kind of nice doing as it had a vast amount of aspects to consider.
A never ending story to think about new cool stuff and figure out (crazy) solutions :sunglasses:
Also the boring stuff was nice :thisisfine:

[2022-01-09 19:05] #673 closed

[2022-01-09 19:06] dennisguse commented on #154
Duplicate of #662, which has a nicer description.

[2022-01-09 19:06] #154 closed

[2022-01-09 19:10] #597 closed

[2022-01-09 19:10] #990 closed

[2022-01-09 19:12] dennisguse commented on #963
@rgmf @pstorch @vanous Are there any changes that you have pending?
I would want to do this issue soonish and it might lead to some ugly merge conflicts.
Technically, it is just moving files around, but still...

[2022-01-09 19:14] dennisguse commented on #590
We will build something using some external "if this, then that"-tool #671.
Don't know if this will include the tab selection, but recording  start/stop will be included.
Ongoing PR #1072 .

[2022-01-09 19:14] #590 closed

[2022-01-09 19:15] #860 closed

[2022-01-09 19:15] dennisguse commented on #860
Does not seem that important.

[2022-01-09 19:16] rgmf commented on #963
@dennisguse nothing from my side.

[2022-01-09 19:19] vanous commented on #963
Nothing cooking at my kitchen 😄

[2022-01-09 19:46] pstorch commented on #963
I try to tackle the nextcloud permission issue and working at this branch: https://github.com/OpenTracksApp/OpenTracks/tree/nextcloud-persistable-uri-permission. It has a little improvement, but unfortunately doesn't solve the problem yet.
Feel free to refactor the packages. My changes are small, I can rebase later.

[2022-01-11 14:30] vsevjednom-cz opened #1086 "[v3.24.0]: Crash while recording/paused when opening charts"
OpenTracks `v3.24.0` crashes while tracking is paused. Just tap to the `By time` and wait one second.

**To Reproduce**
1. Start tracking.
2. Pause tracking.
3. Tap to the `By time`.
4. Wait one second.

Log in Android studio:
[code]

And I'm still below than 0 meters above sea level in v3.24.0 🤪.

**Technical information**
 - Device: Honor KSA-LX9
 - OS: Android 9
 - Version:  9.1.0.320

[2022-01-11 14:37] vsevjednom-cz commented on #1086
You can tap to the `By time` while tracking 😲. Pause in not required. Crash 🤪.

[2022-01-11 19:53] vsevjednom-cz commented on #1086
... and there was a crash of OpenTracks at random time after 63 kms (about two hours of tracking) at my road bike. I'm confused. I don't know the reason.

[2022-01-11 21:47] dennisguse commented on #1086
@vsevjednom-cz Abou the 2nd problem it might be again the lack of a monotonic clock or something else :)
To get a log: you can increase the logcat size on your device to get them later when you have a computer at hand.

[2022-01-11 22:56] vsevjednom-cz commented on #1086
I didn't know about logcat, thanks! But there isn't anything from the time of the crash (20.18). There's only some information from 20.35. This is the time when I arrived at home and I saw the OpenTracks crashed.

Here is the log. I don't know if it will help you. It looks like some error in my phone 🤪.
[code]

[2022-01-12 06:19] pstorch commented on #1086
Oh, this is a crash in the OSMDashboard. From the Mapsforge library? I think I saw something similar on Play Store, but I don't know what I can do about it. Maybe I can report it to Mapsforge.

[2022-01-12 13:28] crosser opened #1088 "Record heartrate history even if position is unavailable or does not change"
Currently OpenTracks only saves history along with the GPS track, including the heart rate.

It would be useful if one could use the app to record their heartrate when they, for example, do a workout in a gym, where GPS position is be unknown, or known, but constant.

One way to represent it would be to make a KML track with dummy / constant trackpoints that still go every second even when positio

[2022-01-12 17:06] #1086 closed

[2022-01-12 17:14] dennisguse commented on #1088
Nice timing!
v3.24.0 can now be used without a GPS, but requires distance sensors (e.g., for cycling or running).
Such tracks can only be exported completely using KML/KMZ as here the latitude/longitude is optional.

Also BLE sensors are now event-driven handled, so we can store the data every time we get something new.

Only change required for this issue: we would need to ignore the distance to

[2022-01-14 06:46] dennisguse commented on #957
@ae5960e8-a6fc-491f-b252-898ecf59af95 if you have some time, go for it.
The F-Droid client has this kind of feature and shouldn't be too difficult to adapt.

[2022-01-15 18:33] dennisguse opened #1093 "Date format in v3.24.0 is kinda long"
### Discussed in https://github.com/OpenTracksApp/OpenTracks/discussions/1092

<div type='discussions-op-text'>

<sup>Originally posted by **PeteMacca** January 14, 2022</sup>
Hi, love the app! Latest release has changed the date format, making it very long. Bug or design? See attached image. Pete
![Screenshot_20220114-163547](https://user-images.githubusercontent.com/97723277/149463294-f7a2d949-d

[2022-01-15 18:52] #800 closed

[2022-01-15 18:55] Niekto350 commented on #619
I've bought a cheap phone to use as a bike computer / hiking tracker without the sensor and I have the same issue. I understand that it's not implemented because of the noise of the GPS data.

However I was thinking a bit about it and I think I've found a solution. What about calculating a moving average of the elevation data based on gps and use that for the calculation? Something similar should

[2022-01-15 18:57] dennisguse commented on #619
@Niekto350 had no time to work on this so far, but the approach described here sounded very promising: https://github.com/OpenTracksApp/OpenTracks/issues/619#issuecomment-788071078

[2022-01-15 19:05] Niekto350 opened #1094 "Activity metadata when saving a recording"
**Is your feature request related to a problem? Please describe.**
When you stop recording, the file get's automatically saved with default categories, name etc. However every time I want to add a metadata like select an activity category, description etc. Right now I have to manually reopen the recording to do the edits which is annoying.

**Describe the solution you'd like**
I would like the app

[2022-01-15 19:15] Niekto350 opened #1095 "No file manager found"
**Describe the bug**
I've changed the file manager on my phone to simple file manager. I cannot do any file related actions like import/export because the app says no file manager is found (some actions fails silently).

The same issue exist on the offline dashboard companion app (https://github.com/OpenTracksApp/OSMDashboard). This one shows the notification about missing file manager. So basical

[2022-01-15 19:29] pstorch commented on #1095
Unfortunately it looks like this FileManager doesn't provide DOCUMENTS_PROVIDER functionality which is needed.
OpenTracks and OSMDashboard need a DocumentProvider to access files.

[2022-01-15 19:31] dennisguse commented on #1095
Can we do something about the silent failures?

[2022-01-15 19:34] pstorch commented on #1095
Yes, we could catch the ActivityNotFoundException as in OSMDashboard and show a message:

https://github.com/OpenTracksApp/OSMDashboard/blob/34ba6b91d0aaffe0c12d4653fa38655d5f388227/src/main/java/de/storchp/opentracks/osmplugin/BaseActivity.java#L235

[2022-01-15 21:45] Niekto350 commented on #1095
Thank you, I've opened a ticket here https://github.com/SimpleMobileTools/Simple-File-Manager/issues/550

Do you need the file manager to do some more complex stuff like file transfer or it's used just to generate the file path? If all you need is a file path string, could we do something like text input to type the path manually?

[2022-01-15 22:01] Niekto350 commented on #619
Thanks for the info.

And if we happen to need this for some reason than here is more info including a formulas for the approach I was talking about https://www.investopedia.com/terms/m/movingaverage.asp including EMA version (which should be more responsive a probably a better fit for this usecase). It's commonly used to smooth out the data for stock trading which are quite similar compared to th

[2022-01-16 09:35] pstorch commented on #1095
@Niekto350 it's more than just the file path. Android has this Storage Access Framework, which allows Apps without general file permission to access files outside of it's private space via a DocumenProvider App like a FileManager (can also be a remote cloud storage app).

[2022-01-16 09:40] Niekto350 commented on #1095
Thanks for the explanation.

[2022-01-16 14:30] #896 closed

[2022-01-16 15:10] pstorch commented on #1095
I'll implement the message.

[2022-01-17 16:35] dennisguse commented on #1061
Blocked by #1052.

[2022-01-18 20:55] dennisguse commented on #958
Sadly that doesn't work; there are not always lifecycle events (i.e., onResume, onPause) when the screen is unlocked.
And there are no other events...

[code]

[2022-01-18 20:55] #958 closed

[2022-01-20 06:45] pstorch commented on #1095
@Niekto350 if you like you can test our nightly build. Would be good to know if the error message appears that no compatible file manager is found

[2022-01-21 14:27] solfred opened #1101 "Vocal announcement of the time in French is incorrect"
Hi,

I am a French user of OpenTracks.
The vocal annoucements of time is incorrect

The term "second" is replaced by "minute"

For example instead of saying 15 minutes and 30 **seconds**, OpenTracks is saying 14 minutes and 30 **minutes**.

[2022-01-21 16:22] dennisguse commented on #1101
You are right.
Should it be "seconde" and "secondes"?

Translations are handled via Weblate: https://weblate.bubu1.eu/engage/OpenTracks/
If you find anything else... my French is almost non-existing...

PS/ was my fault; I introduced this problem last year....

[2022-01-21 16:50] solfred commented on #1101
In French "Seconde" and "Secondes" sound the same. You can use "Seconde".

[2022-01-21 18:56] #1101 closed

[2022-01-21 18:58] dennisguse commented on #1101
@solfred using the same value for singular and plural leads to errors while linting.
Thanks for reporting the issue; will be fixed with the next release.
Or you start using the nightly build (fix will be included tomorrow).

[2022-01-22 07:37] solfred commented on #1101
Thanks a lot for the change.

[2022-01-22 08:08] Niekto350 commented on #1095
I'm quite busy these days but yes I could give it a try once I'll find a minute. However I don't know how to install that, I've installed the app from the fdroid app store and I don't see any option to install nightly build (or any other than a regular release). Or maybe I could just test it in the production, it's not something that could break the app so I think it's safe to release even without

[2022-01-23 10:55] rgmf commented on #1003
About max. speed, it seems that it's getting worse in the last releases. In my last riding biking:

![imagen](https://user-images.githubusercontent.com/4819612/150672159-1e8dfb69-4ea9-47e3-b789-f1fbec810525.png)

I rode downhill for more than 3km with an average of more than 40km/h so I don't understand how max. speed was 32,5 km/h.

![imagen](https://user-images.githubusercontent.com/4819612/1506

[2022-01-23 11:02] dennisguse commented on #1003
@rgmf go ahead.
I don't know about any recent changes in this code.

PS I believe that our speed filtering is not optimal as it does not take time between measurements into account. Also it should smoothen better for outliers. Might even take GPS accuracy into account.

And for sensors: the data should be way more reliable and thus less processing needed.
But we can not distinguish the data source

[2022-01-23 19:01] dennisguse opened #1103 "Public API: stop recording"
TrackRecordingActivity was implemented under the assumption that it would be the only activity that would interact with TrackRecordingService while opened.
It needs to be adjusted for the activity-based approach for public api via Intent as it just restarts the recording after the service handled the stop.

Issue is in the bindCallback.

* [ ] Fix TrackRecordingActivity: if it is open, it resumes

[2022-01-23 19:13] #671 closed

[2022-01-23 20:04] #1093 closed

[2022-01-23 20:12] dennisguse commented on #1095
Fixed in 1099102e29eaa16ced6f0ad9944516f39f98b22e.

[2022-01-23 20:12] #1095 closed

[2022-01-23 22:39] vsevjednom-cz commented on #1079
Update for v3.24:
`Uri dir = PreferencesUtils.getDefaultExportDirectoryUri();` 🙃

And then something like this:
[code]

[2022-01-24 05:40] vlmendz commented on #1003
https://www.qgis.org/es/docs/index.html
@rgmf  ☝️

[2022-01-25 16:59] dennisguse commented on #482
@rgmf Would you have the time to build some GPS feedback for the StatisticsRecordingFragment?
Some of the next steps is to make GPS optional and then it should be visible to user if it is on or not...
Technically, it is not an error anymore :)
(although we still request the permission  #1061)

[2022-01-25 18:14] rgmf commented on #482
@dennisguse okay, I'll give it a spin, so I'll see the best way to make GPS status visible to the user.

[2022-01-25 18:25] rgmf commented on #1003
@dennisguse @vlmendz reading the TrackStatisticsUpdater, it seems to me that MAX ACCELERATION computation is wrong.

From code:
[code]

But I think, it should be:
[code]

I mean: we have to do: `acceleration times seconds` instead of `acceleration times milliseconds`, right?

Because: `2g = 0.02m/s^2`
Then to get speed in `m/s (mps)` we have to do: **[acceleration in g]** times **[time in seconds]

[2022-01-25 20:03] Niekto350 commented on #1095
So I've gave it a try and the message is working nicely.

I would like to ask, would it be possible for you to submit a PR to simple file manager to implement this feature required by OpenTracks? Or would it be too much work?

I've also tested some more file managers just to get the map somehow working but I had no luck. I've installed 7 file managers and none of them worked. Can you recommend som

[2022-01-25 20:27] pstorch commented on #1095
@Niekto350 thanks for testing. I searched for a few minutes, but couldn't find an OSS filemanager which provide this kind of functionality.
Maybe you can ask in the F-Droid Forum: https://forum.f-droid.org

Implementing a FileManager with this functionality or sending a PR to an existing one is out of my scope at the moment.

[2022-01-25 20:42] dennisguse commented on #1095
That is kind of unexpected. I was so far using the default installed file managers and had never any trouble.

Which ROM are you using?

[2022-01-25 20:52] dennisguse commented on #1003
MAX_ACCELERATION is (for some reason) in milliseconds....
But you are right: it looks weird - might be some refactoring mistake.
Best guess: MAX_ACCELERATION should be in seconds.

[2022-01-25 21:08] dennisguse opened #1105 "Fix linting issues reported due to upgrade to Android Gradle plugin 7.1"
We have some trouble with plurals and therefore CI fails.

[2022-01-25 21:09] dennisguse opened #1106 "Android Gradle plugin breaks AndroidStudio?"
.... reported by upgrading Android Gradle plugin to 7.1.

[2022-01-26 06:40] vlmendz commented on #1003
This way of using acceleration is confusing to me. I would prefer to directly use the maximum acceleration value and compare it with the calculated acceleration:
MAX_ACCELERATION = 9.8 (1g or the value you decide to use)
acceleration = (speedDifference / timeDifference)
if acceleration.greaterThan(MAX_ACCELERATION) {...

[2022-01-26 06:56] phiggins opened #1108 "Elevation gain/loss is hugely inflated"
**Describe the bug**
Whenever I record a track, the elevation gain/loss is hugely inflated.

![image](https://user-images.githubusercontent.com/22962/151116761-8f9579be-afde-4981-863e-60f4fc4c3912.png)

![image](https://user-images.githubusercontent.com/22962/151116775-5f56e2e6-8c1d-40c1-b30d-ffb05b9e01d6.png)

**To Reproduce**
This happens every time I record a track.

**Technical information**

[2022-01-26 07:08] rgmf commented on #1108
In our tests there are smartphones whose barometric sensor works well and others don't (read https://github.com/OpenTracksApp/OpenTracks/blob/main/README_TESTED_SENSORS.md).

I've had smartphones with barometric sensor whose values go up and down when you shake it, also when you press the screen. So they aren't measure the atmospheric pressure like expected but the pressure on the smartphone.

You

[2022-01-26 07:25] phiggins commented on #1108
I tried this and nothing I did appeared to affect the app's pressure value. While using the app the value did change rapidly back and forth between 1025.6 hPa and 1025.7 hPa, could that be causing the discrepancy?

If there's nothing to be done to fix it, can I disable the elevation display? There's no point in displaying it if it is wildly inaccurate.

[2022-01-26 07:46] rgmf commented on #1108
Thes hPa difference values seem very little but enough to OpenTracks to detect gain and loss. Anyway, I expected greater differences to get such a gain/loss values from your activities.

It sounds like a good idea.

BTW @dennisguse could we store pressure values together gain and loss? In that way we could debug, see and figure out what happen in such a cases :thinking:

[2022-01-26 12:14] ChristophWurst commented on #500
Sorry I'm late to the party. Awesome work @dennisguse! Great to see this has been picked up :)

[2022-01-26 17:11] vlmendz commented on #1003
Another way:

max_speedDifference = MAX_ACCELERATION * timeDifference
if speedDifference.greaterThan(max_speedDifference) {...

Anyway, if acceleration is calculated using the last recorded point instead of last received point, this could mask spike in speed due to possibly greater timeDifference

[2022-01-26 17:13] dennisguse commented on #500
@ChristophWurst actually, was a great goal to work towards to. We needed to change so many things (and understand them first)!
Was a great vision for the product 😊

[2022-01-26 18:02] dennisguse commented on #1106
... and the OpenTracks cannot be build anymore, because the Android Gradle plugin now expects to have an app directory.
https://developer.android.com/studio/releases/gradle-plugin

Just one of those moments...

@pstorch do you any suggestions beside moving the code into an `app`-folder?
Or reverting the upgrade?

[2022-01-26 18:49] dennisguse commented on #1108
@rgmf Yes, we can do this.
What we can easily: let AltitudeSumManager send a callback to TrackPointCreator to create a SENSORPOINT; then we just need to enable that all TrackPoints are stored (aka ignoring the distance requirement i.e, implementing #1088)
And we need to return not the altitude but the actual sensor value.

[2022-01-26 19:01] dennisguse commented on #1106
I am confused: executing gradle from commandline (also in CI) works.
Executing it via AndroidStudio 2022.1.1 leads to `Project 'OpenTracks' not found in root project 'OpenTracks'.`.

Downgrading the plugin and AndroidStudio works again.

[2022-01-26 19:04] dennisguse commented on #1108
@phiggins Yes, you can configure the UI to now show the elevation gain/ loss.

What we are actually doing: we apply exponential smoothing to these air pressure data as it is kind of noisy and if the difference then is larger than 3m, we count it as gain or loss.

Could you check what happens if you don't move the phone?
And what happens if hold the phone in your hand while walking?

We might also

[2022-01-26 19:13] dennisguse commented on #1108
And according to our current code: the phone needs to report at least 1026.0 over some duration to be above the 3m threshold.
[code]
java.lang.AssertionError: expected:<-102.31413269042969> but was:<-105.61168670654297>
[code]

[2022-01-26 19:37] rgmf commented on #1106
@dennisguse I don't know if it's the same thing, but I've also run on troubles with AndroidStudio and Gradle (it couldn't build OpenTracks) and what I did was download AndroidStudio again (2022.1.1) and install it again.

After that, It works.

[2022-01-26 19:53] dennisguse commented on #1106
"Have you tried turning it off and on again" :D
Will give it a try and hope for the best

[2022-01-26 20:56] Niekto350 commented on #1095
No problem, glad that I could help. I understand.

I would like to install lineage os but I have never done such thing and I'm worried that I would break the phone. For example if some command does not work / I ran into some problems and end up with black screen, I have no idea how to recover from that. Would be a bit easier if I know how to create full disk backup and restore with something like

[2022-01-26 20:57] pstorch commented on #1106
It's working for me (now).
First I had to upgrade AndroidStudio. Struggled a bit because of "no space left on device". Yeah, did a lot with VMs and Containers lately :wink:
After that was solved and I pulled the latest commits for OpenTracks, AS told me to upgrade gradle wrapper to 7.2 (which already was) and reimport the project. I clicked the link to perform the action and it is building and run

[2022-01-26 21:00] dennisguse commented on #1106
... actually deleting my `.android` folder solved the problem.
Now I also have some clean emulators :D

[2022-01-26 21:03] dennisguse opened #1110 "Android 12: test device 2 device transfer"
More details here: https://developer.android.com/about/versions/12/behavior-changes-12#backup-restore

[2022-01-26 21:58] dennisguse commented on #1110
After reading the actual changes: from Android 12 onward, Google Drive backup and device2device transfer are separated and can be deactivated individually.
So, it should just work...

@pstorch @rgmf Do you have devices to test this?
I am still running Android 11 and it might be take quite a while before I get an upgrade to 12.

[2022-01-27 06:06] pstorch commented on #1110
My device is still on Android 11.

[2022-01-27 20:59] #1105 closed

[2022-01-27 22:05] dennisguse commented on #760
@rgmf @pstorch Any opinions about this?

[2022-01-27 22:11] rgmf commented on #1110
Yes, I can test it on Android 12.

[2022-01-27 22:20] rgmf commented on #760
I usually set the default activity with the sport I do the most. Nowadays cycling for example, and then If I go to run then I edit the activity to change from cycling to running.

This is my use case of this setting.

I'm not sure if the change you propose would make my user experience better 🤔

[2022-01-28 06:37] pstorch commented on #760
Or use a combination of both.
In the default activity setting add an option "use activity from last recording".

[2022-01-28 06:45] dennisguse commented on #1106
Upgrade completed and linting issues either fixed or made warning.s

[2022-01-28 06:45] #1106 closed

[2022-01-28 06:47] dennisguse commented on #850
@vkbellis is this still an issue for you?

[2022-01-28 12:22] vkbellis commented on #850
@dennisguse - Hi Den, thanks for asking. In answer to your question, I've no idea if this issue is still present. I stopped testing your app (v3.18.5) specifically, and other apps purported to display ortho heights, and cell phone geoid models 2021-07-06 or thereabouts.

[2022-01-28 19:34] dennisguse commented on #850
@vkbellis Then I would just close this ticket as there seems to be no immediate problem :)

If we need to do some updates (i.e., upgrading to something else than EGM2008), please drop us a message!

[2022-01-28 19:34] #850 closed

[2022-01-28 19:37] dennisguse commented on #760
I was thinking, this might be an alternative to #983.
And just storing the latest activity would also allow us to remove the preference for default activity.
Adding another setting is more or less the opposite...

[2022-01-28 20:10] dennisguse commented on #1080
I found something that might be related.
When we call `TrackRecordingService.endCurrentTrack()`, it executes `TrackRecordingService.endRecording(true)` and this calls `stopSelf()` before calling `ExportUtils.postWorkoutExport()`.

So, there is the potential of a race condition as the service might be already getting destroyed during the export initialization (especially if this takes longer).

@ps

[2022-01-28 20:56] pstorch commented on #760
Ah, you want to simplify the code, not support two different use cases. For me it's fine either way, as I use OT mainly for one activity only. I'm fine with using the last activity for the next recording.

[2022-01-28 20:57] rgmf commented on #760
I don't see how this could fix or be an alternative to #983

If you want to edit an activity after export it then storing latest activity won't solve anything about post-export editing.

Anyway, in this thread we are three people: two of them are not using default activity and the other one do it, so I'd remove default activity setting to simplify the code ;)

[2022-01-28 21:05] pstorch commented on #1080
Ah, this was the other way around a few commits ago. I've changed it, because I found a potential error in `postWorkoutExport()` which could cause an Exception and then the recording wasn't stopped properly. And I thought the recording should be stopped properly before exporting it. But if this interferes with the Service lifecycle, this might be a problem.

[2022-01-28 21:07] dennisguse commented on #1080
Yes, recording should be stopped before exporting (although it should also work if the recording is running), but the service should yet stop itself.

[2022-01-28 22:12] rgmf commented on #1110
Reading this: https://support.google.com/pixelphone/answer/7129955

It seems you only can transfer data app from one device to another the first time you start your destination Android device, right? In such a case I'd have to reset my phone to test it.

[2022-01-29 16:36] ValZapod commented on #850
Nice to see at least some progress. Where is EGM2020, BTW? https://github.com/remkos/rads/issues/119

Also all private blob code of 855 snapdragon is available.

[2022-01-30 14:45] dennisguse commented on #760
I am just not sure how to continue with the UI.
Should we keep the simple two button interface or go for something with more features, e.g. countdown, sensors, title etc. But that may result in more complexity for the user as well as in the code

So, I was thinking how we can (simply) improve the current UI without too many changes.
As I said...  not sure how to continue in this i general...

[2022-01-30 21:28] rgmf commented on #760
Are talking about TrackListActivity, TrackRecordingAcricity or both? Could you share a UI draft what you are thinking about? It's so we can share our feedback with you. What are you have in your mind?

I'm happy with current UI although it always can be improved.

[2022-01-30 21:31] arjan-s commented on #1103
Hi, just wanted to let you know that I started working on implementing the start and stop recording APIs for my wearable in Gadgetbridge [in this PR](https://codeberg.org/Freeyourgadget/Gadgetbridge/pulls/2577).

[2022-01-30 21:46] dennisguse commented on #760
That's my point: I have the feeling that we should do some changes to the UI.
But I don't know which and how :)

For example: the pause functionality is technically just doing the same as pressing stop (without moving to TrackRecordedActivity).
So:
* do we will still need the two buttons?
* do they always need to be visible (especially while recording)?
* is the UI useful on larger devices?

And w

[2022-01-30 21:56] dennisguse commented on #1103
@arjan-s cool!
I was actually assuming that you would be using some IFTTT engine...
... and OpenTracks has actually four packgesId:
* de.denniguse.opentracks
* ... .nightly
* ... .debug
* ... .playstore (was an early fuckup on my side)

So, hardcoding those in Gadgetbridge feels kind of uncool, but I am not sure how to improve this as I don't know of Gadgetbridge...

[2022-01-30 23:34] mega-stoffel commented on #1080
Thanks a lot for your work! :-)

[2022-01-31 08:52] arjan-s commented on #1103
Thanks!
I'm not an IFTTT user, so maybe I'm missing something here... What do you think could be gained by using that? Gadgetbridge intends to be as dependency free as possible and completely cloud-free as well, so going the plain intent route seems right.

Yes, I know hardcoding the OpenTracks package IDs in Gadgetbridge isn't really pretty, but neither is scanning all installed apps to find a su

[2022-01-31 14:33] ValZapod commented on #850
How can I use 400 MB .bin file from 1'x1' EGM2008?

[2022-01-31 17:01] dennisguse commented on #850
@ValZapod You might be able to this.
Just change the file and also update the hardcoded indices.
Only problem: the APK size might be limited, but we copy the data into it.

But why should you do this?
The 5`x5` should be sufficient for almost all use cases.
You can also apply the EGM2008 afterwards as OpenTracks actually exports WGS84.

[2022-01-31 17:01] pstorch commented on #1110
Oh, and I hoped local (adb) Backups will be allowed then. 😔

[2022-01-31 17:02] dennisguse commented on #1110
@pstorch ... me too :/

[2022-02-02 11:33] arjan-s opened #1116 "Optionally provide live track updates to other apps"
**Is your feature request related to a problem? Please describe.**
With the addition of the intent API (https://github.com/OpenTracksApp/OpenTracks/pull/1072 and https://github.com/OpenTracksApp/OpenTracks/issues/1103) it is now possible for Gadgetbridge and other apps to start and end recordings while the phone's display is still locked. There is currently no ability for the same apps to receive

[2022-02-02 17:44] dennisguse commented on #1116
What is your use case?
Assumption: the currently recording Track
And which data of a Track do you need?
* last TrackPoints
* all TrackPoints
* overall statistics

We could re-use the DashboardAPI and allow starting it automatically returning the URIs (incl. temp. read permissions) on Intent.

[2022-02-02 21:06] arjan-s commented on #1116
Sorry to keep bothering you with these questions!

My use case is that wearables supported by Gadgetbridge could display the overall statistics of a currently recording track on their watchface or in a workouts app.
Perhaps the URI-on-intent method could work. I haven't looked into the dashboard API yet though. Could it allow an app without internet permissions to periodically (or streaming) recei