[2020-12-05 11:33] dennisguse commented on #447
Here is the output I used yesterday:
[code]

`UUIDs` contains the announced _service uuids_ on BLE discovery requests.

We have to distinguish two things here.
1. When a Bluetooth devices ask around what devices are there (i.e., scanning), then devices receiving this request may respond and announce their present. To save energy the response is rather short. So, the Miband engineers decided to not

[2020-12-05 11:36] #447 closed

[2020-12-05 22:16] dennisguse opened #544 "Resource IDs will be non-final in Android Gradle Plugin version 5.0"
Warning:
[code]

R.id.SOMETHING cannot be used in switch-case statements anymore.

[2020-12-05 22:17] dennisguse commented on #544
Affected classes:
- [ ] MarkerDetailFragment
- [ ] MarkerEditActivity
- [ ] MarkerListActivity
- [ ] TrackListActivity
- [ ] TrackRecordedActivity
- [ ] TrackRecordingActivity

[2020-12-06 16:28] rgmf opened #545 "Use ThumbnailUtils for marker's photos"
**Is your feature request related to a problem? Please describe.**
Marker's list has trouble when there are several large photos (slow loading).

**Describe the solution you'd like**
Use ThumbnailUtils (see https://github.com/OpenTracksApp/OpenTracks/pull/519#issuecomment-729231165)
https://developer.android.com/reference/android/media/ThumbnailUtils

[2020-12-06 21:35] #105 closed

[2020-12-06 21:35] #522 closed

[2020-12-07 13:10] rgmf commented on #545
Seem that using ThumbnailUtils.extractThumbnail can be problematic because you are actually loading in memory a copy of the large bitmap, so this is not a good way of managing big images.

In this official doc explain how to do it:
https://developer.android.com/topic/performance/graphics/load-bitmap?hl=es

[2020-12-08 04:43] TacoTheDank commented on #522
Thanks!

[2020-12-08 12:15] rgmf commented on #545
Seem that the problem comes from the moment where image is loaded (from storage). The size of the image is not the problem (altought it doesn't help).

Cache strategy could be the solution: https://developer.android.com/topic/performance/graphics/cache-bitmap

[2020-12-08 19:45] rgmf opened #547 "Elevation: add loss"
OpenTracks compute gain but not loss. I think it should compute loss like gain and show it on Recorded/Recording statistics.

[2020-12-10 21:45] dennisguse commented on #545
We could also create thumbnails and store those beside the actual pictures.

[2020-12-11 16:52] rgmf commented on #545
Yes, I thought on that possibility but the actual issue is that we have to load photo's file on a separate thread. Doesn't matter if photo is large or small in size: the marker's list is really slow if images are not loaded in a separate thread.

So, I think the best approach if what I've proposed in #546

[2020-12-12 21:14] #544 closed

[2020-12-17 15:37] dennisguse commented on #488
Done.

[2020-12-17 15:37] #488 closed

[2020-12-17 22:16] #387 closed

[2020-12-18 10:29] vanous commented on #447
For any interested future reader, just for the record:

This has triggered another wave of curiosity, we investigated further and discovered that some bands can turn the BLE HR on/off while others have the BLE HR enabled all the time and it cannot be disabled. We have therefore [removed](https://codeberg.org/Freeyourgadget/Gadgetbridge/commit/4fb79ac2b256d1e7e904df01d7cbeb21ab28de0d) the BLE HR on

[2020-12-25 17:19] #547 closed

[2020-12-25 17:36] #495 closed

[2020-12-25 21:27] frqusg commented on #97
please give me gift card google play i very very need to this
please 🙏💔

[2020-12-26 04:52] pdhixenbaugh opened #555 "Elevation Gain is 0?"
**Describe the bug**
Circuit track has elevation graph, but shows zero elevation Gain overall and in intervals

**To Reproduce**
Import GPX

If applicable:
* add screenshots
![Screenshot_20201225-235019](https://user-images.githubusercontent.com/16969821/103145689-42278d00-470c-11eb-9628-3036d09fa668.png)
![Screenshot_20201225-235011](https://user-images.githubusercontent.com/16969821/103145690-42

[2020-12-26 08:27] dennisguse commented on #555
Can you export a recorded track (w/ gain) as KML and import it again?
It might be that we did not implement the export of the gain (got via barometric sensor) for GPX.

[2020-12-26 09:26] dennisguse commented on #555
Just checked the code and, yes, we do not export/import the gain data with GPX.
https://github.com/OpenTracksApp/OpenTracks/blob/main/src/main/java/de/dennisguse/opentracks/io/file/exporter/GpxTrackWriter.java

[2020-12-26 10:13] rgmf commented on #555
@dennisguse I noticed that when I was working on "elevation loss" but I thought that there was a reason. I cannot remember why we didn't add this feature for GPX files.

@pdhixenbaugh Was GPX file you are importing exported using OpenTracks?

@dennisguse Could we build "elevation_gain" and "elevation_loss" for "trackpoints" from elevation in GPX/KML files when these files come from another softwar

[2020-12-26 10:56] dennisguse commented on #555
No real reason (I guess); we always exported less to GPX and that was it.
About importing from another software: I guess not, but I also don't expect KML to work. We are exporting data into a custom extension. I am not really sure if we even could import speed (exported in a similar way). Usually, gain/speed are derived from the GPS data alone (the actual coordinates).

[2020-12-26 15:28] rgmf opened #557 "Import with errors results in app crash"
**Is your feature request related to a problem? Please describe.**
I was trying to import a KMZ file without doc.kml file and OT results in a crash (RuntimeException).

PS/ I don't know if it's a potencial bug or an enhacement issue.

**Describe the solution you'd like**
I'd move the RuntimeException to a ImportParserException so the importer can catch it and show it like an error file in the summ

[2020-12-26 19:30] #555 closed

[2020-12-30 21:58] dennisguse commented on #339
See http://docs.opengeospatial.org/is/12-007r2/12-007r2.html#611

gx (for gx:coord, gx:track etc). was included into KML 2.3.

Following (fun) issue with current parser: elements within gx/kml:track are unordered (current implementation: last when before gx:coord is used; everything else is just ignored).

PS: Blocked by #316.

[2020-12-31 11:34] #557 closed

[2020-12-31 11:56] rgmf commented on #482
I like how OT handles this situation: it shows a notification on the notification bar and stop moving time (total time go on).

But it's also truth that user can overlook the notification bar and don't realize that GPS was disabled. I'd add an SnackBar or something like this.

[2021-01-03 16:06] vanous opened #558 "offer "Open" in GPX import activity"
- [x] I searched the issue tracker and didn't find anything related.

Thank you for all the work and Happy new year! :)

When importing GPX from an intent, it would be very nice to be able to (conditionally) open OpenTracks right away. One way to do this could be if the OK button only takes part of the screen and the other part is taken by "Open".

| OK | Open |

As "Open" is ambiguous, question c

[2021-01-03 16:33] dennisguse commented on #558
I don't get it - can you attach a screenshot of the current implementation?
And I am also not sure that I understood the proposed solution as I don't know the problem this would solve for you ;)

PS: Happy new year too ><

[2021-01-03 16:48] vanous commented on #558
Oh, sure, sorry.

First i select a file for export and choose OpenTracks:

<img src="https://user-images.githubusercontent.com/3680926/103483979-76293f00-4deb-11eb-85c5-fd1d6575cda9.png" width=200>

Then the GPX is imported, here, instead of the OK, i would propose the

Done | Open app | Open track

<img src="https://user-images.githubusercontent.com/3680926/103483996-9658fe00-4deb-11eb-9c64-2c637

[2021-01-03 16:52] dennisguse commented on #558
I see ;)
In case, it is only one track: we can add a button to open the track, right?
Anything else?

[2021-01-03 17:35] vanous commented on #558
Well, that would be awesome (low priority also). As i mentioned, i think it would be nice to keep the previous option just to dismiss (Done). My case was to import one track and look at several tracks, but i agree that having just "Done" and "View" ("Open") is sufficient to get to the app and continue from there :)

[2021-01-04 20:19] vanous opened #559 "import multiple GPX files via intent at once"
Importing multiple GPX files at once would eventually be a nice addition. So far i have only researched and tested the manifest changes, as per snippet below. `ImportActivity` would need to receive multiple files most probably via `getParcelableArrayListExtra`, but i didn't manage to research this further.

[code]

[2021-01-06 19:44] bedri87 commented on #97
please give me gift card google play

[2021-01-07 14:32] Ra242 commented on #97
Hey bro please give me unused promo code

[2021-01-08 06:52] dennisguse opened #561 "Refactor `long time_ms` to `Instant time`"
Refactor `long time_ms` to `Instant time` will make the code easier.

Should be done after #553.

[2021-01-08 06:55] dennisguse opened #562 "New screenshots for F-Droid/PlayStore"
We had quite some UI changes (interval etc), so updating screenshots might be a good idea.

@pstorch I was thinking about including two screenshots with OSMDashboard (one OSMDashboard in fullscreen and one as free floating overlay), so that potential user get aware of it.
And we would need to show it's name somehow.
What do you think?

[2021-01-08 07:51] pstorch commented on #562
Good idea

[2021-01-08 10:28] kiraci03 commented on #97
Can you give me one that work of them please? I went through a lot and all (or nearly i guess) are used

[2021-01-09 10:03] FTno opened #563 "Shortened text in translations"
![Screenshot](https://user-images.githubusercontent.com/16176811/104088497-c418c980-5267-11eb-87de-163c37611006.png)

As seen in the screenshot above from the Settings some text is shortened (this also happens elsewhere). I think this may be an issue in other languages as well and suggest to reduce the margins, especially the left one.

BTW 'Prevent re-import of tracks' as can be seen in the scree

[2021-01-09 11:53] dennisguse commented on #563
It might be that we cannot do anything about the shortening as this is a Android default component.
Let me check; only other option is to use shorter texts (in all translations).

"prevent re-import" can now be translated; it was marked as not translatable.

[2021-01-10 19:40] #558 closed

[2021-01-15 16:03] jackprink commented on #97
I have list of code that work and real. but you need to spend your time and complete some basic task so you earn points and get your google play gift card reward.
follow below link to get it now -[https://www.freereward.net/google-play/](https://www.freereward.net/google-play/)

[2021-01-16 08:44] rgmf opened #566 "Long activity's name and sensor data on StatisticsRecorded"
**Is your feature request related to a problem? Please describe.**
When user set a long name for his/her activities then s-he cannot read it on any of the views anymore, either ListActivity nor StatisticsRecorded.

Also, OT records sensor data that user cannot see anymore.

**Issue's screenshot**
![imagen](https://user-images.githubusercontent.com/4819612/104807195-4c095100-57dd-11eb-9838-b1169634

[2021-01-16 17:54] dennisguse commented on #566
Sounds good!

PS: Regarding to changes TrackStaticstics; I need to merge #553 first.
Too many changes there... I am hopefully done by tomorrow.

[2021-01-16 18:07] rgmf commented on #566
Yes, yes, I don't want to touch anything before #553... but no hurry :grinning:

[2021-01-17 16:18] pstorch opened #567 "Call MarkerDetailActivity from OSMDashboard crashes"
While testing #553 I stumbled upon this error.
Open a Track with a Marker in OSMDashboard. Click on the Marker and Choose OpenTracks to open it.
Nothing happens, only saw this in the Log:

[code]

Probably caused by the Marker Id long to Class refactoring.

[2021-01-17 16:26] dennisguse commented on #563
I did some digging and preference titles are by default a single line only leading to `...`.
In fact, it depends on the screen size vs. font size vs. language and usually preference titles are rather short.
And the rest of the list (margins etc) is defined by Android itself.

@FTno any chance that we can use a different (aka shorter) term for nb?

[2021-01-17 16:54] #567 closed

[2021-01-17 19:08] FTno commented on #563
As the margins cannot be reduced, I will try to shorten terms instead.

[2021-01-17 19:08] #563 closed

[2021-01-21 17:24] pstorch opened #571 "Retry option on instant workout export error"
I have the instant workout export enabled. To a Nextcloud folder.
Usually I stop the workout when I reach my home. This is also the point when my device tries to connect to my home wifi.
It happens quite often to me that OT tries to export the track when the wifi connection is not yet properly working, so the instant export fails. Two to three seconds later it is working.
So it would be very handy

[2021-01-21 21:47] avtkal opened #572 "Basque translations"
Someone translated OpenTracks to Basque some time ago, but there still are some strings untranslated. Is the project on any platform? I read it was on Transifex and then on Crowdin. But on the last one just German translations can be made. How can I contribute to the Basque translation?

[2021-01-22 07:37] pstorch commented on #572
The translation service is now on https://weblate.bubu1.eu/engage/OpenTracks/

[2021-01-22 09:13] avtkal commented on #572
Thank you!

[2021-01-22 09:13] #572 closed

[2021-01-22 21:29] dennisguse commented on #571
Would a one time notification with a retry option help?

[2021-01-22 21:36] dennisguse opened #573 "Use opentracks:trackid as export file name"
Currently, we use the trackId (in terms of long) + fileSuffix.
However, the trackId is an internal identifier and only valid for the current OpenTracks installation.
Instead, we can use the UUID.

[2021-01-22 22:01] dennisguse commented on #573
Quick hack to convert extract KML from KMZ with UUID as filename.
[code]

[2021-01-22 22:41] pstorch commented on #571
I don't think a notification is necessary. We have this new dialog which informs about the failed export. Usually you have OT still open, because you just stopped the track recording. At the moment this dialog has only an ok button. It would be convenient to also have a retry button here.

[2021-01-22 22:43] pstorch commented on #573
Related to #512

[2021-01-23 15:36] dapgo commented on #448
@dennisguse exporting a single file ease the exchange and interoperability, and specially when filenames based in id.
As real examples of use,  you can send to a friend by different ways or just upload the file to a service as Strava.

[2021-01-23 18:37] dennisguse opened #574 "TrackStatisticsUpdater needs test coverage"
We need test coverage for the TrackStatisticsUpdater as it is an important component.
Follow up to #553.

[2021-01-23 18:41] dennisguse commented on #448
We need two things:
* a concept for the user interface (I assume we need to keep the export to individual files)
* and some actually tiny change to TrackWriter classes + TrackImporter classes for GPX/KML.

Coding is the easy part.
If someone has time to create a concept that would be great!

[2021-01-24 16:43] #545 closed

[2021-01-24 17:54] rgmf commented on #562
@pstorch @dennisguse What do you think of doing something like this? With this kind of images we can introduce some text explaining the differents parts of the app (a mini how-to) also:

![imagen](https://user-images.githubusercontent.com/4819612/105638856-65fa0200-5e75-11eb-901a-db9fedb8b15b.png)

[2021-01-24 17:58] tarah20202 commented on #562
Hello sir tank you for the massage sir. I don't know wat is this?? This is
app?? Sir I want clipclaps modded.

On Mon, Jan 25, 2021, 01:54 Román Martínez <notifications@github.com> wrote:

[2021-01-24 19:28] dapgo opened #575 "Increase contrast between buttons and background during tracking"
During outdoor sport I've found problems identifying buttons "record, pause, stop" and their current status.

As background color in the buttons area is black, the red color or grey have little contrast and specially if the screen is using tones of grey (used by the "ultra saving mode" of phones as Samsung) but also for sunglasses.

See below the aspect and colors in ultra saving mode enabled.
![o

[2021-01-24 20:18] dennisguse commented on #575
Any suggestions how to adapt for this?
PS: In LineageOS, one can activate monochrome mode in the developer options.

[2021-01-24 20:37] #561 closed

[2021-01-24 20:42] dennisguse commented on #301
We replaced the internal time representation (long in ms since epoch aka 1970) with Instant and Duration.
This should simplify the implementation of this functionality.

https://github.com/OpenTracksApp/OpenTracks/commit/602f83f715362dd5160cd30d6b77561a158012cd

[2021-01-24 21:05] rgmf commented on #575
Doing the circle, square and two lines from record, stop and pause buttons a little bit greater the contrast will become greater too. I don't know if it would be enough to distingush between record, stop and pause but I think so.

[2021-01-24 21:24] dennisguse opened #576 "Create tag for v3.14.2"
As v3.14.2's database downgrade from v3.15.0 is broken, I removed the tag as this build should not be available on F-Droid.
After releasing v3.15.0, we should create this tag again to be consistent.

[2021-01-24 21:28] dennisguse commented on #573
Valid points; let's move the discussion there!

[2021-01-24 21:28] #573 closed

[2021-01-24 21:44] dennisguse commented on #512
As we have nowadays `opentracks:trackId` in place (UUID to identify a track and not import it if already present in the database), we can do something like:
`7ceb89d8_BestTrackName.kmz` (i.e., `1stUUID_TrackName.SUFFIX`)

The current implementation trackId (i.e., database identifier) is actually harmful, if one tries to sync multiple devices as those may have the same trackIds. Also importing into

[2021-01-28 05:13] gg1123 opened #578 "I didn't get any"
Why give me one also.

[2021-01-28 16:58] dennisguse commented on #578
Download from F-Droid.

[2021-01-28 16:58] #578 closed

[2021-01-29 00:07] whidbymomma opened #579 "Google play card"

[2021-01-29 14:57] #562 closed

[2021-01-30 12:50] dennisguse commented on #579
Just use F-Droid.

[2021-01-30 12:50] #579 closed

[2021-01-30 16:48] fossdd opened #580 "Weblate: `Could not merge the repository.`"
**Describe the bug**
Weblate translations seems to be disabled? `Could not merge the repository.`

**To Reproduce**
https://weblate.bubu1.eu/projects/OpenTracks/opentracks/#alerts

[2021-01-30 16:54] fossdd opened #581 "Make `app_name` untranslateable"
**Is your feature request related to a problem? Please describe.**
On [Weblate](https://weblate.bubu1.eu/translate/OpenTracks/opentracks/de/?offset=1&q=app_name&sort_by=-priority%2Cposition&checksum=) are translations asked for the app's name, but why translate the App name.?

**Describe the solution you'd like**
Make the `app_name` string untranslateable

https://github.com/OpenTracksApp/OpenTrac

[2021-01-30 20:25] dennisguse commented on #580
Thanks! it is fixed now.

[2021-01-30 20:25] #580 closed

[2021-01-30 20:33] #581 closed

[2021-01-30 20:33] dennisguse commented on #581
Good question - never thought about it.
Thanks for bringing it up :+1:

[2021-01-30 21:48] rgmf opened #582 "TrackDataHub send all trackpoints every time a change is observed"
**Describe the bug**
TrackDataHub send to the listeners all trackpoints every time a new trackpoint is observed, instead of send all points from last seen.

This potencial bug results in a weird behaviour in intervals and graphs when track is recording.

**To Reproduce**
1. Record a new activity.
2. Move to interval tab and see what happen.
3. Move to by time or by distance tab and see what happen

[2021-01-30 22:15] #582 closed

[2021-01-31 03:36] mishari opened #584 "Customizable notification"
**Is your feature request related to a problem? Please describe.**
When I'm running I would like to be able to see vital statistics at a glance through the phone's notification bar instead of having to unlock my phone and going to the app. In my case, I would like to see total distance and total time instead of GPS accuracy.

**Describe the solution you'd like**
I would like to see settings that a

[2021-01-31 08:19] dennisguse commented on #584
We have an issue for this: https://github.com/OpenTracksApp/OpenTracks/issues/483
Main use case is to show this kind of info on a smartwatch.

If you want to code:
Take a look at the `NotificationManager`.
At the moment, it gets a `TrackPoint` (contains location, speed, and might also sensordata) when a new location is provided from the LocationManager (via `TrackRecordingService`).
The info you w

[2021-01-31 10:33] silvPet opened #585 "sharing cardio data"
It's known that gpx format does not contain cardio data. Too bad I can't convert kml / kmz in garmin_fit format because gpsbabel tell that " format does not support writing". ( Never been able to convert in that proprietary format). How can I do to share my cardio data in Garmin connect? Thank you

[2021-01-31 11:48] dennisguse commented on #585
Actually, we support heart rate in GPX (Garmin provided an extension for GPX; i.e., TrackPointExtension) See https://github.com/OpenTracksApp/OpenTracks/issues/181

Dont know if Garmin connect supports this.

[2021-01-31 15:55] pstorch commented on #571
I looked into it, but I doubt it is an easy change. The error is reported to the TrackRecordingService and forwarded to the SettingsActivity which shows this dialog. There it is too late to retry the export, I guess.

[2021-01-31 21:17] rgmf commented on #571
Why is too late to re-export? SettingsActivity can assume that the error comes from the last track inserted in the database, right?

[2021-01-31 21:23] pstorch commented on #571
We could also forward the trackId via Intent Extras. I was just not sure if it should be the responsibility of the SettingsActivity to actually handle the retry or enqueue it again.

[2021-01-31 21:26] rgmf commented on #571
Yes, you are right, seem odd that SettingsActivity take on that responsibility.

[2021-01-31 21:28] dennisguse commented on #571
Why is the SettingsActivity at all involved? Sounds more like ExportActivity.

[2021-01-31 21:32] pstorch commented on #571
Hmm, was it my idea? 🤔
I think it was because most probably the export directory is not right or the grant not given anymore, so the user can check in the Settings Activity right away this folder or assign a new one.

[2021-02-02 18:08] toffi69 opened #586 "@blackris-github The PlayStore release is identical to the F-Droid release."
Hey Dennis. PLEASE send me a Google play Gift Card. ❤🔥

cheistophertoffi69@gmail.com

[2021-02-02 22:04] dennisguse commented on #586
Use F-Droid.

[2021-02-02 22:04] #586 closed

[2021-02-03 17:07] #585 closed

[2021-02-03 17:26] dennisguse opened #587 "Pause/resume refactoring regarding GPX"
While checking the pause/resume refactoring, I found the implemented functionality is not supported by GPX (i.e., the generated GPX is not in complaince with version 1.1.).

# Context
We now store trackpoints that do not have a actual location (i.e., where generated by the user and only contain a timestamp).
And the plan was to export those, so we can actually backup/restore the trackstatistics.

[2021-02-03 18:04] pstorch commented on #587
What about repeat the coords of the last track point for a pause track point and vice versa use the coords of the next track point for resume track points?

[2021-02-03 18:37] dennisguse commented on #587
While importing (I chose), the absence of lat/lon creates a MANUAL_START trackpoint while it's presence creates a AUTOMATIC_START.
(only applies for the first trackpoint in a segment);
We could also change this for GPX and encode this information differently.

[2021-02-03 19:53] rgmf commented on #587
In GPX seems logical to use `trkseg` to mark PAUSE and RESUME but in that case we cannot to distinguish between MANUAL and AUTOMATIC START. Is the difference between AUTOMATIC and MANUAL very important???

[code]

I like the best trying to encode the information differently for GPX files but I've not looked into the impact of this change.

[2021-02-03 21:11] dennisguse commented on #587
For the statistics, we need this differentiation to compute the overall / moving time as well as avg speed (I guess).
If a segment starts with AUTOMATIC_START, the duration between the previous trackpoint and the current one is added to the overall time/moving time.
While for MANUAL_START, the overall time/moving time is not increased; i.e., we assume the user paused and continued some time later.

[2021-02-03 21:23] pstorch commented on #587
A GPX trkpt can have a type child element, can we use that? Or a OpenTracks extension to the trkpt type?

[2021-02-03 21:26] dennisguse commented on #587
@pstorch That's a really cool idea!
We already export elevation gain/loss as a trackpoint extension, so we can do the same for the type of the first trackpoint in a segment!

[2021-02-04 13:13] neidert opened #588 "Heart rate export problem"
OpenTracks, version v3.14.3, Samsung S 8, Android 9

I run with LE Bluetooth heart rate measurement. When I export the track (for example to Locus Map or Garmin, as gpx), the heart rate data are no longer exported or displayed on Garmin, Locus Map ...
When I edit the OpenTracks-gpx-file, however, I see the heart rate entered:
<gpxtpx:hr>95</gpxtpx:hr>
I believe: This error has existed since the pe

[2021-02-04 19:53] dennisguse commented on #500
Following the implementation of #316, we could implement this now.
Assumption: there is no GPS signal
For pure indoor training, we would then need to store the generated data (in the STOP trackpoint).

Following tasks:
* [ ] get distance from a sensor (like Cycling Cadence And Speed Sensor)
* [ ] store this distance in the trackpoint
* [ ] use the sensor derived distance (if present) to compute th

[2021-02-04 19:55] dennisguse commented on #588
Thanks for the report!

I just checked the code and it looks okay: https://github.com/OpenTracksApp/OpenTracks/blob/f8f78d28dd093165ff0da8537eaf8988cd8f5f88/src/main/java/de/dennisguse/opentracks/io/file/exporter/GpxTrackWriter.java#L207

[2021-02-05 15:55] dennisguse commented on #588
@neidert We need some more info to figure out if there is a problem.
Please reopen, if this problem persists.

[2021-02-05 15:55] #588 closed

[2021-02-05 16:03] dennisguse commented on #587
i did some conceptual thinking about indoor training (i.e., without GPS signal): https://github.com/OpenTracksApp/OpenTracks/issues/500#issuecomment-773565078
... and then we get in total trouble with GPX as there are no GPS coordinates at all...
So, I would propose to reduce the functionality of GPX and not export any trackpoints that have no location (for now) until we get a real solution.
Other

[2021-02-06 11:03] neidert commented on #588
Here is the link to the file of a run with heart rate measurement:
https://neidert-wg.webo.family/index.php/s/xH3sgcSxNMdXcnN

- OpenTracks graphic "by time" by track" shows the heart rate of this track
- GPX viewer online displays heart rate from this track: https://www.bernhard-gaul.de/gpxviewer/gpxviewer.php
- Upload the same gpx file to Garmin connect or Locus Map or Runalyze.com does not disp

[2021-02-06 15:22] rgmf commented on #587
Seem a transitional good solution... :+1:

[2021-02-06 16:04] rgmf commented on #588
@dennisguse @neidert if you change:

[code]
by

[code]

Only downgrade the GPX TrackPointExtension from version 2 to version 1 the heartrate works, at least on Strava (I've created a fake file with fake heart rate to test it).

@neidert can you change `v2` to `v1` and check it out on Garmin, Locus Map...?

What a mess!!! :confused:

PS/ Hunted here: https://help.locusmap.eu/topic/hrm-data-not-visi

[2021-02-06 17:01] Elmi77 opened #590 "Autostart for both, the app and the tracking-function"
**Is your feature request related to a problem? Please describe.**
I'm using the app in my car with my Android car radio and whenever I start the car, I manually have to open the app, start the tracker and select the graph I want to see (speed and height over time). This is time-consumign and sometimes I forget it.

**Describe the solution you'd like**
Ass the app is a nice software to track the d

[2021-02-06 19:10] neidert commented on #588
@rgmf
I changed the gpx-File to xmlns:gpxtpx="http://www.garmin.com/xmlschemes/TrackPointExtension/v1"
When I import this changed file to Locus Map (pro), the heartrate doesn´t work.
When I directly import th gpx file to Runalyze, it works with version v2, but not by this way: Export to Locus map (v2 or v1) , from there automatical export to Runalyze.
Thanks!
neidert

[2021-02-06 19:10] dennisguse commented on #590
Adding quick setting tile to start a recording is great idea!

But I guess that moving to a specific tab is too much as not everybody wants to see the same.
Then we need some configuration etc.
This adds just too much complexity.

The implementation should be straight forward using a TileService.
Then we can call OpenTracks `TrackRecordingService.startRecording()`.

https://developer.android.com/r

[2021-02-06 19:12] dennisguse commented on #588
@rgmf Great work!

PS: How do we document such stuff?
It is kind of hard to understand those formats/interoperability etc and knowing all these tiny, nasty details.

[2021-02-07 10:25] dennisguse commented on #590
Another option would be to implement app shortcuts. See #331

[2021-02-07 10:50] Elmi77 commented on #590
Moving to a specific tab should not be that complicated. No separate configuration is needed, the app could just remember what tab was opened last and then on next start go back to this tab.

[2021-02-07 14:57] rgmf commented on #588
:thinking: maybe we should add documentation for all these stuff... with a simple Markdown file inside doc explaining formats accepted, opentracks extension, drawbacks and all related to import/export file formats.

Were you thinking on something like that?

[2021-02-08 14:38] hg-runs opened #593 "Polar H10 not detected by OpenTracks on a Huawei P40 lite"
**Describe the bug**
Tried to use a Polar H10 heart rate monitor (which is listed as usable by OpenTracks).
It's detected by the smartphone but not within the app.

**Am I missing something here?**

**Screenshots**
![Wire 2021-02-08 at 14-36-23](https://user-images.githubusercontent.com/29901271/107233979-75577e80-6a23-11eb-9188-5accdaabb6f3.jpg)
![Wire 2021-02-08 at 14-36-16](https://user-images.

[2021-02-08 18:07] dennisguse commented on #593
Nice detailed report!

TLDR: just try it again with the H10 on your body.
The problem is that the H10 is turned off (aka powersaving mode).
OpenTracks does not check which sensors are paired with your phone, but searches for sensors how are actively announcing that they are there.
And the H10 only turns on, when it is attached to the body (i.e., it's sensor have contact with something that is cond

[2021-02-08 18:07] #593 closed

[2021-02-09 10:07] matkor opened #595 "Using pl settings android pronounces extras strange "ygreek" (Upsilon) between minutes and seconds"
Using pl settings android pronounces extras strange _"ygreek"_ between minutes and seconds

**To Reproduce**
Start activity, wait for any period TTS information in polish.
I think it is using:
<string name="voice_template">Moje trasy: %1$s w czasie %2$s z prędkością %3$s</string>
but have no idea what %2$s is filled with, but is pronounced:
_"foo minut ygreek bar sekund"_
instead of just:
_"foo mi

[2021-02-09 17:59] dennisguse commented on #595
Zero/one/few/many/other is selected by `getQuantityString()`.
I have no clue about Polish, but if the (y) doesn't make any sense as a plural for minutes then kick it out :)

Relevant code is in `AnnoucementUtils.getAnnoucement()`.
Can you compile and test yourself?

[2021-02-09 21:01] matkor commented on #595
That would be quick fix, but not final solution.

Not yet, but I would try, if provided  any docs/tutorial for Linux.

[2021-02-09 21:18] dennisguse commented on #595
1. Get AndroidStudio: https://developer.android.com/studio
2. Then clone the repo (using AndroidStudio): https://github.com/OpenTracksApp/OpenTracks
3. Activate developer mode on your phone: https://developer.android.com/studio/debug/dev-options

Then you should be able to compile the application and start it on your phone.

[2021-02-10 09:57] hg-runs commented on #593
Thanks for the quick answer.

Back with some more information:

- The H10 was new. I've changed the battery though but no luck
- The H10 was not paired
- The H10 was attached to my body - other wise it would not have been listed in the bluetooth discovery of the phone

Why the smartphone's bluetooth discovery is working but not the app's one?

Obviously I'm interested to get this running.
Anything

[2021-02-10 11:50] mbnoimi opened #596 "Doesn't run in background"
**Describe the bug**
After upgrading my phone to Android 10. OT no longer able to run in background (while other apps work fine ex. OsmAnd)

**My Android Configs**
![_20210210_143939](https://user-images.githubusercontent.com/284547/107506288-ee371180-6bae-11eb-8e12-471b9eb750f5.png)

![_20210210_144155](https://user-images.githubusercontent.com/284547/107506304-f3945c00-6bae-11eb-836e-922a57c7384

[2021-02-10 11:58] mbnoimi commented on #596
BTW, I tried to modify **Battery optimization**, but it didn't affect on the result (as soon as I turn off my screen OT no longer run in background)
![_20210210_145529](https://user-images.githubusercontent.com/284547/107507294-69e58e00-6bb0-11eb-91c3-62f07b4a71fc.png)
![_20210210_145550](https://user-images.githubusercontent.com/284547/107507305-6ce07e80-6bb0-11eb-8665-8045ea153fe3.png)

[2021-02-10 20:05] dennisguse commented on #596
We had some similar reports, but there is no real fix as there is not too much what we can do.
On my LineageOS phone, the battery saver, for example, prevents usage of GPS.
And there is no error message :shrug:

I just know that the location permissions should be okay (OSMAnd is not too privacy friendly here).
Some more details can be found here: https://github.com/OpenTracksApp/OpenTracks/issues/

[2021-02-10 20:14] dennisguse commented on #593
Can you check that either FitoTrack or RunnerUp can access the HR sensor?

Some more details:
In the settings, OpenTracks searches for (HR) sensors.
This means that the sensors must be turned on, not connected to any device (otherwise they don't announce that they are available), and in their announcement package announce that the HR gatt is provided.
A Miband doesnt do the later and we have a wor

[2021-02-10 21:40] dennisguse opened #597 "GPX: enhance export/import"
After the refactoring of #316, only KML/KMZ exports all information to export and restore a track.
The implementation for GPX was reverted as for every trkpt GPX requires the presence of lat/lon (in difference to KML/KMZ).

Some more info can be found here: #587

Goal: be able to export and import a track while restoring all details.

[2021-02-13 13:35] dennisguse commented on #587
Workaround is implemented (basically reverting adaptation for MANUAL_START and MANUAL_END; see https://github.com/OpenTracksApp/OpenTracks/pull/591).
Thus GPX should behave as pre #553.

Follow-up work is tracked in #597.

@rgmf @pstorch Thanks for the discussion! :sunglasses:

[2021-02-13 13:35] #587 closed

[2021-02-13 13:36] dennisguse commented on #486
Changes are implemented and were released in v3.15.0; implemented in https://github.com/OpenTracksApp/OpenTracks/pull/553.

[2021-02-13 13:36] #486 closed

[2021-02-13 13:37] dennisguse commented on #316
Changes are implemented and were released in v3.15.0; implemented in #553.

[2021-02-13 13:37] #316 closed

[2021-02-13 13:39] dennisguse commented on #192
For KML/KMZ implemented in #553.
GPX is tracked in #591.

[2021-02-13 13:39] #192 closed

[2021-02-13 13:57] dennisguse commented on #500
@ChristophWurst I just opened https://github.com/OpenTracksApp/OpenTracks/pull/598, but it is not ready.
I stumpled upon the issue that we have to compute the distance between two trackpoints; not only between two sensor measurements (sufficient for speed; not relevant for HR even).

[2021-02-13 13:58] dennisguse commented on #596
Please reopen, if we can be of more assistance.

[2021-02-13 13:58] #596 closed

[2021-02-13 13:59] dennisguse opened #599 "CI fails due to `OutOfMemoryError`"
[code]

[2021-02-13 17:43] khimaros opened #600 "track heart rate variability"
**Is your feature request related to a problem? Please describe.**
heart rate variability (HRV) is a helpful long term indicator of fitness. tracking this over the course of many months can be a very helpful, encouraging signal for people who are training for health purposes.

https://www.health.harvard.edu/heart-health/what-is-heart-rate-variability
https://www.health.harvard.edu/blog/heart-rate-

[2021-02-13 18:21] dennisguse commented on #600
I guess HRV is up to the sensor. The typical sport HR sensors do not provide this. They only offer heart beats per minute. Do you have an example for a sensor that supports this?

But is is very likely out of scope. It might fit more to Gadgetbridge (i.e., wearables).

[2021-02-14 16:34] #214 closed

[2021-02-14 16:34] #502 closed

[2021-02-14 16:34] #525 closed

[2021-02-14 16:39] rgmf opened #601 "Normalize sensors stats (avg)"
**Is your feature request related to a problem? Please describe.**
Following with https://github.com/OpenTracksApp/OpenTracks/pull/592 the sensors stats averages has to be normalized.

**Describe the solution you'd like**
The solutions are in the follow comments:
https://github.com/OpenTracksApp/OpenTracks/pull/592#issuecomment-775488089
https://github.com/OpenTracksApp/OpenTracks/pull/592#issueco

[2021-02-15 11:10] matkor commented on #595
Thanks, I managed to setup, build and run modified OpenTracks app.
I am going to test it now.

Where can I find definite guide which of
`quantity=["zero" | "one" | "two" | "few" | "many" | "other"]`
is used in Polish?

To my little study, only `one/few/many` should be enough to cover all Polish grammar but I see translations for all six variants in pl/strings.xml ?

[2021-02-15 22:18] dennisguse commented on #595
Good question and I don't have a real answer.
Basically, only the ones that are actually used by a language are needed (and that depends on the actual language; my guess: zero, one, other).
Some more details can be found here: https://phrase.com/blog/posts/fundamental-android-app-localization-guide/

[2021-02-17 12:15] 7eter opened #602 "Support for ANT+ and Classic Bluetooth"
Why was support for ANT+ and Classic Bluetooth removed with the rework of _My Tracks_?
I would love to use my old _Zephyr_ heart rate sensor with _OpenTracks_.
Is there any workaround to get the 'old' sensors to work?

[2021-02-17 20:02] dennisguse commented on #602
TLDR: there is no easy way and this only for Bluetooth classic.
If you really want this it, feel free to invest the time.
You could try using the old stack from MyTracks and bringing together with the new Bluetooth LE stack.
But I expect it to be rather painful experience (with a lot of learnings).

Actual explanation:
I decided that initially, when I started reworking MyTracks.
I basically remove

[2021-02-18 14:23] rgmf commented on #601
I take notes about the progress of this issue:

I've been playing with sqlite and the possibility of normalize the avg. This SQL sentence is the nearly I have but it's difficult because the several types of the trackpoints.

I don't know if it worths or it's better doing the normalization in java code instead of sql.

[code]

Basically what this SQL sentence does is ponderate the heart rate based

[2021-02-18 20:02] dennisguse commented on #601
(about code vs SQL)
Don't know; both work. Back in 2012 I would have said the DB might be faster, but nowadays :man_shrugging:

Tiny fixe to the SQL:
* ORDER BY  x._id

Now comes the ugly part.
In theory, all trackpoints may have sensor data (even SEGMENT_MANUAL_START, e.g., PAUSE/RESUME case).
I guess the only exception is the very first SEGMENT_MANUAL_START as the sensor connection is establishe

[2021-02-18 22:21] dennisguse commented on #601
Forgot to mention it: for the indoor cycling (#500), we might end up with a  SEGMENT_MANUAL_END that contains sensor data.
Initial implementation would be:
* start: SEGMENT_MANUAL_START
* end: SEGMENT_MANUAL_END (with most recent sensor data for HR and sum(distance))

When adding non-GPS (normal) trackpoints there will be some in between, but I guess the SEGMENT_MANUAL_END is likely to still conta

[2021-02-19 15:05] rgmf commented on #601
@dennisguse the query I posted take about 50 seconds with a track that hast about 1500 trackpoints... it's too slow.

I'm going to propose a coding option. In that way is simpler to handle all the possibilities. Anyway, my SQL skills are not too much good and I don't know if we can build an efficient SQL query that handle all the possibilities.

[2021-02-19 20:19] dennisguse commented on #601
@rgmf wow that is really slow.
I mean everything above 250ms would be unacceptable from a user perspective anyhow.
I guess it is problematic for the database that there is no index on `time` and also the two joins.

Here is an untested version using the `_id` (physical storage layout; should be fast) and one join
[code]

But we can also move to Java-based computation.
Way easier to understand.
SQL

[2021-02-19 20:35] 7eter commented on #602
Sounds like a frustrating job - and I can see why the motivation is not to high given that all new devices use BLE.
I'll guess I will live with the old MyTracks and import the recorded tracks to OpenTracks - as this works quite well.
Thanks for the detailed explanation!

[2021-02-19 20:35] #602 closed

[2021-02-19 21:08] rgmf commented on #601
Awesome!!! It takes 27ms for a track with more than 7000 trackpoints!!

[code]

Welcome. Whatever happens always learning something, at least :smile:

[2021-02-19 21:24] dennisguse commented on #602
i was actually curious how the code looked like.
And for Bluetooth Classic every company was implementing their own protocol.
So, MyTrack only supported Zephyr and Polar.
Nowadays I am really happy with the Bluetooth LE solution - for HR it is really easy :)
Now I understood why ANT+ was created considering BLE was not yet there.

@7eter Using MyTracks is actually a really good workaround!

You ca

[2021-02-19 21:28] dennisguse commented on #601
Awesome!

I forgot one WHERE: the sub-select should also filter by trackId as otherwise we might get a trackpoint from a previous track. I guess then the COALESCE is needed again.

[2021-02-19 21:32] rgmf commented on #601
Yes, I forgot the COALESCE... I've updated the query in the post.

[2021-02-19 22:51] 7eter commented on #602
oh cool I'll check that out - thank you again! :)

[2021-02-20 11:23] dennisguse opened #605 "Fix #604: wheel size caption in settings"
... it should be 'wheel circumference' and to be save: we have to remove all previous translations and translate it again.

#604

[2021-02-22 19:15] andrearicci opened #607 "app not tracking activity"
I use it when I go to work by bike. It takes me 50 minutes, but the app records only the first 200 meters.

**To Reproduce**
1. turn on gps
2. start tracking
3. after arrival, stop tracking
4. recorded 50 minutes, 5 minutes in motion, track recorded from house to 200 m about

If applicable:
* add screenshots
* add logcat output

**Technical information**
 - Device: Xaiaomi redmi note 4
 - OS: miui

[2021-02-22 20:26] rgmf commented on #607
Other users have been trouble with battery saving. I don't know if it is related with your issue. If so, this can help you: https://github.com/OpenTracksApp/OpenTracks/issues/177

[2021-02-22 22:11] #605 closed

[2021-02-23 08:54] andrearicci commented on #607
ok - that fixed it

[2021-02-23 08:54] #607 closed

[2021-02-24 18:12] dennisguse opened #611 "[Xiaomi] While recording, telephone vibrates repeatedly"
**Describe the bug**
While recording, Xiaomi devices vibrate repeatedly.
See https://github.com/OpenTracksApp/OpenTracks/discussions/610

**To Reproduce**
1. Go to outdoors, so GPS is available
2. Click on 'start recording'

Vibration only happens outdoors (with GPS reception); indoors no data is recorded and no vibration takes place.

Logcat: https://github.com/OpenTracksApp/OpenTracks/files/6032

[2021-02-24 18:24] dennisguse commented on #611
I just checked the logcat (thanks @StefanKley) and it looks good, right.
At least nothing crashes - that's good news.

Some technical details: for recording OpenTracks starts a so-called `foreground service` and this service must show a notification, so the user is aware something is running. And for convenience, we update this notification showing the GPS accuracy every time we get a GPS location

[2021-02-24 19:00] andrearicci commented on #611
sorry, that's over my skill

[2021-02-24 19:11] StefanKley commented on #611
I'm interested in trying to compile but would start from scratch so this endeavor might take a while....and fail ;-)
Thanks for your update!!

Further advice towards compiling would be appreciated...

[2021-02-24 19:24] dennisguse commented on #611
Here is a build with IMPORTANCE_NONE.
Needs to be unzipped (Github does not allow to share APKs).

[OpenTracksUpstream-releasePlayStore.apk.zip](https://github.com/OpenTracksApp/OpenTracks/files/6038352/OpenTracksUpstream-releasePlayStore.apk.zip)

[2021-02-24 19:35] StefanKley commented on #611
No success I'm afraid. I just checked version 3.15.0-3-g4e4a9abf6-4e4a9abf6- (Code 3855)
The phone still vibrates wildly as soon as GPS data is being received.

Do you need another logcat?

[2021-02-24 20:07] StefanKley commented on #611
I created another logcat that contains more context info in the time frame 02-24 20:35:5* to *eof* where the GPS data was received and the vibrating started. Tracking started apr. 02-24 20:35:43
[custom_log2.txt](https://github.com/OpenTracksApp/OpenTracks/files/6038563/custom_log2.txt)

[2021-02-24 21:10] dennisguse commented on #611
My fault.
We have _two_ priorities: one for the notification channel (Android O/8+) and one for the notification.
In the previous build I only downgraded the priority of the notification channel.
And that does not have an effect on your devices...

Low priority for notification channel and notification:
[OpenTracksUpstream-releasePlayStore-min-priority.apk.zip](https://github.com/OpenTracksApp/Ope

[2021-02-24 21:33] StefanKley commented on #611
I tried "IMPORTANCE_NONE" and "PRIORITY_MIN" with my own build without success (same with your build OpenTracksUpstream-releasePlayStore-min-priority.apk.zip).

Removing the "notificationManager.notify" worked with "OpenTracksUpstream-releasePlayStore-no-update-notification.apk.zip" and my own build. (I had to double check my own builds ...didn't trust them ;-D)

So removing the notification updat

[2021-02-24 21:59] dennisguse commented on #611
@StefanKley So, now we know that it is the notification! That's real progress :)

And it is really cool that you can test it yourself!

Next thing on my list is this:
[code]
Here, we are checking if the accuracy of the GPS is not good enough and if not, we send a vibrate (I hope) by modifying `setOnlyAlertOnce()`.
Can you remove this (incl. line 80: notificationBuilder.setOnlyAlertOnce(true);)?
Tw

[2021-02-24 22:12] StefanKley commented on #611
I will, but that's a thing for tomorrow ;-)
I'll keep you updated...

[2021-02-25 14:31] StefanKley commented on #611
Not sure if I got this right. I did a rollback on the file (or should I have kept the first changes?)

`NotificationChannel notificationChannel = new NotificationChannel(CHANNEL_ID, context.getString(R.string.app_name), NotificationManager.IMPORTANCE_HIGH);`
and
`                .setPriority(NotificationCompat.PRIORITY_MAX)`

and set this (line 66 and following), right?
`
   void updateTrackPoint(

[2021-02-25 17:55] dennisguse commented on #611
Can you try this?
Removing accuracy alert:
[code]

and if this does not work: downgrade the priority as here https://github.com/OpenTracksApp/OpenTracks/issues/611#issuecomment-785386778

@StefanKley No hurry, I am glad that you can actually test this yourself.
Otherwise, it would be tricky.

[2021-02-25 18:01] dennisguse commented on #611
@StefanKley What you can also try is this:
[code]

to

[code]

[2021-02-25 23:16] StefanKley commented on #611
First take https://github.com/OpenTracksApp/OpenTracks/issues/611#issuecomment-786089306 works!
Second take https://github.com/OpenTracksApp/OpenTracks/issues/611#issuecomment-786093003 works too :-)

Each change build on top of base code with modification https://github.com/OpenTracksApp/OpenTracks/issues/611#issuecomment-785386778

Unrelated to both builds I did notice that the displayed distanc

[2021-02-27 01:30] writingpoli opened #613 "[v3.15.0] App dies when hitting record"
**Describe the bug**
App dies when trying to start tracking walk.

**To Reproduce**
1. Open app
2. Click on record
3. See error

# Workaround:
Go to settings and __disable "Latitude/Longitude"__.

**Technical information**
 - LG thinQ

(@dennisguse Removed unneeded technical info)

[2021-02-27 08:47] dennisguse commented on #613
Which version? And can you provide a logcat?
The info above (sadly) does not help for finding the issue.

[2021-02-27 10:08] oceyral commented on #613
Hi @dennisguse ,

Same thing here on app version 3.15.0, android 10 : app crash when hitting record. Empty track segments are created.

Not quite comfortable about sharing logcat, as I don't know what informations are in there, nor how to filter it, however looking at it briefly, the culprit seems obvious :

[code]

This is quite bad, as the app can't even be rolled back to a previous version beca

[2021-02-27 11:44] dennisguse commented on #613
@oceyral Thanks!
That was sufficient!

The problem occurs with v3.15.0 if you Settings->Show Latitude/Longitude activated.
If you deactivate, the crash does not occur.

I will create a new release today!
The F-Droid release might take 2 weeks.

[2021-02-27 12:02] oceyral commented on #613
Great ! Thank you for all the time and effort you dedicate to this project !

[2021-02-27 17:40] #613 closed

[2021-02-27 20:36] dennisguse commented on #613
Issues is fixed and released in v3.15.1
F-Droid availability will take some days.

PS: there was actually another bug: lat/lon where actually never shown as the UI considered the data old.
This is fixed as well.

[2021-02-27 20:37] dennisguse opened #614 "Bug: GPX export crashes on multi-track export"
Reported via GooglePlay Store.

Somehow one can trigger a multi-track export to GPX.
And that is not supported by the GPXTrackExporter.

[code]

[2021-02-28 12:08] MartinHH opened #615 "Shared gpx-Files are empty"
**Describtion**
When using the share button of a track, the file that is transferred to the target app is empty (but has the correct file name). This did not occur with 3.14.3, but now occurs with 3.15.0 (irregardless of whether the track was recorded before or after updating to 3.15.0).

**To Reproduce**
1. From the main view, open a single (recorded) track
2. Click on the share icon.
3. Select a

[2021-02-28 16:11] dennisguse commented on #611
@Ste

[2021-02-28 16:21] dennisguse commented on #611
Thanks for trying investing the time.
Then one final check: can you go to the settings and increase the "GPS accuracy"? Default is 50m and everything above is considered inaccurate; and that triggers the vibration.
And it would also be great to get some info on what accuracy your phone actually has: can you check what accuracy is shown in the notification (that leads to the vibration)?

Implementa

[2021-02-28 16:23] dennisguse commented on #615
You wanted to share _one_ track right?

[2021-02-28 16:25] rgmf commented on #615
I think the error is this. I get the same logcat information that @MartinHH but also this one:

[code]

[2021-02-28 16:25] rgmf commented on #615
@dennisguse I'm trying to figure out how to fix it...

[2021-02-28 16:30] dennisguse commented on #615
We also have this one: https://github.com/OpenTracksApp/OpenTracks/issues/614

[2021-02-28 16:38] dennisguse commented on #614
I refactored GPXTrackExporter as it cannot export multiple tracks.
But the ShareContentProvider always tries to export multiple tracks (which is not supported for GPX) leading to this crash.

I guess, #615  is very related.

[2021-02-28 16:44] rgmf commented on #614
I think so. Maybe this one will fix #615

[2021-02-28 16:51] MartinHH commented on #615
Yes, just one track (and I would not know how to share more than one track at a time).

I had another look at the logcat and did not see `SecurityException` that @rgmf posted. However I did find this:

[code]

[2021-02-28 16:55] dennisguse opened #617 "GPX: export multiple tracks (also for import)."
GPX supports multiple tracks, but we never implemented this.

See: https://www.topografix.com/GPX/1/1/#element_gpx

[2021-02-28 16:56] dennisguse commented on #617
Found due to #614 and #615.

[2021-02-28 16:57] dennisguse commented on #615
Thanks!
That is identical to #614.

@MartinHH you can select multiple tracks in the list.
But for GPX that always will lead to a crash until v3.15.1.

[2021-02-28 17:00] dennisguse commented on #614
Forget what I said: GPX __can__ export multiple tracks.
We just never implemented this.
See #617.

[2021-02-28 17:05] rgmf commented on #614
In Android 10 if you try to share a track you get this error but track is shared correctly:

[code]

[2021-02-28 19:56] #614 closed

[2021-02-28 19:59] dennisguse commented on #615
Should be fixed with https://github.com/OpenTracksApp/OpenTracks/pull/616
#617 should improve the situation.

@MartinHH Please re-open, if the changes did not solve your issue.
And thanks for providing the logcats; this was very helpful!

[2021-02-28 19:59] #615 closed

[2021-02-28 19:59] #600 closed

[2021-03-01 14:38] hex-m opened #619 "elevation gain/loss without barometer (i.e., from GPS)"
**Is your feature request related to a problem? Please describe.**
My device shows "elevation" but shows neither "gain" nor "loss". This is confusing to me.

**Describe the solution you'd like**
I understand that devices without barometer (like mine) are not good at measuring elevation/altitude. But if it's good enough to show the current elevation, it should also be good enough for calculating el

[2021-03-01 16:09] #97 closed

[2021-03-01 16:11] dennisguse commented on #619
This would be a great addition, but it is actually quite complicated to do (if done properly).
Here is some more info: https://www.gpsvisualizer.com/tutorials/elevation_gain.html

So, if you really want to work on that: go ahead!
I can give you some info on how to start.

PS: the issue is that elevation from a GPS is "okay", but not sufficient to directly compute the gain/loss as the noise is too

[2021-03-01 16:23] Grarie opened #620 "gpx export/sharing fails"
**Describe the bug**
On the current version (see below) whenever I want to export a track as gpx it fails, i.e. no file is created or if I try to share it in a messenger it's an empty file or nothing happens at all.

Interestingly it's just the gpx export. kml works fine and is complete as far as I can tell.

**To Reproduce**
1. Go to main screen with the track list
2. Click on a track -> track de

[2021-03-01 16:25] Dryusdan opened #621 "Crash when starting tracking"
**Describe the bug**
After updating the application to version v3.15.0 with an update of LineageOS to version linage-17.1-20210225-nightly-fajita, launching or sharing a GPX causes the application to crash.

**To Reproduce**
1. Go to application
2. Click on Recourd
3. See error

If applicable:
I add logcat when I can get this (I don't know what is this ^^')

**Technical information**
 - Device: On

[2021-03-01 16:32] Dryusdan commented on #621
Oups, I see it's open on v3.15.1 (not build on fdroid)...
I close this issue and re openit if it's not corrected.

Sorry for the noice.

[2021-03-01 16:32] #621 closed

[2021-03-01 16:54] hex-m commented on #457
The follow-up issue that was asked for: https://github.com/OpenTracksApp/OpenTracks/issues/619

[2021-03-01 18:21] dennisguse commented on #620
Duplicate of #614.
Changes not yet released.

Only option: share as KML or KMZ.
I broke GPX export.

PS: thanks for the detailed report.

[2021-03-01 18:21] #620 closed

[2021-03-01 18:33] andrearicci commented on #611
Hello,
today I set the tolerance to 200m and the problem was still there.

[2021-03-01 18:40] dennisguse commented on #611
@andrearicci Thanks; can you check what the message in the notification is?
is it something like "waiting for signal" or does it a show an accuracy in m?

[2021-03-01 18:44] Grarie commented on #620
Thank you for the fast reply. Should have found the other issue, sorry for that. Also thank you for the hint/link. :)

And of course: thank you for the app! :)

[2021-03-01 18:46] andrearicci commented on #611
@dennisguse where shall I see that? Is it an information on the recorded trak or only while recording?

[2021-03-01 18:50] dennisguse commented on #611
@andrearicci When you start a recording, a notification is shown and stays present until you stop the recording.
I it as provided by Android and shown in the notification drawer (like SMS or Email notifications).
Here: https://developer.android.com/images/ui/notifications/notification-drawer_2x.png

[2021-03-01 18:51] dennisguse commented on #614
Released as v3.15.2; will be live on Google today; F-Droid: at least two days.

[2021-03-01 18:51] andrearicci commented on #611
@dennisguse ok, tomorrow I'll check it and let you know

[2021-03-01 19:39] andrearicci commented on #611
@dennisguse ok, tomorrow I'll check it and let you know

[2021-03-02 07:15] ioctl-user opened #623 "Recording stops after one hour of screen off"
Subj.

After device unlock recording starts again.

Disable battery optimization in settings doesn't help.
I have LineageOS 17.1 (Android 10) firmware.

It looks like [this](https://github.com/OpenTracksApp/OpenTracks/issues/430) and [this](https://github.com/OpenTracksApp/OpenTracks/issues/177) problems.

[2021-03-02 11:04] dennisguse commented on #623
Which device?

[2021-03-02 18:26] nexx512 opened #624 "Null Pointer Exception when importing gpx file"
**Describe the bug**
When importing gpx files through settings -> import all tracks, I get a null pointer exception.
Unfortunately I can't attach the file due to Copyright issues.
![Screenshot_20210302-183554_OpenTracks](https://user-images.githubusercontent.com/24672655/109694916-99722f80-7b8b-11eb-9f86-ec85d53d9354.png)

**Technical information**
 - OS: LineageOS 15.1

**Logcat**

[code]

[2021-03-02 21:20] dennisguse commented on #624
The error message is very imprecise.
And here is my guess: you have an invalid (more precise missing) timestamp in your data.
Relevant info the log is ```Invalid XML dateTime value```.
And there we just re-throw the exception coming from ```DateTimeFormatter.parseBest()``` and showing this in the UI.

Not really helpful...

[2021-03-02 21:39] nexx512 commented on #624
Yes I know, it lacks some important information.

Maybe I can check if I can get more information about the data in the
file.
Thanks for your info about how you parse the data.
I'm not sure about the requirements of the gpx format but are
timestamps really required here? Might it be possible that data is
still valid even without timestamps?

I haven't had the time to dig deeper into that error tod

[2021-03-02 22:16] dennisguse commented on #624
@nexx512 I found the issue for the lack of details.
Can you test it?
https://github.com/OpenTracksApp/OpenTracks/pull/625

[2021-03-02 22:53] StefanKley commented on #611
Hi @dennisguse, I checked the increased tolerance and with 200m the problem persists here too.

The notification started after a few seconds with a value below 50m and narrowed down pretty fast well below 10m. I did multiple checks with accuracy set to either 50 or 200 without difference in behavior. Vibration continues anyways...

Thanks for your explanation on the speed.
Also I agree that an opt

[2021-03-03 06:28] ioctl-user commented on #623
Device Oneplus 8.

[2021-03-03 09:31] #601 closed

[2021-03-03 10:40] andrearicci commented on #611
Hi, today I set the tolerance back to 50m, and the notification says "incertezza GPS: 16.69m" (italian for  appoximation/uncertainty)

[2021-03-03 18:28] nexx512 commented on #624
From reviewing the code I found that https://github.com/OpenTracksApp/OpenTracks/blob/edf4ccc941d5226beae5b486238507db2e3acc50/src/main/java/de/dennisguse/opentracks/io/file/importer/AbstractFileTrackImporter.java#L434 produces a null pointer exception if there is no time tag in the track point. This leats to time being null wich causes a NPE in parseBest according to the [DateTimeFormatter Docs](

[2021-03-03 18:57] dennisguse commented on #624
You are right, the time of a trackpoint in GPX is optional: https://www.topografix.com/GPX/1/1/#type_wptType

Then the question, what should OpenTracks do if no timestamp is available as in the internal data model the timestamp is mandatory (and assumed to be monotonically increasing).
We could ignore the trackpoint (would also ignore markers)?

[2021-03-03 19:06] dennisguse commented on #611
@andrearicci @StefanKley Ok, then one last (I hope and I hope I got it right): your XIaomi phones also vibrate if the GPS accuracy is _below_ the threshold in the settings?

If yes, then we can add a settings to disable this functionality in OpenTracks using this approach: https://github.com/OpenTracksApp/OpenTracks/issues/611#issuecomment-786093003

Do you any options to modify how your phones ha

[2021-03-03 19:10] nexx512 commented on #624
I have a gpx file from a hiking guide that only has waypoints without time. So ignoring waypoints without timestamp would result in an empty list in my case.
If you just use the current time then this would probably cause errors if there are some waypoints with time and some without. I guess that's not a good idea. So right now I don't have a good solution to the problem.
Since your internal data

[2021-03-03 21:56] StefanKley commented on #611
Yes even with acc below threshold it does vibrate. Seems like Xiaomi is misinterpreting the notification updates by opentracks?!

Indeed there is an app specific setting for notifications and vibration is enabled by default. I disabled it and enabled the "light" and in a second test "audio" option - both without any effect. I expected the notification light or the audio to cause similar type of tr

[2021-03-03 22:36] dennisguse commented on #623
Then, I guess, I cannot be very helpful.
We had some trouble with other devices, but not ones running LineageOS.
And there is not too much OpenTracks can do about - we do all the things you can do, to prevent this (basically starting a foreground service).
I would suggest to get in contact with the LineageOS team for this device.

Sorry, for not providing any other suggestions :(

[2021-03-03 22:38] dennisguse commented on #624
@nexx512 Why do you want to import this track in the first place?

PS: We use the time to determine the speed; so it is not absolutely essential.
We could also generate something somehow.

[2021-03-04 08:07] ioctl-user commented on #623
Ok. Thank you for the response.

[2021-03-04 08:07] #623 closed

[2021-03-04 18:13] rgmf opened #628 "Speed and elevation correctly shown while recording"
**Describe the bug**
When I start a new track current speed is always 0 and elevation is "-". Anyway, all stats are computed correctly. I've not realized until today so I don't know when this problem begin (usually I start a record and save the smartphone in my pocket).

Is it reproducible for someone? It's an strange error so I don't know if it's an OT issue or a fault of my smartphone.

PS/ I ca

[2021-03-04 18:17] dennisguse commented on #628
Now that you mention it - I have seen this behavior as well.

[2021-03-04 18:17] dennisguse commented on #613
v3.15.1 is live on F-Droid since 03-Mar-2021.

[2021-03-04 18:44] voegelas opened #629 "[v3.15.0] Start coordinates are 0.0,0.0 in KML export"
**Describe the bug**
The start coordinates are always 0.0,0.0. There are empty gx:coord and gx:value elements in KML exports whenever a track is started, paused, resumed and stopped. OsmAnd~ shows connections to the coordinates 0,0 in the Atlantic ocean. gpsbabel fails with *kml: coord field decode failure on ""*. In JOSM, tracks aren't shown as expected. Tracks from 12th Februrary, which were cre

[2021-03-04 19:24] rgmf commented on #628
I get it but I need to check it in real scenarios (only tested on AVD)

[2021-03-04 19:53] nexx512 commented on #624
My intention was to use the app as a tour map. I have ha hiking tour guide that provides gpx files for the tours. So i thougt I could use the map feature of the app as an interactive map. I'm not quite sure if the app is suitable for that purpose though. Thought I give it a shot.

[2021-03-04 20:04] dennisguse commented on #624
Interesting!
Actually, you can do that (if you get the GPX imported) as OSMDashboard supports showing multiple tracks.
1. Import the GPX
2. Start a new recording
3. Go to track list
4. Long press on one of the two tracks (triggers a multi-item selection)
5. Select the other own
6. Use the context menu (map button)
(OSMDashboard opens and shows the two tracks in different colors)

You don't get som

[2021-03-04 20:21] dennisguse commented on #629
Yes, #316 is the reason for this (was released with v3.15.0: mid February).
In difference to GPX, KML/KMZ allows locations that only consists of a timestamp (and then an empty gx:coord); this is also defined in the schema.
We implemented something similar for GPX, but rolled it back as it's schema does not support this.
We export these special locations to be able to restore the TrackStatistics co

[2021-03-04 20:21] dennisguse commented on #623
Actually, there is one workaround (requiring a portable power supply): you could enable the "keep display on while recording"-option.
Not really efficient, but it should "do" the job.

[2021-03-05 07:28] ioctl-user commented on #623
It's too hardcore method. The first I will try calendar notifications each 45 minutes to wake up device while recording.

[2021-03-05 09:39] rgmf commented on #628
`TrackDataHub` send a null TrackPoint every once in a while through `onNewTrackPointsDone`. That's why statistics recording  fragment shows 0 for speed and you sometimes feel a blink on current speed.

[2021-03-05 15:25] paulle commented on #575
I would supprt this to have the buttons with higher contras (dark theme). Replacing the dark red with brighter one and the grey with green or yellow. As it is it's hard to see when one is outdoor.

[2021-03-05 15:34] paulle opened #631 "little error in german translation"
It's remaining the english word loss Instead of the german word Abstieg. I looked in the german string file, but couldn't find it there.
It seems to be stored in another place.
![image_2021_03_05_16_04_51](https://user-images.githubusercontent.com/4852079/110136969-9c119680-7dd0-11eb-8c88-20eb6b13d5c4.jpg)

[2021-03-05 15:51] dennisguse commented on #631
That's default behavior - if no translation is present in the used language, then the default is used and that is English.

Just check it on Weblate: https://weblate.bubu1.eu/engage/OpenTracks/
We (manually) pull the translation from there before each release (sometimes even more often).

[2021-03-05 16:02] dennisguse commented on #628
@rgmf then I introduced the issue...
Let me fix it :)

[2021-03-05 16:14] #631 closed

[2021-03-05 16:19] paulle commented on #631
done

[2021-03-05 16:47] paulle commented on #575
![opentracks](https://user-images.githubusercontent.com/4852079/110146425-d849f480-7dda-11eb-868a-6bcafa50e8b4.jpg)

[2021-03-05 17:15] dennisguse commented on #629
@voegelas Thanks for this detailed investigation!
I will try to fix the Placemark 0.0 issue this weekend.

[2021-03-05 21:25] dennisguse commented on #629
I just briefly looked into that issue and the actual question is: do we need placemarks for the start (#start) and end (#end) of a track?
We do not use them for the import anyhow.
My best guess is that those are/were just used to visualize it nicely in Google Earth.
And if this holds assumption holds, I am inclined to just remove them.

@rgmf @voegelas @pstorch
Do you have any opinion on that?

PS

[2021-03-05 22:02] pstorch commented on #629
I don't need an extra placemark for start or end. If it is really needed for someone we could use the coordinates of the first real trackpoint (or the last for the end).

[2021-03-06 10:40] rgmf commented on #629
+1

So, I'd remove them too.

[2021-03-06 13:45] voegelas commented on #629
I think that users can add start and end placemarkers manually if they need them.

[OpenLayers](https://github.com/openlayers/openlayers/blob/main/src/ol/format/KML.js) doesn't support empty gc:coord elements either. They insert 0,0 coordinates when their gxCoordParser fails to parse gc:coord elements.

[2021-03-06 15:49] dennisguse commented on #576
Done.

[2021-03-06 15:49] #576 closed

[2021-03-06 16:57] rgmf opened #635 "StatisticsRecordedFragment shouldn't check track/trackstatistics for null"
**Is your feature request related to a problem? Please describe.**
For recorded tracks either track and trackstatistics cannot be null but `StatisticsRecordedFragment` check always for not null.

**Describe the solution you'd like**
Remove all these useless checking.

[2021-03-06 17:13] #624 closed

[2021-03-06 17:35] ChristophWurst opened #636 "[v3.15.0] GPX export fails: File name contains invalid characters"
**Describe the bug**

I recorded a bike ride today, just like I always do. Now after updating the app I'm no longer to export the GPX to any other app. As I understand from the logcat output it looks like the encoding of spaces as %20 could be troublesome.

**To Reproduce**
1. Open a recording
2. Click the share icon
3. Select Nextcloud/K-9whatever
4. App crashes

[code]

**Technical information**

[2021-03-06 17:40] dennisguse commented on #636
Related: https://github.com/OpenTracksApp/OpenTracks/issues/254

[2021-03-06 17:52] rgmf commented on #636
I can reproduce the same issue that @ChristophWurst but only if I try to share a track with NextCloud. But it works with F-9 Mail and Telegram, for example.

Also, in logcat you can see this line:
[code]

Could the issue be from NextCloud?

[2021-03-06 17:56] ChristophWurst commented on #636
I renamed the activity to drop the spaces. It still errors

[code]

The tracking contains heart rate and cadence data if that is relevant.

[2021-03-06 18:00] ChristophWurst commented on #636
This could be related to https://github.com/OpenTracksApp/OpenTracks/issues/615

[2021-03-06 18:04] ChristophWurst commented on #636
k9 doesn't crash indeed but the file sent is 0B for me.

[2021-03-06 18:08] rgmf commented on #636
So, I think it's related with #615 (already fixed).

In fact, I've just tested with develop version and It works for NextCloud too.

[2021-03-06 18:13] ChristophWurst commented on #636
Thanks for checking. I see that fix went into 3.15.2. I currently get no update to that via f-droid.

I'll retest once that is available.

[2021-03-06 18:53] ChristophWurst commented on #636
Sooo how could I actually test the latest dev version? Android studio asks me about uninstalling the current app and wiping the data … that's not quite what I want. I also bought the Play version but apparently that one doesn't share data with the f-droid version :speak_no_evil:

[2021-03-06 19:16] ChristophWurst commented on #636
FYI I've reported the missing f-droid update at https://gitlab.com/fdroid/fdroiddata/-/issues/2325.

The latest release is in their data repo but somehow neither https://f-droid.org/en/packages/de.dennisguse.opentracks/ nor my phone shows the v3.15.2

[2021-03-06 19:21] dennisguse commented on #636
@ChristophWurst That is sadly "normal". For v3.15.0, it took 2 weeks.
And the changelog of v3.15.0 was already shown although only v3.14.3 was in the repo.
And when v3.15.0 went live on F-Droid it took some hours until one could actually download the APK.
Not a pleasant experience.

Some more info here: https://forum.f-droid.org/t/how-long-for-an-app-to-be-available-for-download-once-metadata-are-

[2021-03-06 22:30] dennisguse commented on #614
v3.15.2 is live on F-Droid.

[2021-03-06 22:31] dennisguse commented on #636
v3.15.2 is live on F-Droid.
@ChristophWurst Can you check if this fixes this issue?

[2021-03-06 22:33] dennisguse commented on #575
@paulle You can also use the light theme during the day (it is in the settings).
We need something more holistic than just changing the border of the buttons.

[2021-03-07 06:09] ChristophWurst commented on #636
It does. Thanks a lot and sorry for reporting an already fixed bug.

[2021-03-07 06:09] #636 closed

[2021-03-07 09:36] dennisguse commented on #636
@ChristophWurst It is better to get a bug report too much than none at all.
And it is good too know that the exceptions look very different!
TLDR Thanks!

[2021-03-07 19:33] Ducky6-Stonework-Grumble opened #637 "Support for TCX or FIT export (format that supports powermeter stats)"
Is it possible to add the file export format that support powermeter data? As I understand neither KML nor GPS are designed to store that data. Thank you.

[2021-03-07 19:47] dennisguse opened #638 "GPX: add sensor data"
We could export all sensor data to GPX.

An approach by Strava:
https://developers.strava.com/docs/uploads/

Alternative to #637

[2021-03-07 21:28] #628 closed

[2021-03-07 22:03] dennisguse commented on #599
Problem is still there.

[2021-03-07 22:24] dennisguse commented on #637
For which tool do you need this?

[2021-03-07 22:24] dennisguse commented on #638
That is how Golden Cheetah does it: https://github.com/GoldenCheetah/GoldenCheetah/blob/2d64166acd61612cba6684cd27d60cab813667f5/src/FileIO/GpxRideFile.cpp

[2021-03-08 17:11] #629 closed

[2021-03-08 17:27] dennisguse opened #639 "KML with empty gx:coords."
Follow-up to #629.

As of v3.15.0, we generate KML TrackPoints without coordinates (empty gx:coords).
We use this to store timestamps of events without a GPX fix (like recording started), but it will be extended for cases like #500 (indoor training without GPS).

Although it is complaint with the OGC KML 2.2/2.3 standard allows this, many open-source tools do not and use 0.0/0.0 as coordinates if

[2021-03-08 17:27] dennisguse commented on #629
Removal of #start/#end released in v3.15.3

@voegelas I created #639 as follow-up regarding interoperability with other applications.

[2021-03-08 17:57] voegelas commented on #639
gpsbabel and OsmAnd have already accepted pull requests. In OpenLayer's [KML.js](https://github.com/openlayers/openlayers/blob/main/src/ol/format/KML.js) the functions gxCoordParser and readGxTrack need to be adapted. If time permits, I will create a pull request this week.

[2021-03-08 17:58] dennisguse commented on #639
@voegelas awesome!

[2021-03-08 18:00] Ducky6-Stonework-Grumble commented on #637
Trainer road and occasionally Strava. It was a useful addition to include power meter support but and I am trying to get the fitness data extracted to use with fitness trackers.

[2021-03-09 12:08] jackpoc opened #640 "[v3.15.0] Voice notification going off every 5 seconds"
**Describe the bug**
I used opentracks today after updating via F Droid.

The voice notifications were going off every 5 seconds (ish). Was also listening to a podcast using antennapod. There was no way to turn this off. Annoying as it makes OpenTracks unusable for me.

Voice notifications were set for every 5 minutes.

**To Reproduce**
1. Use OpenTracks with headphones
2. Start recording
3. Every

[2021-03-09 18:42] delboy711 commented on #640
I have the same issue, but only since I upgraded my phone OS from Android 9 (pie) to Android 10 (q)

I have another phone running Android 7 (nougat) and voice notifications work OK

I have tried Opentracks versions 3.5.2/3.5.1/3.5.0 and they all behave the same.

[2021-03-09 18:48] dennisguse commented on #640
If I remember correctly, there was no recent change in the voice announcement system (at least none that could account for this) - except we moved times from a long to Instant/Duration.

@delboy711 @jackpoc Are you able to compile to check this yourself.
I don't have a test device with TTS at hand (at least not easily).

@delboy711 Thanks for this important detail.

[2021-03-09 18:53] rgmf commented on #640
@delboy711 @jackpoc I can reproduce the issue but I can turn off the voice from settings. Can you open Settings -> Voice Frequency and set it to Off?

At least you can use OpenTracks until this will be fixed.

[2021-03-09 19:17] rgmf commented on #640
@dennisguse Fixed and pushed onto main directly.

@jackpoc I hope you can to turn off the voice announcement until new release.

[2021-03-09 20:10] jackpoc commented on #640
Thanks for the quick turn around on fixing it!

Thanks I have turned it off for now. I didn't notice you could set it to off before for some reason.

[2021-03-09 20:44] delboy711 commented on #640
That was quick!
Thanks for the fix.  I will run with voice notifications switched off until the fix hits f-droid.

[2021-03-09 20:49] dennisguse commented on #640
Release v3.15.4 contains the fix.
Might hit F-Droid in 2-14 days. ;)

@rgmf Thanks for fixing it.
My fault...

[2021-03-10 07:25] rgmf commented on #640
No problem... I didn't realize of it either. It's a feature I never use because my device don't have TTS :sweat_smile:

[2021-03-10 22:02] dennisguse commented on #640
@rgmf I also don't have TTS ;)

[2021-03-11 16:13] dennisguse commented on #416
Not going to happen soonish.

[2021-03-11 16:13] #416 closed

[2021-03-11 16:14] #275 closed

[2021-03-11 16:15] dennisguse commented on #504
@rgmf We could just add this right?
Or am I missing something?

[2021-03-11 16:16] dennisguse commented on #559
@vanous do you still need this?

[2021-03-11 17:46] rgmf commented on #504
@dennisguse I don't know if that would be feasible.

The average for power must be computed from trackpoints. For one, two or three tracks it'd be feasible but for hundreds of tracks it would get a lot of time, right?

[2021-03-11 19:18] dennisguse commented on #504
@rgmf You are right, it might be kind of slow (and consume quite some energy).
I don't what the actual use case is and if this could rather be done in another tool like Golden Cheetah.
If it is important, we could start the cache the data after first computation for each track.
But in general: if it makes the code more complicated, I would rather not do it (we have enough trouble with other things

[2021-03-11 20:16] #617 closed

[2021-03-11 20:20] dennisguse opened #642 "Keep reference to sharedpreference if used more than once"
We are opening the sharedpreferences again and again.
This is really slow and costly.

We need to replace this everywhere where we call something like `PreferenceUtils.isXXX(context)`.

[2021-03-12 07:35] ChristophWurst commented on #504
I do use Golden Cheetah for my long term analysis. When looking at power numbers in OpenTracks or any other tracking software/device my focus is on the power of *one ride*.

Aggregated average power doesn't tell much, so I'd say we can close this.

[2021-03-12 07:35] #504 closed

[2021-03-12 18:55] #566 closed

[2021-03-12 18:55] #635 closed

[2021-03-13 08:36] vanous commented on #559
Hi @dennisguse :)

personally, due to the lockdown and limited allowed movement range (affecting my possible explorations), i had been focusing my activity related development in Gb on a GPS-less activity detection, but once hiking in hills is allowed again, GPS usage will go up for me. From some feedback i see in our chatroom, people do use the GPS, so my request was coming from me as a user but

[2021-03-13 09:22] dennisguse opened #645 "AnnouncementPeriodicTask always loads all TrackPoints for each announcement."
AnnouncementPeriodicTask always loads all TrackPoints for each announcement.
The longer a track gets, the more time, we spent on loading the data.

We should somehow store the state and just load the TrackPoints that were not yet there when the last announcement was made.

Relevant code:
[code]

[2021-03-13 19:06] dennisguse opened #648 "Speed / distance: rendering"
We have two different ways to render the speed and the distance.
See `StringUtils.getSpeedParts()` and `StringUtils.formatSpeed()` as well as `StringUtils.getDistanceParts()` and `StringUtils.formatDistance()`

And both format the speed/distance differently, especially regarding the number of decimal digits.

[2021-03-14 11:48] #559 closed

[2021-03-14 14:59] dennisguse opened #650 "GPX: export distance using TrackPointExtensionv2"
We just implemented the export of the distance as a custom field `opentracks:distance`.
But for the sake of standards, we should export it as using TrackPointExtensionsv2.

https://www8.garmin.com/xmlschemas/TrackPointExtensionv2.xsd

Requirement: the importer must (at least until end of 2021) support both fields.

__NOTE:__ distance code did not make it into any release yet.
Still on distance#500

[2021-03-14 17:59] rgmf commented on #648
I see that `getDistanceParts` is appropriated for UI where you have two separated fields for the value and the unit, isn't it?

[2021-03-14 18:19] dennisguse commented on #648
Exactly, and the fun question is how to unify it.

[2021-03-14 18:22] #638 closed

[2021-03-14 18:53] dennisguse opened #652 "GPX export TrackStatistics using TrackStatsExtension"
For GPX, there is an extension to export statistics about a track.
We can include those without a problem:
[code]

https://www8.garmin.com/xmlschemas/TrackStatsExtension.xsd

[2021-03-14 18:58] dennisguse commented on #652
And we could export the activity/category via TripExtension's `TransportationMode`.
https://github.com/cpesch/RouteConverter/blob/796cbc79b08f2edb1694891a6b61417b9cc104fa/gpx/src/main/doc/TripExtensionsv1.xsd#L19

[2021-03-14 18:59] dennisguse commented on #650
I was mistaken.
TrackPointExtensionsv2 only supports depth not distance.

[2021-03-14 18:59] #650 closed

[2021-03-15 11:01] #642 closed

[2021-03-15 16:27] dennisguse opened #653 "Replace JCenter in build.gradle as service is going to be terminated."
See https://stackoverflow.com/questions/66049196/replacing-jcenter-in-android-gradle-repositories

[2021-03-15 16:27] #505 closed

[2021-03-15 16:29] dennisguse commented on #500
We now support getting the distance from a sensor.
Next step is that we need to store the data at a regular(?) interval as well.
So far, data is only stored when a GPS location is received OR the user pauses/stops a track.

[2021-03-15 16:40] dennisguse commented on #640
v3.15.4 is now available via F-Droid.

[2021-03-16 12:21] delboy711 commented on #640
Confirmed v3.15.4 fixes the problem. Thanks

[2021-03-16 14:30] mike-wi opened #656 "No Up/downslope Data Calc"
neither in the Statistic Screen, nor in Interval screen. Graph Shows Elevation Data.

**Technical information**
 - Nokia 2.4
 - Android 10
-  V 3.15.4

[2021-03-16 16:56] dennisguse commented on #656
@mike-wi Can you share a screenshot?
Is it while recording or afterwards or is it something imported?

[2021-03-16 20:09] mike-wi commented on #656
It's while recording a track.

thx -mike

![Screenshot_20210316-210343](https://user-images.githubusercontent.com/41682663/111372717-4c1db400-869b-11eb-98cc-ddca54eae4f9.png)

![Screenshot_20210316-210357](https://user-images.githubusercontent.com/41682663/111372811-6b1c4600-869b-11eb-962b-5afa62ff8536.png)

![Screenshot_20210316-210438](https://user-images.githubusercontent.com/41682663/111372871

[2021-03-16 20:44] dennisguse commented on #656
Actually, OpenTracks uses the barometric sensor (if present) to gather the gain/loss.
And if no sensor is present, we don't collect it resulting in the "-" for both fields.
And the Nokia 2.4 does not provide this sensor.
The GPS signal is very imprecise and would require some fancy processing.

See #619.

@mike-wi Thanks for the screenshots that was very helpful.

[2021-03-16 20:44] #656 closed

[2021-03-16 20:46] dennisguse commented on #637
We export the power meter now to GPX: see  #638.

Implementing TCX or FIT in addition to GPX/KML is quite some effort and (for now) there is no point in doing it.
Feel free to re-open if you want to implement this.

[2021-03-16 20:49] mike-wi commented on #656
Thx
-mike

[2021-03-17 07:20] sebastianha opened #657 "Some ideas and feature requests"
Hi,

first of all THANK YOU for this great app! I really like it and having an open source app for tracking which does not sell all the data is a huge win for everybody!

I used the app for several months now to track my running and I would like to share some ideas and feature requests which came to my mind during usage. I am happy to split these into individual issues afterwards but for now I wan

[2021-03-17 16:36] dennisguse commented on #595
@matkor Are you still working on this?

[2021-03-17 16:45] dennisguse commented on #657
1. Yes; see https://github.com/OpenTracksApp/OpenTracks/pull/658

2. See  #619

3. Can you create a new issue for this?

4. Can you create a new issue for this?

5. Possible, but OsmAnd would need to implement our interface.
It is kind of simple, but it is not in our hands.
Ask them if they consider this.

6. Can you create a new issue for this?

PS: Way easier to keep track of things, if they are

[2021-03-17 16:48] dennisguse commented on #619
It might not be that complicated - it might be sufficient to just change TrackStatisticsUpdater, so it filters the TrackPoint.getElevation(). A similar approach is already in place for the speed.
And we only would need to this, if no barometric data is present.

[2021-03-17 17:00] dennisguse commented on #657
@sebastianha Forgot to add: all really cool ideas! Thanks!

[2021-03-17 18:04] sebastianha opened #659 "Make shown data configurable"
I would really like to see that I can configure the data shown on the screens.

**Example 1 -  Main screen:** Currently time and km is shown. I would be handy to also show average speed or heart rate information here. There should be enough space in the second row.

**Example 2 - Interval screen:** Currently on the right there is elevation. It would be handy to change this to e.g. heart rate infor

[2021-03-17 18:05] sebastianha opened #660 "Small screen layout"
I sometimes use split screen to show OsmAnd and OpenTracks both on my screen. Unfortunately the layout is not optimal for this, see screenshots

![Screenshot_20210317-073755_OpenTracks](https://user-images.githubusercontent.com/420807/111428320-a0568180-86f7-11eb-81e4-197248a7c0bb.png) ![Screenshot_20210317-073811_OpenTracks](https://user-images.githubusercontent.com/420807/111428370-b106f780-86f7

[2021-03-17 18:06] sebastianha opened #661 "Enhanced Interval Status"
I currently use the interval screen to check my pace but it has some drawbacks. First of all I don't see my heart rate and other information from the stats screen but also is the font too small. For me it would be optimal to see the stats for the latest interval at the top of the screen in a large font and then have the other intervals below. I created a "mockup" how this could look like:

![Scree

[2021-03-17 18:09] sebastianha opened #662 "Enhance voice announcement functionality"
It would be really nice if the voice announcements could be configured.

a) Make interval of announcements freely configurable, down to seconds / meters. Sometime I want to keep a specific pace or heart rate and it would be nice to hear this every 30 seconds.

b) Add an option to configure what will be announced. Some ideas:
- heart rate
- average speed of current interval
- time since start
-  m

[2021-03-17 18:11] sebastianha commented on #657
Here they are:

- https://github.com/OpenTracksApp/OpenTracks/issues/659
- https://github.com/OpenTracksApp/OpenTracks/issues/660
- https://github.com/OpenTracksApp/OpenTracks/issues/661
- https://github.com/OpenTracksApp/OpenTracks/issues/662

For 5 you are right, it's more an osmand thing.

I will close this issue, everything is in seperate issues now.

[2021-03-17 18:11] #657 closed

[2021-03-17 19:34] rgmf commented on #659
Interesting idea. I like it.

We could apply something similar than we are doing now for sensor data (dynamically loaded).

I don't like icon on recording either... it's not that important there.

[2021-03-17 21:20] dennisguse commented on #224
I plan to use the EGM2008.
NGA provides undulation data here: https://earth-info.nga.mil/wgs84/egm-download.php?file=EGM2008/2.5_minute_interpolation_grid/EGM2008_Interpolation_Grid.zip

We might need to strip down the resolution to 10' and also store decimeters (2 byte) instead IEEE754 (4 byte) due as we need to include the file into the APK.
Also the conversion code provided by NGA is Fortran :s

[2021-03-17 23:11] gdt commented on #224
EGM2008 is exactly the standard approach, so that sounds good.

Not sure why you don't like fortran; it's possible to have efficient programs, ompared to needing 1 GB of RAM to run "hello world" in java!

[2021-03-18 09:01] matkor commented on #595
I made changes, but had problems with testing ( I had app speaking same every second). I have seen many changes (and releases) in repo, so I will try this weekend again.

[2021-03-18 17:40] dennisguse commented on #224
@gdt I don't have any trouble with Fortran - I really like it, if something that is ages old, still works and is understandable. Re-implementing everything just because there is a new technology/framework/whatever doesn't make any sense (to me).

[2021-03-18 20:49] #584 closed

[2021-03-18 21:15] dennisguse commented on #584
@vanous Out of curiosity (and lack of test devices like Miband): is notification shown on a wearable device and does it show the latest information?

[2021-03-18 21:21] vanous commented on #584
I can try tomorrow. I block all notifications but I will allow ot and will report.

[2021-03-19 07:20] dennisguse commented on #483
This was actually implemented in #584.

[2021-03-19 07:20] #483 closed

[2021-03-19 07:21] dennisguse commented on #430
Any news on this?

[2021-03-19 07:24] dennisguse commented on #281
Already implemented.

[2021-03-19 07:24] #281 closed

[2021-03-19 07:26] dennisguse commented on #363
I was thinking about rendering a Android layout on top of an image.
This way the resulting overlay would be easily configurable.

[2021-03-19 20:19] vanous commented on #584
I tried this. This is an ongoing notification, right? These are blocked in Gadgetbridge in general.

[2021-03-19 21:31] dennisguse commented on #584
@vanous Yes, it is. The notification is created by a ForegroundService (to keep it alive) and then updated whenever we get a new GPS fix.
Any chance to enable this in Gadgetbridge as it might be a really nice feature with the new information while doing sports etc.

[2021-03-20 08:13] vanous commented on #584
I will check it out. There are several things and protections in place already that will need to be looked at.

[2021-03-20 09:44] vanous opened #665 "FATAL EXCEPTION: TimerTaskExecutor"
OpenTracks crashes when Settings → Voice frequency is enabled (tested with setting to 1 and 2 minutes).
- No other app is using audio at the same time.
- Can replicate at any time, including outside with good GPS reception.
- Crash happens when the timer fires
- I am not sure if Recording stops, because Persistent notification is still running, GPS fix is maintained. So the background thread is st

[2021-03-20 10:28] dennisguse commented on #665
@vanous Can you check #666?

Don't know yet why this happens and cannot test it due to lack of TTS on my devices.

[2021-03-20 14:01] vanous commented on #665
Fix confirmed, issue solved, thank you @dennisguse !

[2021-03-20 14:01] #665 closed

[2021-03-20 15:01] dennisguse commented on #665
@vanous thanks for testing and finding this bug!

[2021-03-20 15:40] sebastianha opened #667 "Delay after pressing GPS start button on main screen"
**Describe the bug**
When pressing the GPS start button on the main screen to prepare a GPS fix it takes several (~5s, but sometimes longer) seconds before the location icon from Android OS appears and the device is searching for a fix. In other applications the GPS icon in the tray appears immediately.

**To Reproduce**
1. Go to main screen
2. Click on GPS start button
3. See Android header bar,

[2021-03-20 15:47] sebastianha opened #668 "Swipe up/down on main screen to scroll through recodings"
**Is your feature request related to a problem? Please describe.**
Sometime I want quickly to get detailed information about the last recordings. To do this I have to go back to the start screen and then select a recording and so on.

**Describe the solution you'd like**
I would like to swipe up (or down) to switch to the next (previous) recorded track. The up/down swipe should be available on the

[2021-03-20 20:33] dennisguse commented on #667
I am not sure that we are not responsible for the icon.
I presume that you are referencing the one beside the _airplane mode icon_, right?
I assume that this is feedback from Android showing the user that the phone got a GPS fix as some app was requesting it (might be in the background).

Only info I found in 2min searching was this: https://consumer.huawei.com/en/support/content/en-us00407938/

@

[2021-03-21 18:35] sebastianha commented on #667
1. Yes, it's an Android thing
2. Correct, It's about the Android native "location accessed" icon
3. The Icon should appear as soon as an app requests the current location and it does not matter if the GPS has a fix or not.

Interestingly other apps (e.g. GPSTest or OsmAnd) show the location icon immediately after starting. Opentracks does not. That's what is wondering me. I also have the feeling t

[2021-03-21 18:41] sebastianha opened #669 "When recording interval list jumps to top too quickly after scrolling down"
**Describe the bug**
When recording a track and visiting the interval page it is always at top position showing the latest information which is a good default.

But when scrolling down the list it jumps quickly back up to the top, I assume as soon as there is any new data recorded. This is annoying when I want to take a look at older intervals of the current session.

It would be handy if the list

[2021-03-21 19:14] dennisguse opened #670 "For release v3.16.0: fix test"
[code]

[2021-03-21 19:19] dennisguse commented on #670
Sounds like the TrackStatisticsUpdater is not reset on segment end.
I guess it is in the KML importer.

[2021-03-21 19:58] rgmf commented on #669
Yes, you are right @sebastianha

That should be improved. I'll look into it.

[2021-03-21 20:29] jackpoc commented on #640
Sorry but it hasn't been fixed for me. Just constant voice notification. I updated the app in f droid.

[2021-03-21 21:13] chmduquesne opened #671 "Provide a way to start tracking from an Automate/Tasker flow"
**Is your feature request related to a problem? Please describe.**
I always forget to start tracking my sport activities, and as a result I am missing the gps tracks of glorious hikes. I would like to program my phone to automatically record my gps track when the right conditions are met.

**Describe the solution you'd like**
I would like to start recording from the App automate. This way, I can b

[2021-03-21 21:50] dennisguse commented on #640
@jackpoc Can you provide more information on this?

[2021-03-21 23:05] dennisguse commented on #670
Somehow this is flacky...

[2021-03-21 23:14] dennisguse commented on #671
I guess you want an application link, right?
https://developer.android.com/training/app-links
There seems to be some web-based configuration required: https://developer.android.com/training/app-links#add-app-links

Could we also handle an intent instead?
I don't know what Automate/Tasker supports.

[2021-03-22 08:43] chmduquesne commented on #671
Yes, it is also possible to send an intent. Both Automate and Tasker can send arbitrary broadcast intents:

* https://llamalab.com/automate/doc/block/broadcast_send.html
* https://tasker.joaoapps.com/userguide/en/intents.html

Tasker documentation is clear about the limitations (and I believe Automate has the same limitations):

[2021-03-22 08:47] chmduquesne commented on #671
I am not picky about the way it should be implemented, whatever is the most convenient. Any way that would allow me to start/stop tracking from a flow would make me happy 🙂

[2021-03-22 11:19] dennisguse commented on #224
@gdt I created a draft for EGM2008 (5 minute resolution, adds about 20MB to the APK).
If you have some time and knowledge at hand, I could use some help with the interpolation.
A detailed description is available here: https://geographiclib.sourceforge.io/html/geoid.html
(My C reading skills are not yet that great...)

See https://github.com/OpenTracksApp/OpenTracks/pull/672

[2021-03-22 11:44] jackpoc commented on #640
@dennisguse I just realised I only updated to 3.15.2 not v3.15.4. It isn't available yet on F Droid.

[2021-03-22 18:59] dennisguse commented on #640
@jackpoc Okay ;)
You just need update your local F-Droid repo (pulling down on F-Droid's main screen).

[2021-03-22 18:59] #640 closed

[2021-03-22 19:08] dennisguse opened #673 "Create landing page for OpenTracksApp"
![image](https://user-images.githubusercontent.com/2820825/112044632-4f58ea00-8b4a-11eb-848e-b55d88a46cbe.png)

[2021-03-23 15:22] delboy711 opened #674 "Spoken elapsed time incorrect format"
Any activity whose duration is more than one hour is spoken incorrectly.
For example "in one hour and one hundred and twenty two minutes and twenty seconds"

I have tried with two different voice engines, e-speak, and Ivona with the same result.

**To Reproduce**
1. Set a voice frequency in settings
2. Engage in any activity for more than one hour.

**Technical information**
 - Device: Xiaomi Mi5

[2021-03-23 16:26] dennisguse commented on #674
Yes, that is the case and it shouldn't.
Lack of test coverage before refactoring.
Introduced in e990b413cd7a216554d246663cff439cb6b91ca9
[code]

[2021-03-23 21:17] dennisguse commented on #670
We also got:
[code]

Current hypothesis: the track is somehow not deleted properly between tests.
The tests _should_ be deterministic.....

[2021-03-24 16:23] #674 closed

[2021-03-24 21:12] dennisguse opened #677 "Release v316.0?"
@rgmf Any objections?

I would postpone EGM2008 to v3.17.0 as I it should be working, but I am 100% certain.

[2021-03-24 21:24] rgmf commented on #677
Good for me ;)

[2021-03-24 21:25] dennisguse commented on #677
:partying_face:

[2021-03-24 21:25] #677 closed

[2021-03-25 20:24] dennisguse opened #678 "Rename elevation to altitude"
We are using both words interchangeably, but the Android API uses altitude.
So, that's the one to use.

PS: Do not rename DB column as this is too much effort.

[2021-03-25 20:26] dennisguse opened #679 "Move distance/speed computations (miles/km etc) into one object"
We are doing the same computation at several places throughout the code.
Example:
[code]

It would be way easier to put this into one place alone.

Classes providing these infos: TrackStatistics, the TrackStatisticUpdater, and TrackPoint.

[2021-03-25 21:50] rgmf opened #681 "KmzTrackImport Context."
KmzTrackImport has a Context like a member but some of its method receive the context like argument. Does it have any sense? Why not to use the Context on these methods?

The constructor:

[code]

One of its method (for example):

[code]

[2021-03-25 22:03] dennisguse commented on #681
Best guess: some leftovers that were forgotten and it is actually confusing as the parameter actually suggests that there could be another context.

[2021-03-26 21:38] dennisguse opened #683 "Export and import GPS accuracy data"
We store the GPS accuracy data, but we don't export/import it.

[2021-03-27 11:21] slackline commented on #512
Hi,

Thanks for your continued effort on OpenTracks, its just getting better and better.

I've been trying this out and have under `Settings > Recording > Advanced > Default Track Name` tried all three options `Date (local)` / `Date (ISO8601)` / `Number`.  In all instances when recording of a track ends and the track is saved to disk automatically (`Instant post-workout export` is enabled) the res

[2021-03-27 12:00] dennisguse commented on #512
@slackline There is no specific option for this.
The filename is just generated differently on export.
But the v3.16.0 is not yet on F-Droid...

[2021-03-28 15:44] ChrisD70 opened #684 "Typo in xmlns:gpxtpx url in GPXTrackExporter.java"
**Describe the bug**
When exporting a track to gpx there is a typo in the url for xmlns:gpxtpx, instead of

http://www.garmin.com/xmlschemes/TrackPointExtension/v2

it should be

http://www.garmin.com/xmlschemas/TrackPointExtension/v2

**To Reproduce**
1. Export track
2. Open with text editor and check path

[2021-03-28 16:29] #684 closed

[2021-03-28 17:03] dennisguse commented on #684
@ChrisD70 Thanks for finding this one!

[2021-03-29 16:57] vanous commented on #584
This has been merged and we tagged yesterday, now waiting for F-Droid to build :)

https://codeberg.org/Freeyourgadget/Gadgetbridge/pulls/2236

It is advisable to set "Minimum time between notifications" to a few seconds, because depending on how often the notifications are updated, battery can suffer and firmware might get overwhelmed :)

I still need to mention this in our wiki...

[2021-03-29 16:59] dennisguse commented on #584
@vanous Pretty awesome! That is really cool!

@rgmf Might be interesting for you!

[2021-03-29 18:41] rgmf commented on #584
@vanous thank you so much!!!

@dennisguse of course it is :smile:

[2021-03-30 07:05] deepakshilkar opened #685 "Unable to uninstall the app"
**Describe the bug**
I am unable to uninstall the app through both F-Droid as well as the pop-up pill menu. On clicking uninstall, the package installer crashes.

**To Reproduce**
1. Just long press on the app icon and uninstall.
2. Or go to F-Droid and click uninstall.

If applicable:

![image](https://user-images.githubusercontent.com/37940886/112947361-512b3a80-9154-11eb-8075-b5b4dbbc3091.png)

[2021-03-30 10:03] dennisguse commented on #685
Can you share a logcat?

We had something very similar: https://github.com/OpenTracksApp/OpenTracks/issues/129
Solution there was to use `adb` to install as the package installer has a bug in some Android versions.

[2021-03-30 10:08] sebastianha opened #686 "Introduce quick links between pages"
**Is your feature request related to a problem? Please describe.**
There are lists on some screen which represent data. Currently a tap action is recognized (list entry gets darker) but there is no action triggered.

**Describe the solution you'd like**
I have two examples where a tap on a list entry could lead to another page and show data linked to the list entry.

1. Aggregated Stats -> Filtere

[2021-03-30 10:09] sebastianha commented on #683
Funny, I yesterday thought the same, that it would be interesting to graph this data. I like the idea!

[2021-03-30 10:53] qwerty287 opened #687 "sort tracks in folders"
Hello,
it would be very nice if you could sort your tracks in folders, so you could find tracks easier.

[2021-03-30 20:09] dennisguse commented on #687
For what purpose? Do you keep the tracks all on the device?

[2021-03-30 20:10] dennisguse commented on #686
How should the back button behave in this case?

[2021-03-30 20:26] sebastianha commented on #686
I would suggest to go back to the screen  on the left.

[2021-03-31 06:43] qwerty287 commented on #687
Yes, I do (but I would be able to copy them to my computer, maybe I should do this).

[2021-03-31 19:03] racuna opened #688 "Can't connect with Amazfit Neo"
**Is your feature request related to a problem?
I have Gadgetbridge connected to Amazfit Neo with "3rd party realtime HR access" enabled. I opened OpenTracks settings, but in Bluetooth can't detect the watch. Am I missing something?

**Describe the solution you'd like**
Amazfit Neo doesn't have GPS, I wanted to merge data from Gadgetbridge (Steps, HR) with data from OpenTracks (GPS data)

**Descri

[2021-03-31 21:02] dennisguse commented on #688
It might be that you need to start the HR reading on the device first.

And then...
We tested the 3rd party realtime HR feature with a Miband3 and there the issue was that the device is not announcing it's sensor in its Bluetooth discovery responses. When asking it for HR it works. So, we added a workaround for Mibands.
We might need to do the same for the Amazfit Neo.
Could you check how the disc

[2021-04-01 12:16] racuna commented on #688
Is MIBand3 workaround compatible with MI Band 4? because I now tested with the Mi Band 4 of my wife and detected it pretty quick.

In the official Zepp app I enabled "Discoverable" and "Activity heart rate sharing", that worked :) thanks.

[2021-04-01 14:45] dennisguse commented on #688
The Miband4 might be working as well - but it was never tested by me.

The workaround is here: https://github.com/OpenTracksApp/OpenTracks/blob/ed5da55fbad4a87cb2e16d70029d3c0f9edbb621/src/main/java/de/dennisguse/opentracks/util/BluetoothUtils.java#L45
All devices that provide one of these service UUIDs in their discovery response are shown in the OpenTracks' settings dialog.

Here are some more d

[2021-04-01 14:47] racuna commented on #688
Thanks, this will detect steps as well? (to calculate running cadence)

[2021-04-01 17:45] dennisguse commented on #159
@rgmf This is fixed, right?

[2021-04-01 17:48] dennisguse commented on #463
All my above arguments are not valid anymore.
We could implement this - we would just need a test device.

[2021-04-01 17:48] dennisguse commented on #688
@racuna Nope, OpenTracks does not use step data.
It wouldn't be too complicated to built, but so far there was no real need.
And again: lack of testing devices.

We have an open issue for this: https://github.com/OpenTracksApp/OpenTracks/issues/463
But I am not sure, if we can get the step data from a smartwatch like the Neo.

[2021-04-01 17:52] racuna commented on #688
Fair enough.

just for nerdy running stuff https://www.polar.com/blog/what-is-running-cadence/

My brother is like 10x better at running than me, and he never cared about running technique, breathing, cadence and so on. He just runs.

[2021-04-01 17:57] rgmf commented on #159
@dennisguse Yes, it is.

[2021-04-01 17:58] #159 closed

[2021-04-01 18:26] christfried commented on #463
Wow I did not expect to hear something like this so soon. Great to hear!
A test device means that you would need a seperate phone that has a step counter and GPS? Are there still devices which lack that kind of functionality?

[2021-04-01 20:10] dennisguse commented on #463
I was actually thinking about separate sensors that are attached to the shoe and connected via Bluetooth.
https://fellrnr.com/wiki/Running_Sensors
https://www.bluetooth.com/specifications/specs/running-speed-and-cadence-profile-1-0/

Using the internal step counter of the phone would also be possible.
I actually did not think about this and I am not sure, if the accuracy will be high enough (as th

[2021-04-02 07:07] christfried commented on #463
This will definitely be the more accurate choice ... HOWEVER:

Most people using this app already got a step counter with them while tracking their acitivity and probably don't want to buy additional gear immediately. Even if the accuracy isn't the best, some data might be more accurate than no data at all (because of missing GPS). Does that make any sense ...?
Thank you for considering!

[2021-04-02 15:56] dennisguse commented on #98
According to the documentation this is not necessary (anymore).
It is likely a leftover from Android 1 or 2.

https://developer.android.com/guide/components/bound-services#java

[2021-04-02 16:06] #595 closed

[2021-04-02 16:15] dennisguse commented on #685
I guess, we cannot do anything about this.

[2021-04-02 16:15] #685 closed

[2021-04-03 13:27] #42 closed

[2021-04-03 14:58] rgmf opened #694 "Auto export weird bug"
**Describe the bug**
Read To Reproduce.

**To Reproduce**
1. Go to Settings.
2. Set a "Track export directory".
3. Set "Instant post-workout export" option (instantExportEnabled => True).
4. Unset "Track export directory". Now, instantExportEnabled still is True but disabled (gray out).
5. Record a Track, stop it => OT crashes.

**Screenshot**
![imagen](https://user-images.githubusercontent.com/48

[2021-04-03 15:18] #694 closed

[2021-04-03 16:03] dennisguse opened #696 "Crash in ChartFragment"
Found while testing #680, but not related to changes in #680.

I don't know how to exactly reproduce this failure, but _I guess_ that the ChartFragment is paused and then resumed.
The resume will trigger loading the data via TrackDataHub, but processing might not take place as all methods check `if (isResumed())`.
And therefore `clearTrackPoints()` might not be executing the data cleanup in ChartF

[2021-04-04 11:15] #388 closed

[2021-04-04 15:45] #678 closed

[2021-04-04 21:23] dennisguse commented on #681
Fixed in e09b04308c5d62173458e7f803d39a2ba33bab91

[2021-04-04 21:23] #681 closed

[2021-04-05 20:46] dennisguse commented on #667
I just briefly checked the GPSTest code (mainly GpsTestActivity).
They are registering multiple listeners for the LocationManager besides locations (e.g., antenna info, NMEA, GnssMeasurementsEvent).
I guess one of these additional things trigger the icon as the GPS hardware is accessed and starts doing something.

All these OpenTracks doesn't use - it only registers via `requestLocationUpdates`.
S

[2021-04-05 20:46] #667 closed

[2021-04-06 05:43] sebastianha commented on #667
Sounds reasonable, thanks for looking into it!

[2021-04-06 07:52] midros opened #698 "Activity icon"
Is there any way to add a new icon when you add a new activity?

I have added a new kayaking activity and I would really like a new icon for this type of activity

[2021-04-06 08:13] pstorch commented on #698
@midros do you have an icon already or do you know an existing icon which we can use or derive from?

[2021-04-06 08:25] midros commented on #698
@pstorch
I don't have one but I can look for one if you like.
What about the existing icons? Is there a certain icon pack used or somebody created them from scratch?

[2021-04-06 08:33] pstorch commented on #698
Some were already there from the previous project Google MyTracks, right @dennisguse?
Some newer ones were derived from them.

@midros if you have a good icon, we can use as a template, it would be nice. I can try to fit it into OpenTracks.
For me it is a bit difficult to distinguish icons for kayaking and similar looking ones like canoeing.

[2021-04-06 08:39] midros commented on #698
@pstorch
Nobody needs different icons for canoeing and kayaking (I hope)

I 'll try to find one similar to the ones already used and keep you informed

thanks a lot

[2021-04-06 09:19] midros commented on #698
@pstorch
maybe [this ](https://thenounproject.com/term/kayak/17483/) or [this ](https://thenounproject.com/term/kayak/552/) will do the trick?
they are public, with several sizes and fit nicely to the rest of the icons

[2021-04-06 10:04] dennisguse commented on #688
@racuna Could you actually use the HR from the Neo with OpenTracks?

[2021-04-06 11:48] pstorch commented on #698
Thanks, I'll have a look

[2021-04-06 13:35] racuna commented on #688
Yes, today I went for a run and OpenTracks was able to read the heart rate without any problems.

The only thing was that OpenTracks only recorded last 400 meters, but maybe that was my fault because I forgot to disable the MIUI battery "optimizations" after installed the app.

But next time I will tell.

[2021-04-06 15:00] dennisguse commented on #688
@racuna Nice!
Can you add the info about that the HR works for the Neo here: https://github.com/OpenTracksApp/OpenTracks/blob/main/README_TESTED_SENSORS.md

[2021-04-06 15:00] #688 closed

[2021-04-06 16:59] #457 closed

[2021-04-06 17:26] pstorch commented on #698
1.)

![Screenshot_20210406-191918_OpenTracks (Debug)](https://user-images.githubusercontent.com/5598124/113752836-b6130180-970d-11eb-9fdc-bf8567f1c02b.jpg)

2.)

![Screenshot_20210406-192156_OpenTracks (Debug)](https://user-images.githubusercontent.com/5598124/113752916-ccb95880-970d-11eb-865b-7967843d3d24.jpg)

Which do you prefer? I think I like the second a little bit more.

[2021-04-06 17:52] dennisguse commented on #698
Nr. 2 as it is also "flat" aka 2D aka non-3D :)

[2021-04-06 17:55] pstorch commented on #698
Only thing with No2: it has a helmet or a haircut. I can try to make a version with only a circle head, so it looks like the others.

[2021-04-06 17:56] dennisguse commented on #698
@pstorch I did not even notice this ;)

[2021-04-06 18:05] pstorch commented on #698
Yes, on a small screen it's barely visible.

Now without helmet:

![Screenshot_20210406-200247_OpenTracks (Debug)](https://user-images.githubusercontent.com/5598124/113757732-3ee06c00-9713-11eb-9eba-f8afb6d67fad.jpg)

[2021-04-06 18:54] midros commented on #698
I am impressed!

great

[2021-04-06 20:01] rgmf commented on #698
@pstorch it's great!!!

[2021-04-07 11:30] #698 closed

[2021-04-07 12:49] akanakis commented on #652
I would like to try to fix this issue, if no one else hasn't yet.

[2021-04-07 17:14] dennisguse commented on #117
I guess this is outdated, please re-open if still valid.

[2021-04-07 17:14] #117 closed

[2021-04-07 17:15] dennisguse commented on #125
@Bebarr Please re-open, if this is still an issue for you!

[2021-04-07 17:15] #125 closed

[2021-04-07 20:04] rgmf opened #703 "Intervals distance don't match with stats"
**Describe the bug**
The addition of all intervals don't match with total distance in stats.

I realized of this while I was testing #701 but it's not related with it. I guess this issue is because intervals are not considering the new types of track points (TrackPoint.Type).

I think the addition of all intervals were nearly the same that total distance in stats, weren't they?

I'm going to check

[2021-04-07 20:07] dennisguse commented on #703
Don't know ;)

Why not use the TrackStastistics via TrackStatisticsUpdater (similar to the charts)?
Then all computation/presentation is done this combination and we are consistently correct/wrong :)

[2021-04-07 20:11] rgmf commented on #703
Yes, I was thinking on it.

It has should been done like this... I'm going to try to do it like this.

[2021-04-07 20:20] dennisguse commented on #703
Is this related with the IntervalStatistics vs TrackStatistics?
If yes, then this "imprecision" also affects the voice announcements, right?

[2021-04-07 20:24] rgmf commented on #703
Yes, I think so. We are using IntervalStatistics for getting the current interval data to announce them.

[2021-04-07 20:29] rgmf commented on #703
It's strange because the distance should be exactly the same and I'm fairly sure that one day it was :thinking:

Anyway, it's a good moment to use TrackStatistics via TrackStatisticsUpdater :smile:

[2021-04-08 09:33] rgmf commented on #645
Maybe it could be improved with #703... I take this so I'll try to fix it together #703

[2021-04-08 15:00] dennisguse opened #704 "Reported via Google Play Store: NPE due to shared preferences."
i was introduced by #642 and should be fixed by #388.

Just adding it here for reference for now. No action needed.
[code]

[2021-04-08 15:01] dennisguse opened #705 "Reported via Google Play Store: crash while deleting"
Happened once; don't know why.

[code]

[2021-04-08 17:46] #669 closed

[2021-04-08 17:52] dennisguse opened #706 "Create object for Distance and for Speed (like Instant)"
At a lot of places in the code base, we do some computation/formatting for speed/distance (later also includes elevation) like metric vs. miles or converting it.

It would be very helpful to put this into separate objects.

Blocked by #703  (if work in progress)

[2021-04-08 18:05] dennisguse commented on #706
Duplicate of #679....

[2021-04-08 18:05] #706 closed

[2021-04-08 18:06] dennisguse commented on #679
Also affects altitude (may be considered a distance).

[2021-04-09 11:10] aha999 commented on #129
Lenovo P2, LineageOS 17.1 (Android 10), OpenTracks 3.16.0
OpenTracks can be updated, but not uninstalled, i'm also unable to uninstall [ring-client-android](https://github.com/savoirfairelinux/ring-client-android) that you said we should test for this issue from your [comment](https://github.com/OpenTracksApp/OpenTracks/issues/129#issuecomment-577038965).

[2021-04-09 15:49] rgmf commented on #703
@dennisguse  I've fixed this... but:

I don't understand very well an important detail. I have a very little track:
- 0.95 km
- 46 seconds

![image](https://user-images.githubusercontent.com/4819612/114205416-915f9980-995a-11eb-8c85-01d8cb30c1ba.png)

But those 46 seconds should be 49 seconds:
- First trackPoint (from database) has a time of: 1617571177713
- Last trackPoint (from database) has a t

[2021-04-09 16:16] dennisguse commented on #703
@rgmf That was fast!

This issue sounds like a bug.
Can you check what happens if you export and re-import the track?
It might be that the duration computation is slightly (still) slightly different while recording.

[2021-04-09 16:34] #98 closed

[2021-04-09 16:37] dennisguse commented on #129
@aha999 Can you compile yourself and try if removing `android:hasFragileUserData="true"` from the AndroidManifest helps?
We do not really need this for production release, but I need this for local test builds. So we could also remove it for production.

[2021-04-09 16:50] rgmf commented on #703
After export/import the track has:
- Total moving time: 46 seconds.
- Total time: 49 seconds.

![image](https://user-images.githubusercontent.com/4819612/114213074-d5569c80-9962-11eb-8d0b-1aa86716ca59.png)

So intervals computation through TrackStatisticsUpdater seem okay.

Intervals distance match with track stats imported/exported. There are always slightly differences between time and distance

[2021-04-09 17:21] dennisguse commented on #703
So, we have same trouble in the TrackRecordingService, as there shouldn't be a difference (at least not larger than rounding issues)...

@rgmf Lo mismo motivo funciona en Aleman :)

[2021-04-10 17:04] akanakis commented on #652
I'm really sorry, but for some personal reasons I can't get involve with the project right now. So I will unassign myself from this issue and let anyone else to fix it.

[2021-04-10 17:05] dennisguse commented on #652
@akanakis Don't worry!

[2021-04-11 09:41] dennisguse opened #709 "TrackStatistics are slightly off while recording"
Follow-up to #703.

When recording the TrackStatistics are not slightly different (e.g., duration) than the recorded TrackPoints suggests.
Exporting and importing leads to the expected results.

So it seems that the TrackRecordingService is doing something not correctly.

https://github.com/OpenTracksApp/OpenTracks/issues/703#issuecomment-816776783
https://github.com/OpenTracksApp/OpenTracks/issue

[2021-04-11 14:27] rgmf commented on #696
Same crash on IntervalStatistics:

[code]

So, I guess the bug is on TrackStatistics/TrackStatisticsUpdater, not in ChartFragment.

[2021-04-11 14:39] rgmf commented on #652
@akanakis if you can get involve in the future it would be great... we'd help you on everything you need ;)

Great to know people interesting on OpenTracks :D

[2021-04-11 15:07] dennisguse commented on #696
My current hypothesis is that there is a race condition in onResume.
In both cases (Chart+Interval), the TrackDataHub is resumed (triggering a complete reload) and the fragments ignore the `clearTrackPoints()` callback from TrackDataHub (to reset their TrackStatistics and compute it again).
i guess they ignore it, because the Fragments are sometimes not yet resumed while their parent activity alre

[2021-04-11 15:57] akanakis commented on #652
OK thank you very much!

[2021-04-11 19:26] sebastianha commented on #512
I just updated to the latest version and did an export and I personally do not like the new file names.

The reason is that the names begin with the ID which is more or less random. That makes it very hard to find the newest/latest recording.

Perhaps is makes sense to make the file name configurable or put the internal Number the first element of the file name. This would help.

[2021-04-13 00:40] abthediablo commented on #687
I would like this feature because maybe you want to separate tracks you recorded e.g. during your holiday from other tracks.

[2021-04-13 17:18] #670 closed

[2021-04-13 18:31] dennisguse commented on #679
Done.

[2021-04-13 18:31] #679 closed

[2021-04-13 18:46] dennisguse commented on #235
Regarding:

The code can handle this already.
We just have to change how we compute the values and not use zero as default.
Also we may need to make the pre-configured intervals relative to the starting point and not zero.

[2021-04-14 11:58] sebastianha opened #710 "Allow App Backup"
I just played around with seedvault as backup and it would not make a backup of open tracks and it shows: "App doesn't allow backup".

Is this intentional? I assume that it is not properly configured, see here: https://github.com/seedvault-app/seedvault/issues/81

[2021-04-14 16:13] dennisguse commented on #710
Yes, it is disabled on purpose: https://github.com/OpenTracksApp/OpenTracks/issues/346

If you want to enable this, you can build OpenTracks yourself.

[2021-04-14 16:13] #710 closed

[2021-04-14 16:25] sebastianha commented on #710
Perhaps it would make sense to enable this for fdroid? Because this is also used by seedvault which is the open source backup solution built in into lineage os.

[2021-04-14 16:56] dennisguse commented on #710
Sadly that would be an anti-feature (IMHO) as this allowBackup will (also) enable backups to Google on phones with Google Play. That sucks hard and therefore it is disabled in OpenTracks.
When Google changes this, we can enable it. Some more infos are in the Android documentation:

https://developer.android.com/guide/topics/data/autobackup

[2021-04-14 18:10] sebastianha commented on #710
Ok, thanks for the explanation!
That's really sad :(

[2021-04-15 19:30] mdkcore0 opened #711 "No voice announcements (microG)"
[opentracks_logcat.txt](https://github.com/OpenTracksApp/OpenTracks/files/6320741/opentracks_logcat.txt)

**Describe the bug**
This is happening on a clean install of a ROM without gapps (using microG). This was working on the stock image (Pixel 2 XL), but after moving to this gapps-free installation can't make voice announcements to work.

NOTE: Have RHVoice installed and it's working on OsmAnd~

[2021-04-15 20:05] dennisguse commented on #711
Disclaimers:
* this code is ancient ;)
* I have no TTS setup (so not testing on my side)

I checked the log and the TTS system is fails to init immediately (TextToSpeech.ERROR).
Don't know why it happens twice.
[code]

Finding:  your Android reports not TTS available for OpenTracks.

I noticed that you use Android11 (aka SDK30) and OpenTracks targets for SDK30.
According to the documentation, we m

[2021-04-15 23:47] mdkcore0 commented on #711
sure, will try later tonight, thanks!

[2021-04-16 04:25] mdkcore0 commented on #711
it works, now I have voice announcements again!!
[code]

can I open a PR with this fix?

[2021-04-16 05:49] dennisguse commented on #711
A PR  would be great!

[2021-04-16 14:14] mdkcore0 commented on #711
done, opened #713, all testes passed :)

[2021-04-17 04:49] sebastianha commented on #710
Sorry for still annoy you with this:

Wouldn't it be an option to allow backups but only when they are client side encrypted? Then also google should not have access even it gets backed up accidently.

https://github.com/seedvault-app/seedvault/wiki/FAQ#why-do-some-apps-not-allow-to-get-backed-up
https://developer.android.com/guide/topics/data/autobackup#define-device-conditions

[2021-04-17 08:04] rgmf opened #714 "Gain and loss don't work"
**Describe the bug**
Recording a track show dashes on gain and loss fields.

**Technical information**
 - Version 3.17 (F-Droid)

[2021-04-17 17:31] #711 closed

[2021-04-17 17:34] #714 closed

[2021-04-17 23:24] G-i-o opened #718 "ALTERNATIVE CRYPTOCURRENCIES FOR DONATIONS"
Thank You for providing this invaluable app for those who care about their privacy and opensource projects.

Thank You also for accepting (a) cryptocurrency for donations as it makes it much easier for some and also gives a choice to those who want to support alternative, somewhat more ethical, opensource and decentralized finance.

With this, I'd like to encourage you to add at least one or more

[2021-04-18 18:05] dennisguse opened #719 "MemoryLeak as TrackRecordingListeners are not unregistered"
**Describe the bug**
When we refactored to use listener to communicate the TrackRecordingService, we are only registering but __we never unregister__.
Therefore, we (a) keep objects in memory that are not used anymore until TrackRecordingService shuts down and (b) we inform objects about changes that are already finished.

__Update:__ should not be too bad as the TrackRecordingService is terminate

[2021-04-18 19:28] rgmf commented on #719
@dennisguse Are you working on it?

[2021-04-18 20:23] dennisguse commented on #719
@rgmf Not yet; took me some time too figure it out.
If you have some time go for it.
#720 contains a fix for the failing tests (observed this on locally) by refactoring the AnnouncementPeriodicTask.

[2021-04-19 17:34] dennisguse opened #721 "v3.17.0/v3.17.1: crash while using voice announcements"
Due to #719, using voice announcements leads to a crash.

Introduced in v3.17.0 and made worse in v3.17.1.

[code]

[2021-04-19 17:47] dennisguse commented on #710
@sebastianha a PR is welcome; if you want to work on this, just re-open this issue.
Back then I just chose the safest/simplest option.
I would just like to be sure that enabling backups is not limiting privacy.

[2021-04-20 09:21] RedRainHag opened #722 "newest bugs after update // voice announcements by distance not working"
- can't export my runs anymore. I get the message that their was an error for all the exports...
- I was using voice announcements for every 5km but it kept on announcing without pause. So I had to turn off the announcements.
- downgrade to older version viva Fdroid always resulted in an error that the installation was aborted.
- app crashed several times after the update to 3.17,

Thank you for y

[2021-04-20 15:40] dennisguse commented on #719
@rgmf I would have time to work today.
Did you do something here?

My plan:
* implement unregister from components
* Use WeakReference to keep reference in ServiceStatus
* Adding a RuntimeException in the service's onDestroy if listener is not empty (for testing)

[2021-04-20 15:41] dennisguse commented on #719
And the problem is actually described on Wikipedia: https://en.wikipedia.org/wiki/Lapsed_listener_problem

[2021-04-20 17:03] rgmf commented on #719
No, I don't have time until weekend.

The plan sound great. If you cannot do it I could do it next weekend.

[2021-04-20 17:06] rgmf commented on #719
Wow!! What a problem I introduced here :see_no_evil:

[2021-04-20 20:56] dennisguse commented on #722
Yes, the v3.17-series has some issue that we missed before release.

Don't know what the issue is; can share some more infos (best case logcat).

Tracked as #721; it is fixed and released as v3.17.3.
As of today, this is not yet available via F-Droid.

Do you have some error message for this?
Because it should be possible; not database changes were included.
So, it should just work...

Best guess

[2021-04-20 20:58] dennisguse commented on #721
Released as v3.17.3

[2021-04-20 20:58] #721 closed

[2021-04-21 06:09] RedRainHag commented on #722
Thanks for the reply!

To the downgrade I can't tell you much, I just get the message from F-Droid that the installation was aborted due to an unknown error and thats it..

where can I get to the logcat? Not sure if that one still exists since I deinstalled and reinstalled the program after that...

[2021-04-21 08:12] badger40 opened #723 "Bluetooth speed sensor"
**Describe the bug**
Using a bluetooth speed / cadence sensor (model: Coospo bk467) with GPS turned off. The sensor connects to opentracks and records distance but not 'move time' 'max speed' 'avg move speed'
![Screenshot_2021-04-21-08-53-58-294_de dennisguse opentracks](https://user-images.githubusercontent.com/82934222/115518577-3abe5d80-a280-11eb-9965-0663529ba583.jpg)
[Coopo bk467 Sensor:](htt

[2021-04-21 17:51] dennisguse commented on #723
That is not implemented yet; OpenTracks only stores data (and does the computation) when a GPS signal is received. And if press stop/pause, but that does not go too well with the overall statistics.
Otherwise just the sensor data is shown.

More details can be found here: https://github.com/OpenTracksApp/OpenTracks/issues/500

@badger40 Can you open a PR and add the sensor you used to this file: h

[2021-04-21 17:51] #723 closed

[2021-04-21 17:54] dennisguse opened #724 "v3.17.0: NPE in voice announcements when using pace"
Reported via GooglePlay

[code]

[2021-04-21 17:57] #724 closed

[2021-04-21 17:59] dennisguse commented on #722
@RedRainHag
regarding logcat.
You need to enable developer mode on your device: https://developer.android.com/studio/debug/dev-options
And then you can use AndroidStudio to get the logcat: https://developer.android.com/studio/debug/am-logcat

[2021-04-22 05:45] sebastianha commented on #710
I am sorry but my last app development was long time ago. Perhaps at some time in the future I will again get into it. I would be more than happy to create a PR.

[2021-04-22 07:38] Crashillo opened #725 "Intervals speed unit wrong"
**Describe the bug**
The speed unit displays **kp/h** which is wrong, at least in non english-speakers countries. The common abbreviation is **km/h**. The unit appears to be ok elsewhere in the app, but the interval segments screen.

**To Reproduce**
1. Go to any track
2. Click on _intervals_ tab
3. See error

![photo_2021-04-22 09 29 32](https://user-images.githubusercontent.com/817526/115674013-

[2021-04-22 07:52] #725 closed

[2021-04-22 07:53] rgmf commented on #725
@Crashillo thank you ;)

[2021-04-22 09:46] malteger commented on #512
I second the suggestion made by @sebastianha.

Currently exported files are sorted by UUID as it is first in the name, but date, track number or name would be better in my opinion, as the UUID is of little use to me when directly accessing the files. So I would suggest swapping the positions of the track name and the UUID in the exported file name.

[2021-04-22 09:54] malteger opened #726 "Per track stats always show pace on opening a track"
**Describe the bug**
On opening a track always the pace is displayed and never the speed, regardless of the preferred rate setting

**To Reproduce**
1. Open a track
2. rate is displayed as pace
3. change view to intervals
4. change back to stats
5. speed is now displayed as km/hr or pace depending on setting

**Technical information**
 - Device: Pixel 4a
 - OS: LineageOS18.1
 - Version v3.17.1

[2021-04-22 10:01] malteger opened #727 "Back arrow on about screen is not working"
**Describe the bug**
Back arrow on about screen is not working, but going back via system back button is working fine

**To Reproduce**
1. Go to settings
2. Open 'About OpenTracks'
3. Click on back arrow on top left
4. Nothing happens

**Technical information**
 - Device: Pixel 4a
 - OS: LineageOS18.1
 - Version v3.17.1

[2021-04-22 16:18] dennisguse opened #728 "Check lifecycle of activities"
Check the lifecycle of all activities that the lifecycle is handled correctly
* [ ] onCreate: inits all objects (calling onCreate again will reset the object)
* [ ] onDestroy: set all attributes to null
* [ ] onPause
* [ ] onResume
* [ ] onDestroyView

[2021-04-22 16:18] dennisguse commented on #728
TrackListActivity misses at least:
[code]

[2021-04-22 16:23] #727 closed

[2021-04-22 16:23] dennisguse commented on #727
Nice finding!
Thanks :)

[2021-04-22 16:26] dennisguse commented on #710
@sebastianha in this case it is more digging through the documentation.
The rest is just configuration.

[2021-04-22 18:12] dennisguse commented on #719
I did some digging and the situation is not as bad as it could be.

Findings:
* nobody is unregistering from ServiceStatus
* ... but when TrackRecordingService is destroyed all reference are cleared
* we do not leak too much memory as only the Activity+TrackDataHub classes are leaking
  (not any large objects like UI)
* TrackDataHub is registering for recordingTrackId, but I don't understand why.

[2021-04-22 18:43] dennisguse commented on #719
Now the solutions:

1. implement unregister on TrackRecordingServiceStatus via TrackRecordingService
  + easy to do
  - TrackRecordingService might not be available when we want to unregister (we are connecting to it via a ServiceConnection); and it might be dead?
   (is this case a problem?)
2. Distribute status changes via LocalBroadcast (initial status via TrackRecordingService as it is now hap

[2021-04-22 20:34] rgmf commented on #719
Option 2) looks good, but isn't LocalBroadcast deprecated in Android?

[2021-04-23 17:42] dennisguse commented on #719
@rgmf you are right.
Then I guess we may rather use:

4. LiveData

[2021-04-23 17:42] rafaelmuynarsk opened #730 "Android 11 doesn't record trips when screen is off"
**Describe the bug**
After my phone updated to Android 11, OpenTracks is not updating location when the screen is off. I know a little of Android development too and tried to fix it myself. However, I didn't manage to fix it, on Google's official documentation they say that on Android 11 we need to request the permission `ACCESS_BACKGROUND_LOCATION` separately in order to access the location in ba

[2021-04-23 18:13] rgmf commented on #730
I don't have a phone with Android 11 but I've tried to reproduce the issue on AVD and I couldn't do it. I don't know if we can trust on AVD for these things.

Have you disabled battery optimization for OpenTracks on your phone? Other users have had problems with that on other Android's versions:

Do you think it could be related to these?

https://github.com/OpenTracksApp/OpenTracks/issues/177

ht

[2021-04-23 18:48] rafaelmuynarsk commented on #730
I don't think they are related... I'm aware of the battery optimization settings and that I need to "Allow all the time" the location permissions:

![Screenshot_20210423-154016_Settings](https://user-images.githubusercontent.com/44415096/115916283-fe8b2880-a44a-11eb-9f39-38ea67525af4.jpg)
![Screenshot_20210423-153852_Permission controller](https://user-images.githubusercontent.com/44415096/1159162

[2021-04-23 19:00] rgmf commented on #730
So it seems other issue like you point out.

I cannot to figure out what the issue is because I cannot reproduce the issue from an AVD, sorry. I hope someone here can help you ;)

PS/ It's the first time I see "Allow all the time" for OpenTracks.

[2021-04-23 19:02] rafaelmuynarsk commented on #730
Thanks

The "Allow all the time" appears after you insert the line `  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />` on the manifest file. By default it doesn't have it... But I tried that to see if it would solve the issue.

[2021-04-23 19:22] dennisguse commented on #730
It should not be ACCESS_BACKGROUND_LOCATION as we are starting a foreground service and therefore only need the foreground permission.
(Note: we should add a comment in the AndroidManifest.xml)

So, I guess it is some kind of powersave setting.
Is the battery saver enabled?
(or what is the battery icon in the status bar on the first screenshot)

@rafaelmuynarsk Nice report by the way!

[2021-04-23 19:50] rafaelmuynarsk commented on #730
@dennisguse Thanks! You're right... The powersave setting was enabled and I didn't realize it. After turning it off the location continues updating after turning off my screen.

My mistake, the issue is solved now. :)

[2021-04-23 20:14] dennisguse commented on #730
Only partly as the powersaving mode is an actual issue.
So it might be great, to check if powersaving is enabled (and therefore GPS is not used) and warn the user.

i guess #482 is related.

[2021-04-25 06:24] Papipio opened #732 "Recording problem"
Bonjour,

I like very much OpenTracks with offline OSM Dashboard maps, but :

1 - It is impossible to record correctly a trace, some portions are often missing, even recording is OK with AllTrails running simultaneously (I prefer OpenTracks !).
I checked all parameters, they are the same for both apps (no restriction for battery usage).
What can I do for having OpenTracks recording correctly ?

2

[2021-04-25 11:55] xxxxme opened #733 "Starting gps takes longer in 3.17.1 than 3.16.0"
With version 3.17.1 (F-Droid) on LineageOS 16.0 on an LG H932, starting GPS and waiting for a better signal takes a fair bit longer than on 3.16.0. I'm in the same physical location.

[2021-04-25 12:44] dennisguse commented on #733
Can you try this again?
Naively, there were no changes that might cause this.

[2021-04-25 13:21] #726 closed

[2021-04-25 15:35] rgmf commented on #705
Reproduce:
1. Delete an activity.
2. Move quickly to another app.
3. Wait for a while.
4. Back to OpenTrack that have finished the deleting.
5. And you will see the crash.

[2021-04-25 18:51] pstorch commented on #732
1. Maybe related to bad GPS Signal. Check setting GPS Accuracy. If accuracy is worse, then OT doesn't record track points.
2. You can move the map already and if a new track point of OT is received, the map centers on that position. There is no way for past tracks. OSMDashboard doesn't have GPS permission itself.
3. maybe @dennisguse or @rgmf have some input here
4. There are several different map

[2021-04-27 17:54] #705 closed

[2021-04-27 18:05] rgmf opened #735 "Implement deletion track according to Android lifecycle"
**Is your feature request related to a problem? Please describe.**
Follow-up #734.

Read comment: https://github.com/OpenTracksApp/OpenTracks/pull/734#issuecomment-826386091

Basically we are using a Thread that will update UI if Activity is started/resumed. We currently have a collateral issue: when user tap back button while track is deleting then the ActivityList show the track already delete i

[2021-04-28 15:46] rgmf commented on #732
About 3) A delay between the different sentences would be good. About French sentences: @Papipio if you know how to translate them and you are French would be nice if you could add them.

[2021-04-28 17:21] rgmf commented on #735
I think the best solution should be a service so the TrackListActivity can bind to it and receive delete result by the service. But I have some doubts:

TrackListActivity will has to try to bind to the service. Can this be a problem? I mean, every time TrackListActivity is resumed or started it'll has to check if delete service is running to bind to it.

@dennisguse do you think that can be a prob

[2021-04-28 17:54] dennisguse commented on #732
Regarding 3) I guess the issue with the delay is that we actually do not have sentences there - at least they are not separated by a "."; and it might be that this differs by translation.
French and English do not have punctuation character in the current translations.

(Translations are already available in French)

[2021-04-28 18:11] dennisguse commented on #735
Don't know - but I guess that won't be a (big) problem.
One data point from TrackDataHub: it was always trying to bind the service until recently.

Can we somehow get rid of TrackDeleteActivity by moving this to a separate service?
And I guess only TrackListActivity would need to check the progress - assuming that TrackRecordedActivity triggers deletion and then finishes. If TrackListActiivty then

[2021-04-28 19:26] rgmf commented on #735
Yes, that's the idea.

[2021-04-29 06:20] dennisguse commented on #735
@rgmf Forgot: i am working on #736 (memoryLeak/liveData - hopefully done until the weekend) and this might create some conflicts with this issue.

[2021-04-29 07:35] rgmf commented on #735
@dennisguse okay, then I guess it'll be better to wait.

[2021-05-01 16:48] dennisguse commented on #724
Released in v3.17.3

[2021-05-02 16:53] Fregf commented on #722
This bug is still present for me in 3.17.3 currently in f-droid: I have it set to give announcements every 1 km, but it was constantly announcing.

[2021-05-02 17:11] dennisguse commented on #722
@Fregf by just a quick look: yes that might be broken as well due to the distance refactoring.
I will check this during the week; it will take some time as we have very little test coverage for the announcements.

[2021-05-03 20:13] #719 closed

[2021-05-05 08:11] hg-runs commented on #593
Just FYI:
Using this version of OpenTracks the Polar H10 all of sudden is recognized on a Huawei P40 lite.
But not only the HRM but also a GARMIN speed sensor 2 and a cadence sensor 2 (which weren't working with any other previous versions of OpenTracks).

Neither sure what has been changed nor had a look at the repository code. Fitotrack and RunnerUp are still not recognizing the Polar H10
![Wire

[2021-05-05 10:02] dennisguse commented on #593
@hg-runs Great!
i would really love to know why as I don't recall any change.
Whatever - glad that it is working and really cool that you use all these sensors!

[2021-05-05 10:45] #653 closed

[2021-05-05 10:46] dennisguse commented on #733
Please re-open if this is still an issue.

[2021-05-05 10:46] #733 closed

[2021-05-05 10:46] dennisguse commented on #718
Which one?

[2021-05-05 15:59] #722 closed

[2021-05-05 16:01] #224 closed

[2021-05-05 16:05] dennisguse opened #745 "While recording: ChartDiagram drawing is not correct when a new TrackPoint is added"
Likely introduced in https://github.com/OpenTracksApp/OpenTracks/commit/7be4ac436c3f6a41d57ca1aaa555088608ce9579

This happens while recording and being on a diagram tab.
If a new trackpoint is received, the diagram updates to this:

![Screenshot_20210430-173443_OpenTracks_(Debug)](https://user-images.githubusercontent.com/4819612/116725393-21d14d00-a9e2-11eb-95db-4e7f6bbd435f.png)

_Originally po

[2021-05-06 05:55] dennisguse commented on #703
@rgmf This is fixed, right?

[2021-05-06 05:56] dennisguse commented on #704
We fixed #388, so this should not an issue anymore.

[2021-05-06 05:56] #704 closed

[2021-05-06 08:21] rgmf commented on #703
@dennisguse no, it's not. The potential bug looks like is in TrackRecordingService: https://github.com/OpenTracksApp/OpenTracks/issues/703#issuecomment-816833733

[2021-05-07 05:47] Avanieve opened #750 "My mistake. Please delete."

[2021-05-07 05:52] dennisguse commented on #750
No worries.

[2021-05-07 05:52] #750 closed

[2021-05-08 12:27] dennisguse commented on #745
Introduced in: https://github.com/OpenTracksApp/OpenTracks/commit/887d4700d4f8fbf10563834e7498388a3213007e

TrackDataHub needs use the same TrackStatisticsUpdater for the whole track.
When receiving updates (while recording) a new one was created for every received TrackPoint resulting in wrong statistics and these weird diagrams. Did not affect StatisticsRecordingFragment as this get the TrackSta

[2021-05-08 12:53] #745 closed

[2021-05-08 17:31] dennisguse commented on #224
Released in v3.18.0

@gdt Have fun :)

[2021-05-09 06:49] dennisguse commented on #719
Released in v3.18.0

[2021-05-09 06:49] dennisguse commented on #722
Released in v3.18.0

[2021-05-09 16:22] rgmf opened #753 "Exported / Imported moving time with pause."
**Describe the bug**
I recorded a long track and moving time not match after export/import it.

I figured it was because I paused the activity when we took a rest in the middle of the route to have a cafe. The difference between times looks like the time we took in that rest. But I've not been able to reproduce it.

The rest of stats are right.

![image](https://user-images.githubusercontent.com/4

[2021-05-09 16:44] dennisguse commented on #753
Also, the AVG SPEED is off.

Assumption: KML/KMZ

Possible things that might not work:
* KML exporter does not export PAUSE_MANUAL correctly
* KML importer does not import PAUSE_MANUAL correctly
* (unlikely) TrackStatisticsUpdater does something wrong

All these things do not have that good a test coverage.
We might start by making ExportImportTest reproducible, i.e., using fixed and useful timest

[2021-05-09 17:06] rgmf commented on #753
I was using GPX but I've tried exporting/importing in KML and it works well.

This issue only affects GPX files. Strange... I'll try to catch it.

Here mountains are not very high but there are a lot of mountains :grinning:

[2021-05-09 19:56] dennisguse commented on #753
And I guess, what it is #597 that is tracking this missing feature.

[2021-05-09 20:08] dennisguse commented on #463
@christfried thanks for the feedback.
I also checked with Trail-Sense https://github.com/kylecorry31/Trail-Sense (newest feature is step counting) and it works quite well.

Sadly, lack of time at the moment and too many open topics.
Adding BLE would be easier as we have already everything in place for this.

[2021-05-11 10:47] vsevjednom-cz opened #756 "Elevation gain/loss not works"
Your code is amazing but:

There is elevation gain/loss value during measure but without values (- m). I don't know why.

**To Reproduce**
1. Tap to "start".
2. Look at the elevation gain/loss. There is still only "- m".

**Technical information**
 - Device: Honor KSA-LX9
 - OS: Android
 - Version 9.1.0

[2021-05-11 19:57] dennisguse commented on #756
I guess your telephone does not has a barometric sensor to measure pressure.
Using GPS altitude data is not (yet) implemented: #619

[2021-05-11 20:02] dennisguse opened #757 "Search is not working from TrackListActivity"
Since July 2020....

Search from TrackListActivity is not working as the search action is only triggered if the menu item is shown as an action.
However, only two actions can be present and aggregated stats + GPS are more important.
This would fix the issue, but then search is shown instead of GPS status.
[code]

[2021-05-11 20:26] dennisguse commented on #757
I am not really sure.
I really like that the aggregated stats are shown directly (by the way nice work!) as well as the GPS status.
It seems as if the search is not used that often or otherwise people would have informed us.

I see two options:
* replace the Toolbar with something that looks similar but allows for more icons
  (probably kind of complicated, but we waste a lot of space there)
* imp

[2021-05-12 19:29] vsevjednom-cz commented on #756
I understand. Is possible to add "Show/hide elevation gain and loss" to the settings?

[2021-05-12 21:01] dennisguse opened #760 "Replace "default activity" setting"
In the settings, one can select the default activity to be used for all subsequent recordings.
While recording, one can then change the activity for this recording.

i have the feeling this can be improved by just using the activity of the previous recording.
This might be nice, if a user goes cycling sometimes in a row and then goes hiking for several trips.
I guess most users won't go to the set

[2021-05-12 21:05] dennisguse commented on #173
New concept:
While recording, the time and the update trigger is handled by the TrackRecordingService using LiveData to inform the StatisticsRecordingFragment and the ControllerFragment.
It can send the most recent TrackPoint and the TrackStatistics every 1s (not if something changes).

[2021-05-12 21:08] dennisguse opened #761 "Make ExportImportTest completely constant"
The timestamps in the ExportImportTest are dynamic making the test data change for every execution.
Would be nice to use constant ones - easier for diving into problems.

[2021-05-12 21:09] dennisguse opened #762 "Disconnection a cycling speed sensor: speed/distance not counted."
When disconnecting from a cycling speed sensor, OpenTracks should use the GPS data for speed and distance.
So, far one has to start a new recording.

[2021-05-12 21:13] dennisguse opened #763 "Disable voice announcement preference on phones without TTS"
If there is no TTS installed, the voice announcement preference should be disabled.

[2021-05-13 06:02] dennisguse commented on #756
@vsevjednom-cz At the moment, you  can only hide the altitude/elevation completely (absolute, gain/loss).

[2021-05-13 08:59] vsevjednom-cz commented on #756
Yes, I know. But hide elevation gain/loss should be the solution for mobile phones without barometric sensor 🙃.

[2021-05-13 09:27] dennisguse commented on #756
Yes, but no :)
Getting gain/loss from GPS values (with smoothing and some magic) is the actual solution aka #619.
I don't wont to spend time on a workaround.
And the UI code is kind of complicated (less clean than it should be) - I am just reworking some part of the internal data transfer to avoid complexity.
It is a process....

TL;DR: If you want this now, go ahead.

[2021-05-13 16:39] vsevjednom-cz opened #769 "Automatic upload GPX file to the FTP server"
**Describe the solution you'd like**
I need upload GPX file to my FTP server at the background after finishing a track (only at the wifi ideally).

**Describe alternatives you've considered**
I must export track to the external storage and upload file to FTP server manually. The reason is simply: I created a website feature with OpenStreetMap and OpenLayers.
This is a solution for FTP upload at th

[2021-05-13 18:02] dennisguse commented on #769
_Disclaimer:_ `android.permission.INTERNET` is out of scope due to privacy/security reasons: OpenTracks cannot send data anywhere; this is completely at the user's liberty using the share feature or something like that.

You want an automatic upload of __all__ recorded tracks when connecting to a Wifi, right?
You may use any other app for this as OpenTracks can export a track after finishing recor

[2021-05-13 18:24] vsevjednom-cz commented on #769
You're right. It needs authentication. I have to do it for myself.

[2021-05-13 18:24] #769 closed

[2021-05-15 03:25] G-i-o commented on #718
Hello Dennis.

If you asked me, I'd add PIVX, Cardano, Polcadot and Ethereum 2 when is out (should happen around next year).

They are all environmentally sound and PIVX adds the privacy too (but it's not as well known as the others). So, I would add all the above or at least one among them.

Thank YOU!

[2021-05-15 09:54] sebastianha commented on #757
I just stumbled upon this problem so here is a search user!

[2021-05-15 12:09] dennisguse commented on #757
@sebastianha Cool!
If you have the time, you may test: https://github.com/OpenTracksApp/OpenTracks/pull/772

[2021-05-15 13:53] sebastianha commented on #757
Hi, I have currently no build environment available, sorry. But I will test as soon as the next release is ready. Or is there any auto dev build available?

[2021-05-15 17:04] dennisguse opened #774 "GPX import speed (compatibility)"
FitoTrack and OsmAnd may export speed without a prefix.
OpenTracks will not import these values (requires the actual prefix and it must be `gpxtpx:speed`).

[code]

PS: OpenTracks' GPX/KML parser are slightly antique...

[2021-05-15 17:15] dennisguse opened #775 "Importing GPX without <speed>: speed not shown in charts"
When importing GPX without `<speed>`, the charts do not show the speed.
But the avg speed and everything is computed.

Likely a bug in the ChartPoint creation (getting data from TrackPoint instead of TrackStatistics?).

Reported via mail.

[2021-05-16 06:34] #763 closed

[2021-05-16 06:35] #762 closed

[2021-05-16 06:47] dennisguse opened #776 "Show warning if powersave mode is/ get's enabled"
Enabling powersaving mode usually disables the GPS and thus no track is recorded.
At least, we should show a warning to the user.

_Originally posted by @rafaelmuynarsk in https://github.com/OpenTracksApp/OpenTracks/issues/730#issuecomment-825883208_

[2021-05-16 06:47] #730 closed

[2021-05-16 06:49] dennisguse opened #777 "Make voice announcement speed configurable"
The voice announcement speed is hardcoded to `0.9`.
Let's make it configurable.

Follow-up to https://github.com/OpenTracksApp/OpenTracks/issues/732#issue-866927630

[2021-05-16 06:49] #732 closed

[2021-05-16 06:50] #430 closed

[2021-05-16 06:59] dennisguse opened #778 "Add tests for GPX and KML importer"
We have no test coverage for the GPX and KML importer (besides ExportImportTest), but we need this as the code needs to get refactored and it is hard to figure out what kind of data we support.

* [ ] GPXFileTrackImporter
* [ ] KMLFileTrackImporter
* [x] (bonues) refactor both importer, so they don't inherit from AbstractFileTrackImporter, but use the same class for just creating the track (not be

[2021-05-16 12:35] #757 closed

[2021-05-17 17:39] rgmf opened #779 "All sql operations out of main thread"
**Is your feature request related to a problem? Please describe.**
There are sql operations running on the main UI thread. In most cases there are not problems but they should be done in other threads.

**Describe the solution you'd like**
Every method in `ContentProviderUtils` return a `LiveData` and the rest of components can observe them to get the results. An example:

In ContentProviderUtils:

[2021-05-17 17:45] #735 closed

[2021-05-17 18:32] mega-stoffel opened #780 "Continue Track does not work reliable"
**Describe the bug**
I usually start a recording at the beginning of the day when I leave the house and then I just stop this record and just "continue" it, whenever I'm back on the bike. Since the last version (got it via f-droid) it looks like this continue-function is not working reliably anymore.
When I hit "continue" I just put the phone in my pocket. And now I found out, that the app is some

[2021-05-18 00:06] abthediablo commented on #780
I can reproduce the issue with Samsung Note 9 and Android 10.

[2021-05-18 09:39] gordonel opened #782 "Topeak PanoBike Heart Rate Monitor: needs some initial setup"
**Describe the bug**
When Topeak PanoBike Heart Rate Monitor is paired to OpenTracks, it defaults to a "closed" sensor state, which prevents the sensor from transmitting any data. Apps like [IpSensorMan](https://play.google.com/store/apps/details?id=com.iforpowell.android.ipantman&hl=en_US&gl=US) can send the "Open" signal to the sensor, which eventually gets the sensor into a "tracking" state whe

[2021-05-18 09:39] gordonel commented on #782
I'm not much of a dev myself, but I'll be happy to help troubleshoot this if you tell me how

[2021-05-18 12:59] rgmf commented on #696
I got the same error importing a track recorded with other device in OpenTracks.

Reading the KML file I see this:
[code]

[2021-05-18 14:38] dennisguse commented on #780
Doesn't sound too good, but I did not fully understand what kind of problem you have.

1. Are you pausing a track (via pause button)?
2. ... or are you resuming a track (via context menu from a recorded track)?
3. Is the notification shown (should be there while recording)?
   (if it is not there OpenTracks is not recording / keeping GPS fix while paused)
4. What was the last working version (that

[2021-05-18 14:45] gordonel commented on #782
@dennisguse I'll record a screengrab once I have a minute.

The problem is that I have to open the sensor in another app for it to work at all. I can pair the sensor just fine in OpenTracks, but unless I send the "open" signal to it via IpSensorMan, it won't work

[2021-05-18 15:14] gordonel commented on #782
@dennisguse okay, here's the recording.

https://user-images.githubusercontent.com/45173186/118676713-4dd33780-b804-11eb-83df-c1800fa57455.mp4

From what I gather, IpSensorMan runs some sort of a service that makes the sensor discoverable and allows many apps to access it simultaneously. What's weird is that I tried a lot of apps and IpSensorMan is the only one that can talk to the sensor and make

[2021-05-18 16:27] gordonel opened #783 "Add support for BLE continuous blood glucose monitors"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I'd like to see CGM's supported in OpenTracks on the same level as other BLE sensors

**Describe alternatives you've considered**
Proprietary manufacturer-written apps (no-go for me)

**Additional context**
CGMs are entering the world of high-intensity training monitors. Companies like [Supe

[2021-05-18 19:17] rgmf commented on #780
@dennisguse I've not been able to reproduce it (resume crash). I've tried with two phones: Android 9 and Lineage 17.1. And also with AVD with Android 10.

We would need some logs from @mega-stoffel and/or @abthediablo... I don't know if it's feasible.

PS/ If issue would triggered every once in a while I'd bet the issue is the #696 one :thinking: I've stumbled upon this a couple of times for last

[2021-05-18 20:09] dennisguse commented on #783
Adding a sensor is a a lot of (straight) forward work (only getting data from the sensor, no fancy calibration or such things).
Only requirement: the sensor provides a BLE profile.
See https://www.bluetooth.com/specifications/specs/

Actual task:
* [ ] get info how to parse the data and the service UUID
* [ ] add a column to the TrackPoint table to store the data
* [ ] add a preference to select a

[2021-05-18 20:20] dennisguse commented on #782
i guess, the sensor needs some (non-standard) initial setup before it sends data (send a message to the sensor).
Gadgetbridge is doing something similar to get HR data from some smartwatches (or you have to start a workout from the smartwatch even).

You may check with with either IpSensorMan or the manufacturer of this HR sensor.
To be honest: it is probably not worth the time to implement this a

[2021-05-18 21:04] dennisguse commented on #779
This also fixes:
[code]

[2021-05-18 23:18] mega-stoffel commented on #780
Hej!
1. No, I don't use pause
2. Yes, I usually stop the track with the stop button on the bottom right and quit the app afterwards.
3. Not sure, since I just put the phone in my pocket. But I will take care, now.
4. I get my updates via f-droid and would say, the previous version 3.17.3(?) was not behaving like this. I'm running 3.18 now.
5. It doesn't happen every time, sorry. Just today I tried

[2021-05-18 23:51] gordonel commented on #782
So normally, sensors just broadcast the data and OpenTracks doesn't do any set up/ping/whatever?

[2021-05-18 23:53] gordonel commented on #783
What tools do you usually use to figure out if the sensor provides a BLE profile and get raw data?

[2021-05-19 01:01] abthediablo commented on #780
I had a little cycling trip today and using OpenTracks to record the distance of the current month. Beside I am using 4 other GPS-Apps, which are working fine, so I am sure it is not a problem concerning the android settings e.g. power saving.

So when I am start/continue recording the track then everything is fine. But at the following situations it seems that the app crashes / stops in the backg

[2021-05-19 05:46] dennisguse commented on #599
And OutOfMemory in CI is back again.

[code]

[2021-05-19 15:25] dennisguse commented on #782
@gordonel
Actually no.

After connecting and discovering service, we subscribe for updates on this specific characteristics by writing a specific value there.
The characteristics is the "variable" (aka data) we would like to get informed about (different one per sensor type).
One could also just get the data from characteristics (pull style), but that would be a waste of energy.

The responsible c

[2021-05-19 15:30] gordonel commented on #782
1. Would pull style be worth trying a solution for this particular sensor?
2. Maybe it's worth implementing support for the pull style as an optional advanced setting? The user could choose whether or not to pull, pull once then listen or pull always

[2021-05-19 15:33] dennisguse commented on #780
@abthediablo I can confirm this one; it is already fixed but not yet released.
I should be fixed by this commit: https://github.com/OpenTracksApp/OpenTracks/commit/18dd1de1f9c3355cc01c0efd5b34728f0b69f714
... but is not yet released.
It was a mistake in lifecycle handling that I introduced.

@mega-stoffel not yet sure if it is the same problem.

@rgmf Anything blocking us from releasing v3.18.1?

[2021-05-19 15:37] dennisguse commented on #782
Technically pull is possible, but it is not BLE style.
And the effort within OpenTracks is considerable as we need to handle mulit-hreading for this.

And the issue might be that the sensor is not reporting any data without some specific treatment.
Or only the subscription needs to be done differently.

... so pull might not even fix the problem.

[2021-05-19 15:40] gordonel commented on #782
Okay, so to stop speculating and figure out how to make OpenTracks work, I need to figure out why this HRM needs activation in the first place, I guess. I'll continue researching and present my findings

[2021-05-19 15:41] dennisguse commented on #783
Good starting point:
* BLExplorer (crashes on newer Android) https://f-droid.org/en/packages/org.ligi.blexplorer/
* bluetoothctl (linux command line)

Alternative while developing: debugging within OpenTracks
You could just change the service UUIDs of one of the working sensors ;)
(if you know what your sensor is doing)

[2021-05-19 15:43] rgmf commented on #780
@dennisguse go ahead!

[2021-05-19 15:51] dennisguse commented on #696
@rgmf This crash cannot happen anymore in ChartFragment as the TrackDataHub nowadays computes the TrackStatistics.
And also for IntervalStatistics I don't see the potential for this crash (anymore).

... but I am afraid this https://github.com/OpenTracksApp/OpenTracks/issues/696#issuecomment-843149218
Should we move this to a new issue?

[2021-05-19 16:10] rgmf commented on #696
I think it's related because that kml file is from a track that crashed when I was biking. In other way it's quite difficult to reproduce.

I always export from a device to another device so I'll be careful of that, it's not necessary to move it. I hope it's fixed too.

[2021-05-19 16:36] #173 closed

[2021-05-19 17:11] dennisguse commented on #780
@abthediablo @mega-stoffel
If you have some time for testing, attached is v3.18.1 (PlayStore releases, can be installed parallel to F-Droid version).

[OpenTracksUpstream-releasePlayStore.zip](https://github.com/OpenTracksApp/OpenTracks/files/6510572/OpenTracksUpstream-releasePlayStore.zip)

[2021-05-19 17:38] gordonel commented on #782
Okay. I think I figured it what IpSensorMan does using nRF Connect and got a bpm readout. The trouble is I can't find what's exactly missing in the code as it has all the UUID and settings needed to retrieve data. Do you see something I'm missing?

https://user-images.githubusercontent.com/45173186/118858610-058a4700-b8e2-11eb-9f7d-8b197a3252d9.mp4

[2021-05-19 21:48] abthediablo commented on #780
Just installed it - will try it tomorrow on my way to work.

[2021-05-20 11:59] gordonel commented on #782
I tried grabbing logs from the app via logcat and grepping them afterwards to search for bluetooth-specific lines and this is what I found. Let me know if you need more context, but what I did in this session was:
1. Launch OpenTracks
2. Pair the HRM
3. Start an activity and let it run for 2 minutes
I didn't get the bpm reading
[code]

[2021-05-20 12:18] gordonel opened #786 "Add sensor battery level warnings and readouts"
**Is your feature request related to a problem? Please describe.**
I'd like to be notified if it's time to charge my devices or replace the batteries in advance.

**Describe the solution you'd like**
When starting an activity, OpenTracks should read the battery level if available and notify the user if it falls below a user-specified level. Also, the app can provide convenient readouts in the noti

[2021-05-20 14:59] dennisguse commented on #782
What I

[2021-05-20 15:38] gordonel commented on #782
No, but I can try bluetooth snooping if you point me towards the right resources. As a mitigation, would it be possible to bump the timeout to something like 360 seconds and log how much it actually takes? I'll try to do it on my own tomorrow 'cause I got to do some work, but if you can make a branch I could build off of faster, that would be greatly appreciated 🙏🏻

[2021-05-20 19:29] mega-stoffel commented on #780
yesterday I was on the road again and it happened again.
I started the app and rode to the train station. There I stopped it and travelled by train for about one hour. I started the app again in the other train station and is seemed to be ok so I put the phone in my pocket. After I rode through the city I looked at the phone and there was no recording anymore, just the list of my tracks. I didn't

[2021-05-20 21:15] dennisguse commented on #780
Hypothesis (a): What you describe sounds as if OpenTracks is crashing or being stopped by Android.
Just to verify this hypothesis: when OpenTracks is not running (because it got terminated) and it is then started, the splash screen is shown (dark background only the logo) briefly.
Thus, the start screen aka track list is shown again.
However, the destination should not be recorded (see below).

Hy

[2021-05-20 21:19] dennisguse commented on #780
@mega-stoffel For hypothesis (b), the diagram should look like this (straight line starting at 1:30:00). I don't know why this happened, but that how "no GPS signal" looks like for quite some time (might also be power saving).

![Screenshot_20210520-231448_OpenTracks__Debug_](https://user-images.githubusercontent.com/2820825/119049879-6046a000-b9c1-11eb-866d-2f99a67cbd35.png)

[2021-05-21 05:53] dennisguse commented on #786
Duplicate of #24, but way more detailed.

It is actually not that complicated anymore as passing data to the UI while recording became way easier.

[2021-05-21 05:54] dennisguse commented on #54
This is implemented for all data while reocrding in https://github.com/OpenTracksApp/OpenTracks/commit/56ff7827dfb7a38c135fb66ce7041a7b41b29f9c

[2021-05-21 05:54] #54 closed

[2021-05-21 05:55] dennisguse commented on #418
Waiting for new builds on https://verification.f-droid.org

[2021-05-21 05:57] #753 closed

[2021-05-21 07:59] vsevjednom-cz opened #787 "3.18.1: App crashes after tap to intervals"
New error in last version 3.18.1.

**Describe the bug**
When I tap to intervals or chart in activity and after that tap to "back" without waiting for interval values app crashes.

**To Reproduce**
1. Go to some activity.
2. Tap to intervals.
3. Tap to "back" in your mobile.
4. App crashes.

`E/pentracks.debu: [qarth_debug:]  get PatchStore::createDisableExceptionQarthFile method fail.
E/AndroidRun

[2021-05-21 11:09] gordonel commented on #786
Eeeh, sorry about that. Do you think it would be best to close one of the dups in favour of the other?

[2021-05-21 11:37] gordonel commented on #782
Couldn't find a hardcoded timeout anywhere here, but I did try on another Pixel and had no luck on it either

[2021-05-21 11:44] gordonel commented on #782
I should clarify that I'm using an F-Droid version, not PlayStore version. I'll try building on my own to see if there's something funny going on with the F-Droid build

[2021-05-21 12:48] gordonel commented on #782
Did some bluetooth snooping, but couldn't find any HRM or anything. Here's the write request that should subscribe us
[code]
And here's a write response:
[code]

LMK if you need other packets or the whole dump

[2021-05-21 14:43] dennisguse commented on #787
I also saw a similar crash using v3.18.1

I guess unregistering in TrackDataHub regarding the ContenResolvers leads to a race condition.

[2021-05-21 21:09] dennisguse commented on #787
Just a quick fix.

@vsevjednom-cz Can you check if this fixes the issue for you?
It is not the nicest solution, but for now "okay".

[2021-05-21 21:21] vsevjednom-cz commented on #787
Yesss. It works amazing!

[2021-05-21 21:21] #787 closed

[2021-05-22 10:48] dennisguse commented on #786
@gordonel I really like your feature description; could you just add it to #24 and close this one?

[2021-05-22 11:07] gordonel commented on #24
**Is your feature request related to a problem? Please describe.**
I'd like to be notified if it's time to charge my devices or replace the batteries in advance.

**Describe the solution you'd like**
When starting an activity, OpenTracks should read the battery level if available and notify the user if it falls below a user-specified level. Also, the app can provide convenient readouts in the noti

[2021-05-22 11:07] gordonel commented on #786
Done

[2021-05-22 11:07] #786 closed

[2021-05-22 20:40] dennisguse commented on #787
@vsevjednom-cz Thanks for testing it!

[2021-05-22 20:50] gordonel commented on #782
@dennisguse I'm no expert, but nothing screams `Error` here. That said, I'm unable to test or purchase another heart rate monitor due to country-wide heart rate monitor shortage that's driven by the current COVID craze. What are your thoughts on getting this issue back into `potential bug` realm and what other troubleshooting should I try?

[2021-05-22 21:05] dennisguse commented on #782
@gordonel I am also clueless (henice I did not yet reply yet).
Everything looks okay... and then the sensor disconnects for no obvious reason.
Using nRF or IpSensorMan it works.
The last thing, we do is writing the characteristic and then *boom* aka nothing.

Next that you could try via OpenTracks:
* Put a lot of breakpoints into the BluetoothConnectionManager and see what happens.
   It might be

[2021-05-23 18:10] dennisguse opened #790 "KML: order of gx:coord and when is not specified"
**Is your feature request related to a problem? Please describe.**
We assume that:
[code]

But the actual order of elements is not specified by the KML standard.
The elements might even be
[code]
It is only specified that the `count(when) === count(gx:coords)`.

https://developers.google.com/kml/documentation/kmlreference

**Describe the solution you'd like**
We need to adapt the KML parser as we

[2021-05-23 18:14] dennisguse opened #791 "Workaround for #619: no barometric sensor => no gain/loss in IntervalStatistics"
intervalStatistics show 0m for gain/loss if no barometric sensor is present.
Can we replace this by a `-` or hide it even until we get #619?

[2021-05-24 11:44] gordonel commented on #782
I'd have to learn how to do that, so it might take some time

RunnerUP connects to the sensor and shows the readout without problems. FitoTrack doesn't have a settings entry for sensors and crashes when I try to start a workout session

Bluetooth HCI logs from dev options + wireshark

[2021-05-25 15:29] dennisguse commented on #790
@rgmf I need to refactor (actually re-implement) the import code.
It would be great if you would not touch anything there......
... it will be messy (I promise)
But it will take some (more) days.

[2021-05-25 20:13] Crashillo opened #795 "Allow rounding elevation scale domain"
**Is your feature request related to a problem? Please describe.**
In the image below, the elevation chart is barely meaningful, due to the scale begins at 0m, but the elevation mean was 750m-high roughly.
![photo_2021-05-25_21-55-35-2](https://user-images.githubusercontent.com/817526/119560857-c0b05580-bda4-11eb-926b-d394a7644732.jpg)

**Describe the solution you'd like**
Depicts a better range f

[2021-05-25 21:07] Crashillo commented on #795
Looking at my old tracklogs I noticed this feature was available back in late feb. Was it removed for any reason or just a bug?

[2021-05-26 14:41] dennisguse commented on #696
Actually fixed.

[2021-05-26 14:42] #696 closed

[2021-05-26 14:43] dennisguse commented on #795
That was not implemented.
It was mentioned in #235, but you description is way nicer.

[2021-05-26 14:43] #235 closed

[2021-05-26 17:14] dennisguse opened #796 "Importing: require monotonously increasing time (or re-order?)"
Importing a track where the time does not monotonously increase leads to a crash.

Seen via GooglePlay crash reporting.

Solution: we could re-order the trackpoints by timestamp.

[code]

[2021-05-26 17:14] dennisguse commented on #796
Wait for #790

[2021-05-26 22:14] abthediablo commented on #780
Well it seems that the bug was fixed with version 3.18.2 which I installed today.

And it seems the problem was to record a long track cause with 3.18.1 it was not a problem to start and continiue recording short tracks. But during a long cycling trip at the weekend the recording sopped after ~54km or 2:19h

Well and with 3.18.2 I was able to contunue this particular track or another track of ~288

[2021-05-27 06:58] FTno opened #797 "Delete service string"
This was recently added at Weblate for translation: "Delete service"

What's this? - to delete a service, or a deletion service

[2021-05-27 08:10] rgmf commented on #797
@FTno it's deletion service.
@FTno could you fix it and add a pull request?

[2021-05-27 08:31] #797 closed

[2021-05-27 08:39] mega-stoffel commented on #780
quick status update:
I can't get to the logs, the described method is way out of my capabilities.
I've installed the newer versions 3.18.1 & 3.18.2 via f-droid and haven't seen this behaviour anymore. But I didn't do excessive testing, just used the app on my daily trips. I will keep an eye on it.
Thank you! :-)

[2021-05-27 15:54] dennisguse commented on #780
@abthediablo @mega-stoffel thanks for testing it!
Glad that the issue is gone :partying_face:

Just close this for now; if it appears again, please let us know!

[2021-05-27 16:35] dennisguse commented on #782
RunnnerUp might be a good hint (see AndroidBLEHRProvider).
They do a descriptor read before trying to enable notifications.

I hacked something: https://github.com/OpenTracksApp/OpenTracks/tree/hr%23782
Can you give this a try?

RunnerUp code:
[code]

and they enable the notifications in the following callback
[code]

[2021-05-28 05:20] dennisguse opened #800 "Crash while recording: clock went backwards?"
Reported via Google PlayStore.

I guess, we have a case in which the clock was adjusted while recording.
And the TrackStatistics then react with a RuntimeException.

Just happened once so far since we implemented using the _system clock_ instead of the _gps time_.

[code]

[2021-05-28 05:24] dennisguse commented on #800
According to Android documentation, we may use some combination of `System.currentTimeMillis()` (once on track recording start) and later only use `elapsedRealtime()` to compute absolute timestamps ourselves.

https://developer.android.com/reference/android/os/SystemClock

[2021-05-29 09:42] Sonegide commented on #756
Hi there,
I am having the same issue, with the elevation gain/loss not showing in the first tab.
The odd thing is that it is visible in the charts of the third and fourth tabs.
On older tracks, with the same phone, it was only showing the elevation gain, but not loss (while I always ended where I started).

[2021-05-29 17:28] dennisguse commented on #756
@sonegide absolute elevation from the GPS is shown in the charts.
But these values cannot be directly used to get the elevation gain/loss.
We need to do some filtering etc before this is actual useful.
The issue is that GPS elevation is very noisy...

[2021-05-29 19:26] Sonegide commented on #756
I don't see any absolute value in the chart (if I understand correctly, that you mean total value).
In case, I include a screenshot.

In any case I agree with the noise, therefore it may not be so relevant for me to get this total at this stage.
Anyway, thank you for this app, it's great  :)

![signal-2021-05-29-212522](https://user-images.githubusercontent.com/62804718/120082657-71c83000-c0c4-11e

[2021-05-31 15:56] dennisguse opened #803 "Support for Android 12"
There are some relevant changes in Android 12 that might affect us:

* [x] https://developer.android.com/about/versions/12/approximate-location
* [x] https://developer.android.com/about/versions/12/features/bluetooth-permissions
* [x] https://developer.android.com/about/versions/12/features/splash-screen (nice to have) [would require API23; not happening]
* [x] targetSDK version 31

[2021-05-31 19:34] balajiramanathan commented on #778
I would be happy to help if you can tell me what help is needed.  I can read and understand basic XML and can edit KML and GPX files to create test cases if needed.  I am not a Java coder but I am a programmer by training, so I can help a little with logic if needed though not with the actual coding.

[2021-06-01 15:03] dennisguse commented on #778
@balajiramanathan That would be awesome!
You could start with GPX as it is simpler (in terms of different options that could happen).
Some ideas:
* https://github.com/OpenTracksApp/OpenTracks/issues/774
* https://github.com/OpenTracksApp/OpenTracks/issues/683
* and multiple tracks per file

And the simpler the files the better - makes debugging and thus maintenance simpler:
[code]

[2021-06-03 22:54] #780 closed

[2021-06-04 10:25] vsevjednom-cz opened #805 "Question: where is the default setting?"
Where are saved default settings? I can't find them. I want to change some default values.
And I need to change the default filename for example - I want to use id of user saved in sharedPref. I can't find where is generating of the filename.

[2021-06-04 15:50] #790 closed

[2021-06-04 15:50] #796 closed

[2021-06-04 15:59] dennisguse commented on #805
I guess, you are looking for:
* https://github.com/OpenTracksApp/OpenTracks/blob/01d83deefd115cf351ba1089a5a269d9742e2b6c/src/main/java/de/dennisguse/opentracks/util/TrackNameUtils.java

and the config options:
* https://github.com/OpenTracksApp/OpenTracks/blob/main/src/main/res/values/settings.xml
* https://github.com/OpenTracksApp/OpenTracks/blob/01d83deefd115cf351ba1089a5a269d9742e2b6c/src/main

[2021-06-04 17:30] dennisguse commented on #782
@gordonel Any updates?

[2021-06-04 17:31] gordonel commented on #782
Hey. Sorry for radio silence. Busy with work. This is on my plate

[2021-06-04 18:52] dennisguse commented on #805
@vsevjednom-cz Whats actually your plan?
Some user specific upload to some server based upon the file name?

[2021-06-04 19:24] vsevjednom-cz commented on #805
Yes, yes.
I've got idea to create better app + web than Strava 🤩. I created some [web interface](https://jedu.vsevjednom.cz/activity/2629) with [OpenLayers](https://openlayers.org/) and [ol-ext extension](https://viglino.github.io/ol-ext/) (amazing!!!) last year.

I'm trying to learn Kotlin/Java. GPS tracking at backgroud not works in Kotlin (I don't know how to do it). Your OpenTracks app is amaz

[2021-06-04 20:41] dennisguse commented on #805
Looks nice!
An alternative option would be: share the tracks from within OpenTracks via e-Mail with your system. Depending on the sender's address, you could import it to the correct account.
Not really secure (as emails might not be encrypted), but as a prototype that should work.

PS: Implementing GPS tracking just requires a foreground service.
Getting the data is simple, but then it starts to

[2021-06-06 10:12] vsevjednom-cz commented on #805
I decided save some users token to the gpx content, not to the filename. Example:
`printWriter.print("token=\"" + token + "\" ");`

I've got this: `public class LoginActivity extends AbstractActivity {` with method for get some saved token:
`    public String getValue(String name){
        SharedPreferences sharedPref = getPreferences(Context.MODE_PRIVATE);
        String value = sharedPref.getStr

[2021-06-06 10:12] vsevjednom-cz commented on #805
I decided save some user's token to the gpx content, not to the filename. Example:
`printWriter.print("token=\"" + token + "\" ");`

I've got this: `public class LoginActivity extends AbstractActivity {` with method for get some saved token:
`    public String getValue(String name){
        SharedPreferences sharedPref = getPreferences(Context.MODE_PRIVATE);
        String value = sharedPref.getSt

[2021-06-06 10:13] vsevjednom-cz commented on #805
I decided save some user's token to the gpx content, not to the filename. Example:
`printWriter.print("token=\"" + token + "\" ");`

I've got this: `public class LoginActivity extends AbstractActivity {` with method for get some saved token:
[code]

But i can't call this method from GPXTrackExporter. There's a problem because I'm calling non static function from static content. I can change method

[2021-06-06 10:43] dennisguse commented on #805
@vsevjednom-cz You can check the PreferencesUtils. That's how we access preferences in OpenTracks - almost all access is handled this way.
And I guess, you should pass the value via GPXTrackExporter's constructor.

Reason: from a static method, you don't have access to properties of the object.
You only can access static properties and parameters. That's it.

IMHO (not meant to discourage you; jus

[2021-06-07 07:00] rgmf opened #808 "Intervals doesn't work properly with TrackDataHub"
I'm improving Intervals using TrackStatisticsUpdater to compute the intervals and I found that Intervals are re-created every time the IntervalsFragment is resumed. It doesn't make sense because we're using ViewModel with LiveData that retain the intervals. That's because TrackDataHub is resumed every time IntervalsFragment is resumed and then TrackDataHub sends all track points again and again.

[2021-06-07 10:11] dennisguse commented on #808
Sounds good!
Does this only affect the IntervalFragment?
I am pretty sure that the ChartFragment is doing it something very similar...

[2021-06-07 14:32] rgmf commented on #808
Yes, I think so too.

I'll check it out too.

[2021-06-08 14:38] fmmaresca commented on #430
No. I'm locked for now, not going out cycling. Last time I've tried the issue was there. Sorry.

[2021-06-08 15:10] #648 closed

[2021-06-08 15:27] dennisguse opened #810 "UI+sensor: speed and distance not shown properly"
While using a speed sensor, the UI should show all overall distance and speed even if the GPS is off.

[2021-06-08 15:45] vsevjednom-cz commented on #805
More applications are to too complicated for users. But you're right about maintenance (rename classes etc.). I created LoginActivity class with login and UploadActivity class with upload. It only looks into the folder and upload/delete all GPXs. Manual tap to the upload gpx files is worse than automatic but it's ideal in this situation.

Thank you for the tips! 🚀

[2021-06-08 20:37] vsevjednom-cz commented on #805
Last one question: Where can I change some default settings? For example - I want to turn on instant export and I want to set the GPX format.
I tried to search in settings.xml without success 🤪.

[2021-06-08 20:51] dennisguse commented on #805
[code]

For valid values check: `TrackFileFormat`.

[2021-06-09 08:07] vsevjednom-cz commented on #805
Yes! Can I set default export directory? For example something like this: getExternalFilesDir()+File.separator+"DIRECTORYFOREXPORT" (Android/data/*/files/DIRECTORYFOREXPORT). I can't see settings_default_export_directory_key_default 🧐. This is really last question, I promise 🤩.

[2021-06-09 10:54] dennisguse commented on #805
Not possible; we are using ScopedStorage and get the folder selection from the user.
It's in the SettingsActivity; there is an intent that is requesting it.
And we store the response.

You may do this directly after your LoginActivity is done.

[2021-06-09 20:34] dennisguse commented on #805
@vsevjednom-cz Don't worry about asking questions :)

[2021-06-10 10:40] vsevjednom-cz commented on #805
Thank you! Great idea about folder selection!

I'm trying to set the folder automatically in LoginActivity (it's useless without login) like this:

        String dir = getExternalFilesDir(null)+File.separator+"EXPORT"; //Android/data/*/files/EXPORT
        ...
        Uri directoryUri = Uri.parse(dir);
        PreferencesUtils.setDefaultExportDirectoryUri(sharedPreferences, this, directoryUri);

[2021-06-10 14:53] dennisguse commented on #805
That does not work (due to scoped storage): https://developer.android.com/about/versions/11/privacy/storage

This preference config is used to get the user approval for a directory.
This actually opens a directory chooser (Android OS) and returns us the URI to this folder.
And then we can write into it.
[code]

And to set the preferences: you can this via sharedPreferences as usual.
We did not imp

[2021-06-10 15:52] gordonel commented on #782
@dennisguse I'm back. Sorry for the delay.

Nothing on your branch, unfortunately

[2021-06-10 15:58] Altonss opened #814 "The icon of OpenTracks is way too small on my Android 5"
**Describe the bug**
The icon of OpenTracks is way too small on my Android 5 phone.

**To Reproduce**
1. Probably you first need a similar phone
2. Look an the app icon on the launcher

If applicable:
![image](https://user-images.githubusercontent.com/66519591/121557523-19265a80-ca15-11eb-89aa-592b4f8a0008.png)

**Technical information**
 - Device: [Samsung Galaxy Core Prime]
 - OS: [Android 5.0.2

[2021-06-10 16:22] dennisguse commented on #814
Yes, I removed the downward compatible PNGs and we now use the a vector graphic (hope to avoid problems for reproducible builds). Introduced in v3.18.3.

@Altonss Can you compile to test it on your device?

[2021-06-10 16:23] dennisguse commented on #782
@gordonel I meant this commit: https://github.com/OpenTracksApp/OpenTracks/commit/b22d555e5750edbb350098040dee468439ff55ef
It is on this branch: https://github.com/OpenTracksApp/OpenTracks/tree/hr%23782

[2021-06-10 16:27] Altonss commented on #814
Thanks for your quick reply!
Ok you mean that there might be an issue with the vector graphic scaling on older devices?
What should I compile? A version with a bugfix? Sorry that I didn't fully understand your answer :)

[2021-06-10 16:35] dennisguse commented on #814
:)

Yes, it is a scaling issue that might affect devices pre-Android 8.0; afterwards we have an adaptive icon.
So, far included pre-rendered PNGs and I wanted to get closer to create reproducible builds.
And PNGs might be randomly modified while building the APK: https://f-droid.org/en/docs/Reproducible_Builds/
(and we save some APK size)

Commit: https://github.com/OpenTracksApp/OpenTracks/commit

[2021-06-10 16:36] dennisguse commented on #814
Link to old issue, but for adaptive icons on Xioami: https://github.com/OpenTracksApp/OpenTracks/issues/121

[2021-06-11 09:58] vsevjednom-cz commented on #805
I understand. Can I get only a value of export directory? I want to show a notification when directory is not set or is set differently.

I found this:
[code]
But I can't find `findPreference` method.

[2021-06-11 17:25] #810 closed

[2021-06-12 06:34] vsevjednom-cz commented on #805
and... it doesn't matter which folder. User can set some directory and I can upload GPX files from this.  This is the reason why I need to get directory from preferences.

[2021-06-12 07:30] dennisguse commented on #805
Just check for `PreferencesUtils.getDefaultExportDirectoryUri(sharedPreferences, getApplicationContext());` for `null`, then the user has not yet set an export directory.
BUT the user might still revoke access to this folder from outside of OpenTracks.
If this happens, we still have the location stored in the preferences, but we cannot export something.

[2021-06-12 18:15] vsevjednom-cz commented on #805
Yes! This is it! I can refer people to settings and I can sync GPX files from a directory that people have set up.
It's amazing!
😍 🚀

[2021-06-13 06:20] dennisguse commented on #30
I guess, we don't need to this as we somehow do this by only recording if a _significant_ distance from the previous location was reached.

[2021-06-13 06:20] #30 closed

[2021-06-13 06:22] dennisguse commented on #213
I guess, we still need this functionality.
I was using a separate speed sensor for cycling and even this one somehow varies like GPS.

[2021-06-13 06:22] #213 closed

[2021-06-13 09:37] dennisguse commented on #782
@gordonel Then I am (again) out of options/ideas.
So, I guess you are on your own...
It might be some kind of timing issue, and you might be able to analyze by putting some breakpoints into BluetoothConnectionManager.

[2021-06-13 09:42] gordonel commented on #782
That's unfortunate. Please don't delete the branch. I'll try to work on top of it

[2021-06-13 17:15] dennisguse opened #815 "(not yet released) NPE when using no speed sensor"
[code]

Best guess, introduced in https://github.com/OpenTracksApp/OpenTracks/commit/2f0449c4209633417d798b7b0f108a99f46956ad

[2021-06-15 15:08] #703 closed

[2021-06-15 15:08] #808 closed

[2021-06-15 15:13] rgmf commented on #779
It won't be "fixed"... see https://github.com/OpenTracksApp/OpenTracks/pull/801

So I think it can be closed for now.

[2021-06-15 15:13] #779 closed

[2021-06-15 15:47] dennisguse commented on #815
Fixed in https://github.com/OpenTracksApp/OpenTracks/commit/47a340578f954f8adc3383d83b4015d8c6e0bb25

[2021-06-15 15:47] #815 closed

[2021-06-15 20:49] dennisguse opened #816 "Make F-Droid store listings translatable (via Weblate)"
aka `fastlane/metadata/android/SOMETHING-SOMETHING/`
* full_description.txt
* title.txt
* short_description.txt

Out of scope: changelogs.

[2021-06-15 20:52] dennisguse opened #817 "Failing test: espressoDeleteTrackTest"
i get:
[code]

![image](https://user-images.githubusercontent.com/2820825/122121559-128c4e80-ce2c-11eb-956a-e807dd1a1fbb.png)

PS: Please ignore EspressoCategoryUnitTest as this is a problem with localization setting.

[2021-06-16 06:09] dennisguse commented on #816
Done: https://weblate.bubu1.eu/projects/OpenTracks/app-store-metadata-files/

[2021-06-16 06:11] dennisguse commented on #816
@mondlicht-und-sterne As head of translations, does this work?

[2021-06-16 14:23] rgmf commented on #817
I can reproduce the error in AVD API 22 but not in AVD API 28 and 29 :neutral_face:

In other way, in API 28 and API 29 EspressoDeleteTrackTest doesn't work because when it clicks on record button it doesn't move to TrackRecordingActivity and it continues in TrackListActivity.

[2021-06-16 15:15] rgmf opened #820 "Customizable Recording Layout"
**Description**
We have a grid to show data fields in the recording layout:

![imagen](https://user-images.githubusercontent.com/4819612/122245056-ac540a00-cec5-11eb-8436-d33cd1218ba4.png)

From settings, users will been able to select the data fields they want to see and the order in the recording layout grid.

To do that we can use a “Preference action” that start a new Activity. (https://develo

[2021-06-16 15:54] edern-appere commented on #820
This enhancement would be realy awesome. Many bike computers allow this kind of customization.

One thing that could be great also is to allow to put some of the information displayed bigger than others. For example : when riding a bike, the current speed needs to be displayed in bigger size than average speed.

[2021-06-16 21:06] rgmf commented on #820
I'll consider it. For now, I have no idea how to do that un terms of UX/UI... Some idea?

[2021-06-16 21:25] edern-appere commented on #820
Well... when I wrote this, I had not read what you mentionned in the discussion #813
At first my only goal was that it would be great to have the current speed at the same size than the informations displayed on the upper row (which currently are distance, activity and time). But I think your customization system would be better because it allows a full range of different settings for each type of

[2021-06-17 20:22] dennisguse commented on #817
I did not check this yet. I will try to take a look at the weekend ;)

[2021-06-17 20:34] dennisguse commented on #820
I like the idea for the configuration dialog!

Technical detail: I would rather store the UI information into one preference field (e.g., `speedCurrent;distance;speedAverage;elevation;gain;loss`).
It would be easier too handle (and to reset if we upgrade), way easier to figure out how it should look like (if one has to debug something), and we might need several layouts (by activity) in the future

[2021-06-17 21:14] dennisguse opened #821 "Linting reported missing permission"
[code]

[2021-06-17 21:18] #821 closed

[2021-06-18 07:33] pstorch commented on #816
If it works, I want to set it up for the OSMDashboard as well.

[2021-06-18 10:07] dennisguse commented on #816
Works like charm.

I just disabled the translations for the changelogs by setting them read-only.
I guess it is not worth the effort to translate those.

And almost not configuration needed: https://docs.weblate.org/_/downloads/en/weblate-3.11/pdf/
![image](https://user-images.githubusercontent.com/2820825/122545047-b264fa80-d02d-11eb-9245-78c75ce25698.png)

[2021-06-18 10:09] #816 closed

[2021-06-18 11:35] mondlicht-und-sterne commented on #816
I'll take care of it from 28.6 after my holiday.

[2021-06-18 15:46] pstorch commented on #816
@dennisguse how did you do that?

[2021-06-18 15:56] dennisguse commented on #816
Like this; but I am not sure if this also applies to new files :man_shrugging:

https://docs.weblate.org/en/latest/admin/addons.html

![image](https://user-images.githubusercontent.com/2820825/122587739-7dbd6700-d05e-11eb-93ce-2c21c6d40889.png)

[2021-06-18 16:05] pstorch commented on #816
@dennisguse thanks. Maybe I'll keep them for now, because I realized I have translated changelogs in the OSMDashboard :laughing:

[2021-06-18 16:09] dennisguse commented on #816
I just wanted to avoid that people start translating them as the value is rather limited, but hey if somebody wants to why not ><

[2021-06-18 17:08] mondlicht-und-sterne commented on #816
i am on holiday now and i can translate it after 28.6.2021

[2021-06-19 08:11] dennisguse commented on #816
@mondlicht-und-sterne enjoy it ;)

[2021-06-19 08:21] velocitea commented on #800
My problem might be connected with this issue. My newest record seemed to work fine, but when I try to open the plots over time or distance, the app crashes consistently with the following exception

[code]
I'm running LineageOS 18.1

[2021-06-19 09:12] dennisguse commented on #800
@velocitea Interesting.
Was the track recorded with OpenTracks?
As this crash should already be happening while the recording is running.
And if you recorded it with OpenTracks did you do something different than usual?

To fix a track: you can export and re-import it.
We reorder the trackpoints by time then (as of v3.18.3).

[2021-06-19 10:15] velocitea commented on #800
Yes it was recorded with OpenTracks and I didn't notice any problem before trying to display the charts. All stats seem to be correct like distance, time, pace etc. I am not sure if I did anything different, but actually i might have stopped and resumed. Also, I noticed the doc.kml is split in 3 tracks.

[2021-06-19 10:22] dennisguse commented on #800
:confused:
That should not happen; we do the same computation while recording as well as for displaying the charts.
So, the crash should also happened while recording.
While recording this happening in TrackRecordingService (while recording to compute the TrackStatistics for the DB) and TrackDataHub for the UI (recording and afterwards; just used for charts).
Or we have a different problem...

(no

[2021-06-19 17:27] JahidFariz opened #823 "OpenTracks not working"
I'm using Oppo F1 plus. OpenTracks v3.18.3* + was unable to install on Android version 5.1 anymore.

I tried to install the app from the F-Droid app and F-Droid weblink but it won't work.

[2021-06-19 17:44] dennisguse commented on #823
I guess, the APK is then not yet uploaded to F-Droid.
That happens every now and then that the catalogue is already uploaded, but the APKs not.
I guess, you just need to wait some hours.
Usually, the F-Droid people resolve this rather quickly.

[2021-06-19 17:44] #823 closed

[2021-06-19 18:44] dennisguse commented on #823
Just checked F-Droid and I could download the APK.
@JahidFariz If there is something else broken, please re-open this issue.

[2021-06-19 19:36] rgmf commented on #820
Big technical detail!!! Thank you, I didn't found out such a possibility.

What I did at this moment is this:

[code]

Because we need translation strings. Later in the code I transform the array with default values in the string you pointed out: `speedCurrent;distance;speedAverage;elevation;gain;loss`

[code]

[2021-06-20 07:00] vsevjednom-cz opened #824 "Individual export"
GPX is exported when I stop the measurement - that's ok but: Is possible to update a name of the activity in the existed GPX file when I changed it later? Simple solution: delete original GPX file and export a new - only when original GPX file exists.

[2021-06-20 07:55] vsevjednom-cz opened #825 "Create a hidden file in the export directory"
I've got the Android 9.1.0. Export directory is set.  But Android deletes directory everyday when directory is empty and when I create new directory in root directory for GPX export.

So is possible to create "hidden" file in this directory?

Like this:
[code]

[2021-06-20 07:58] #805 closed

[2021-06-20 14:09] dennisguse commented on #825
That is possible, but it would be better to figure out why an empty folder gets deleted (or rather by whom).
At least on my devices, I never saw such a behavior.

[2021-06-20 14:21] dennisguse commented on #824
That might be an easy option, but also make our life messy.
What you actually want to do is to implemented synchronization between different devices (aka mobile and a server or even mobile and mobile).
And that is messy as you have to figure which one was the most recent version.

Implementing an overwrite option would (in my opinion) require at least a check if the file that we are going to overw

[2021-06-20 16:06] SlidingHorn opened #826 "Recording Settings Definitions"
This is probably a stupid question, but I was curious as to what exactly the "Recording Distance Interval" and "Max Distance" settings are.

The former _sounds_ redundant (if "Recording Time Interval" is used), which makes me think it does something other than what I originally thought.

The other, I have no idea what it does.

The reason I'm curious is that I also use my Tracks as GPS Traces to u

[2021-06-20 16:14] dennisguse commented on #826
* Recording time interval: how often do we want to get updates from the GPS?
* Max distance: create a new segment if the last location is farther away than XXX
* GPS accuracy: ignore every GPS measurement with an accuracy larger than XXX
* Recording distance interval: ignore every GPS measurement if the last location it is closer than XXX

Does this help?

PS: We should probable re-translate all o

[2021-06-20 16:25] SlidingHorn commented on #826
That helps immensely. Thank you for clearing that up for me.

[2021-06-20 16:27] vsevjednom-cz commented on #824
It looks like synchronization between devices but no. It's only synchronization in OpenTracks. I can synchronize it with other devices after that. I want new export (with new nameof activity) only if GPX file exists 🙃.